<ng-templat>
   <style>
      .ads-top {
         width: 100%;
         min-height: 50px;
         cursor: pointer;
      }

      .ads-top .img {
         width: 1200px;
         margin: auto;
         position: relative;
      }

      .ads-top .img img {
         display: block;
         margin: auto;
         max-width: 100%;
         width: 100%;
      }

      @media screen and (max-width: 1200px) {
         .ads-top .img {
            width: 1000px;
         }
      }

      .ads-top .ads-top-close {
         background: #999;
         color: #ffffff;
         position: absolute;
         top: 10px;
         right: 15px;
         text-align: center;
         cursor: pointer;
         font-size: 18px;
         width: 22px;
         box-sizing: border-box;
      }


      .ads-top .ads-top-close:hover {
         background: #666;
      }

   </style>
   <div class="ads-top" ng-if="topads.data.length" ng-style="{'background':topads.data[0].mobile_link}" ads-click="topads.data[0]">
      <div class="img">
         <img ng-src="{{topads.data[0].ad_img}}" alt="">
         <div class="ads-top-close" ng-click="close($event)">×</div>
      </div>
   </div>
</ng-templat>