<style>
    .fileDiv{float:left;width:100px;height:100px;text-align:center;line-height:100px;font-size:12px;border:1px solid #d9d9d9;margin-right:10px;margin-bottom:10px;}
    .seled{border:1px solid red;background-color:#D6DFF7;}
    .bulk-order-main .bulk-order-table table td:hover{background-color:#ebebeb;}
</style>
<div class="bulk-order-main">
    <div class="bulk-order-head">
        <div class="order-head-img">
            <img ng-src={{goodsImg}} alt="">
        </div>
        <h2>{{goodsName}}</h2>
        <p>建议零售价格：<span>￥{{market_price}}元</span></p>
        <p> 批发价：<span style="font-size: 16px;">￥{{shop_price}}元</span></p>
        <!--<div class="bulk-order-car">购物车<span>９</span>件</div>-->
    </div>
    <div class="bulk-order-table" ng-bind-html="table">
        <!--<table class="bulk-table" width="100%" border="0" cellpadding="0" cellspacing="1">-->
            <!--<tbody>-->
                <!--<tr>-->
                    <!--<th class="f5 table-origen" width="10%"><span>球镜</span><span>柱镜</span></th>-->
                    <!--<th class="f5"  width="10%">0.00</th>-->
                    <!--<th class="f5"  width="10%">0.00</th>-->
                    <!--<th class="f5"  width="10%">0.00</th>-->
                    <!--<th class="f5"  width="10%">0.00</th>-->
                    <!--<th class="f5"  width="10%">0.00</th>-->
                    <!--<th class="f5"  width="10%">0.00</th>-->
                    <!--<th class="f5"  width="10%">0.00</th>-->
                    <!--<th class="f5"  width="10%">0.00</th>-->
                    <!--<th class="f5"  width="10%">0.00</th>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td class="f5"  width="10%">0.00</td>-->
                    <!--<td width="10%"><input type="text" value=""></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td class="f5"  width="10%">0.00</td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td class="f5"  width="10%">0.00</td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td class="f5"  width="10%">0.00</td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td class="f5"  width="10%">0.00</td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td class="f5"  width="10%">0.00</td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td class="f5"  width="10%">0.00</td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                    <!--<td width="10%"></td>-->
                <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    </div>
    <div class="bulk-order-total">
        <p>小计： <span class="count_num">0</span>件/<span>￥<font class="count_pic">0</font> </span></p>
        <button ng-click="join()" class="add_to_cart" data-id={{goodsId}}>加入购物车</button>
        <input type="hidden" class="shop_price" name="shop_price" value="">
    </div>
    <div class="bulk-order-ano-table">
        <table width="100%">
                <tr>
                    <th>数量</th>
                    <th>球镜</th>
                    <th>柱镜</th>
                    <th ng-if="zhouwei">轴位</th>
                    <th ng-repeat="th in specification">{{th.name}}</th>
                    <th width="250">价格</th>
                    <th width="135">操作</th>
                </tr>
                <!--<tr>-->
                    <!--<td width="135">125214</td>-->
                    <!--<td width="250">-4.5</td>-->
                    <!--<td width="250">-4.5</td>-->
                    <!--<td width="250">∅70</td>-->
                    <!--<td width="250">4.5</td>-->
                    <!--<td width="135">1工作日</td>-->
                <!--</tr>-->
            <tbody id="order">
            </tbody>
        </table>
    </div>
</div>
