<div class="panel-left">
	<div class="control-bt" style="cursor: pointer;" ui-sref="control-mb" ui-sref-active="onp">
		<em class="ico"></em>控制面板</div>
	<div class="control-list aotms">
		<h3 class="control-h3">
			<em class="coe-1"></em>交易管理</h3>
		<div class="control-nr">
			<p ui-sref="order-all" ui-sref-active="onp">
				<a>我的订单</a>
			</p>
			<p ui-sref="order-list-d" ui-sref-active="onp">
				<a>铺货订单</a>
			</p>
			<p ui-sref="myCollect" ui-sref-active="onp" ui-sref-active="onp">
				<a>我的收藏</a>
			</p>
			<p ui-sref="person-integral" ui-sref-active="onp">
				<a>积分管理</a>
			</p>
			<p ui-sref="person-yhq" ui-sref-active="onp">
				<a>优惠券管理</a>
			</p>
		</div>
	</div>
	<div class="control-list">
		<h3 class="control-h3">
			<em class="coe-2"></em>服务中心</h3>
		<div class="control-nr">
			<p ui-sref="person-process" ui-sref-active="onp">
				<a>来镜加工</a>
			</p>
			<p ui-sref="person-return-repair" ui-sref-active="onp">
				<a>返修退换货</a>
			</p>
			<p ui-sref="parson-msg-center" ui-sref-active="onp">
				<a>消息中心</a>
			</p>
		</div>
	</div>
	<div class="control-list">
		<h3 class="control-h3">
			<em class="coe-3"></em>资产中心</h3>
		<div class="control-nr">
			<!-- <p ui-sref="SHD" ng-class="{'onp': ('SHD' | includedByState)}">
				<a>商户贷</a>
			</p> -->
			<p ui-sref="zijin-mana" ui-sref-active="onp">
				<a>资金管理</a>
			</p>
			<p ui-sref="person-invoices" ui-sref-active="onp">
				<a>发票管理</a>
			</p>
		</div>
	</div>
	<div class="control-list">
		<h3 class="control-h3">
			<em class="coe-4"></em>个人设置</h3>
		<div class="control-nr">
			<p ui-sref="EmployeeM" ui-sref-active="onp">
				<a>员工管理</a>
			</p>
			<p ui-sref="person-qy-lxrmsg" ui-sref-active="onp">
				<a>企业信息</a>
			</p>
			<p ui-sref="person-save-center" ui-sref-active="onp">
				<a>安全中心</a>
			</p>
			<p ui-sref="person-mana-addr" ui-sref-active="onp">
				<a>管理收货地址</a>
			</p>
		</div>
	</div>
	<div class="control-list">
		<h3 class="control-h3" ng-click="loginOut()" style="cursor: pointer;">
			<em class="coe-5"></em>安全退出</h3>
	</div>
</div>