<style>
	.emp_box{padding: 0 20px;}
	.an-right .yz_text{width: 288px;padding: 0 10px !important;height: 40px;
    line-height: 38px;
    border: 1px solid #d9d9d9;
    color: #666;
    font-size: 14px;float: left;}
    .an-right .yz_img{width: 120px;height: 40px;border:1px solid #d9d9d9;text-align: center;float: left;margin-left: 10px;background: #fff;cursor: pointer;}
    .an-right .yz_img img{height: 38px;width: auto;max-width: 100%;}
    .an-right .yz_btn{width: 122px;height: 42px;background: #4169a3;color: #fff;font-size: 14px;margin-left: 10px;border: none;cursor: pointer;}
    .an-right .an-job{width: 100%;overflow: hidden;height: 40px;margin-bottom: 10px;padding-top: 5px;}
    .an-right .an-job .an-job-d{width: 100px;height: 35px;line-height: 35px;text-align: center;position:relative;float:left;margin-right: 15px;}
    .an-job .an-job-d input{position: absolute;top:0;left: 0;width: 100%;height: 100%;opacity: 0;cursor: pointer;}
    .an-job .an-job-d label{display: block;width: 100%;height: 100%;font-size: 14px;color: #ffffff;background: #cccccc;}
    .an-job .an-job-d input:checked + label{background-color: #4169a3;}
    .an-job1{overflow: hidden;}
    .an-job1 .an-job-d{width: 100px;height: 35px;line-height: 35px;text-align: center;position:relative;float:left;margin-right: 15px;}
    .an-job1 .an-job-d input{position: absolute;top:0;left: 0;width: 100%;height: 100%;opacity: 0;cursor: pointer;}
    .an-job1 .an-job-d label{display: block;width: 100%;height: 100%;font-size: 14px;color: #ffffff;background: #cccccc;}
    .an-job1 .an-job-d input:checked + label{background-color: #4169a3;}
	 .location .add-nr{
		min-height: 100%;
	 }
	 .location .add-nr .addn-t{
		margin: auto;
	}
    .location .add-nr .addn-t td{padding: 10px 0;}
    .an-job1 .sent-job{width: 280px;padding:0 15px;font-size: 14px;color: #999999;height: 33px;border: 1px solid #e5e5e5;}
    .an-right .an-qx{width: 100%;height: 40px;overflow: hidden;line-height: 40px;}
    .an-right .an-qx li{width: 130px;height: 40px;line-height: 40px;font-size: 12px;color: #666666;float: left;}
    .an-right .an-qx li input{width: 17px;height: 17px;border: 1px solid #e5e5e5;border-radius: 3px;background-color: #fff;cursor: pointer;margin-right: 10px;position: relative;top: -1px;}
    .an-right .an-qx li input:checked{background: #4169a3 url(../img/duih.png) no-repeat center;
    background-size: 10px;border-color:#4169a3;}
    .emp_tab table{width: 100%;border:1px solid #e5e5e5;}
    .emp_tab tr{border:1px solid #e5e5e5;}
    .emp_tab th{height: 40px;text-align: center;font-size: 14px;color: #4c4c4c;}
    .emp_tab td{padding: 20px 0;text-align: center;font-size: 12px;color: #808080;}
    .emp_tab td a{font-size: 12px;color: #4169a3;}
    .emp_tab td a.cz_a{font-size: 12px;color: #4169a3;}
    .emp_tab td a.cz_a.disabled{pointer-events: none;color: #999999;}
	 
</style>
<div class="route mb20">
	<div class="gird">
		当前位置：<a href="#/home">首页</a> > <a href="#/control-mb">用户中心</a>&gt;{{title}}
	</div>
</div>
<div class="msg-center-main" style="margin-bottom: 25px;">
	<div class="im-panel gird cle">
		<ng-template ng-include="'Template/control-tool.html'"></ng-template>
		<div class="panel-right">
			<div class="control-wrp">
				<div class="cont-bd">
					<div class="contacts-wrap czhi">
						<div class="location mb20">
							<div class="addc">
								<a style="cursor:pointer;display: block !important;" ng-if="canAddUser" class="ad-btn js_adbtn" ng-click="addStaff()">添加员工</a>
								<!-- <a style="cursor:pointer;display: block !important;" class="ad-btn js_adbtn" ng-click="getStaffList()">刷新列表</a> -->
							</div>
							<div class="add-nr js_adbr" style="display: none;">
								<table class="addn-t">
									<tr ng-if="(userId>0||type=='yet')&&userInfo || type=='new'">
										<td width="170" valign="top">
											<div class="an-left">
												<em>*</em> 真实姓名：</div>
										</td>
										<td>
											<div class="an-right">
												<input ng-model="formData.true_name" ng-disabled="(userId>0||type=='yet')&&userInfo" class="text" name="true_name" type="text" placeholder="请输入姓名" />
											</div>
										</td>
									</tr>
									<tr ng-if="(userId>0||type=='yet')&&userInfo || type=='new'">
										<td width="170" valign="top">
											<div class="an-left">
												<em>*</em> 手机号：</div>
										</td>
										<td>
											<div class="an-right">
												<input ng-model="formData.mobile_phone" ng-disabled="(userId>0||type=='yet')&&userInfo" class="text" name="mobile_phone" type="text" placeholder="请输入手机号" />
											</div>
										</td>
									</tr>
									<tr ng-if="!(userId>0)&&userInfo || type=='new'">
										<td width="170" valign="top">
											<div class="an-left">
												<em>*</em> 输入验证码：</div>
										</td>
										<td>
											<div class="an-right">
												<input ng-model="formData.str_verify" class="yz_text" name="str_verify" type="text" placeholder="请输入验证码" />
												<div class="yz_img">
													<img ng-click="codeFn()" src="{{verifyImg}}" />
												</div>
											</div>
										</td>
									</tr>
									<tr ng-if="!(userId>0)&&userInfo || type=='new'">
										<td width="170" valign="top">
											<div class="an-left">
												<em>*</em> 输入手机验证码：</div>
										</td>
										<td>
											<div class="an-right">
												<input ng-model="formData.phone_code" class="yz_text" name="phone_code" type="text" placeholder="请输入验证码" />
												<input type="button" ng-disabled="vdisabled" ng-click="getMobileCode()" ng-value="vvalue" class="yz_btn" />
											</div>
										</td>
									</tr>
									<tr>
										<td width="170" valign="top">
											<div class="an-left">
												<em>*</em> 账户名：</div>
										</td>
										<td>
											<div class="an-right">
												<input ng-model="formData.user_name" ng-disabled="(userId>0||type=='yet')&&userInfo" class="text" type="text" name="user_name" placeholder="请输入账号" />
											</div>
										</td>
									</tr>
									<tr ng-if="!(type=='yet'||userId>0)">
										<td width="170" valign="top">
											<div class="an-left">
												<em>*</em> 输入密码：</div>
										</td>
										<td>
											<div class="an-right">
												<input ng-model="formData.password" name="password" class="text" type="password" placeholder="请输入密码" />
											</div>
										</td>
									</tr>
									<tr ng-if="!(type=='yet'||userId>0)">
										<td width="170" valign="top">
											<div class="an-left">
												<em>*</em> 确认密码：</div>
										</td>
										<td>
											<div class="an-right">
												<input ng-model="formData.cpassword" name="cpassword" class="text" type="password" placeholder="请再次密码" />
											</div>
										</td>
									</tr>
									<tr ng-if="(userId>0||type=='yet')&&userInfo || type=='new'">
										<td width="170" valign="top">
											<div class="an-left">
												<em>*</em> 职位：</div>
										</td>
										<td>
											<div class="an-right">
												<div class="an-job" ng-style="{'opacity':userId>0&&userInfo.data.is_myself==1?'0.3':'1'}">
													<div class="an-job-d">
														<input ng-disabled="userId>0&&userInfo.data.is_myself==1" ng-model="formData.position" type="radio" value="老板" name="position" />
														<label for="position">老板</label>
													</div>
													<div class="an-job-d">
														<input ng-disabled="userId>0&&userInfo.data.is_myself==1" ng-model="formData.position" type="radio" value="财务" name="position" />
														<label for="position">财务</label>
													</div>
													<div class="an-job-d" name="position">
														<input ng-disabled="userId>0&&userInfo.data.is_myself==1"  ng-model="formData.position" type="radio" value="采购经理" name="position" />
														<label for="position">采购经理</label>
													</div>
													<div class="an-job-d">
														<input ng-disabled="userId>0&&userInfo.data.is_myself==1" ng-model="formData.position" type="radio" value="店长" name="position" />
														<label for="position">店长</label>
													</div>
													<div class="an-job-d">
														<input ng-disabled="userId>0&&userInfo.data.is_myself==1" ng-model="formData.position" type="radio" value="店员" name="position" />
														<label for="position">店员</label>
													</div>
												</div>
												<div class="an-job1" ng-if="userInfo.data.is_myself!=1">
													<input ng-model="formData.position" type="text" placeholder="填写职位" class="sent-job" />
												</div>
											</div>
										</td>
									</tr>
									<tr ng-if="(userId>0||type=='yet')&&userInfo || type=='new'">
										<td width="170" valign="top">
											<div class="an-left">
												<em>*</em> 权限：</div>
										</td>
										<td>
											<div class="an-right">
												<ul class="an-qx">
													<li ng-repeat="item in authority">
														<label ng-style="{'opacity':userId>0&&userInfo.data.is_myself==1?'0.3':'1'}" style="cursor: pointer;" for="{{item.value}}">
															<input ng-model="item.checked" ng-change="changeAccess($event,item.value)" name="{{item.value}}" id="{{item.value}}" type="checkbox" class="an-qx-che" ng-disabled="userId>0&&userInfo.data.is_myself==1" />
															<span>{{item.label}}</span>
														</label>
													</li>
												</ul>
											</div>
										</td>
									</tr>
									<tr ng-if="(userId>0||type=='yet')&&userInfo || type=='new'">
										<td width="170" valign="top">
											<div class="an-left">
												<em>*</em> 状态：</div>
										</td>
										<td>
											<div class="an-right">
												<ul class="an-qx mb10">
													<li>
														<label style="cursor: pointer;" ng-style="{'opacity':userId>0&&userInfo.data.is_myself==1?'0.3':'1'}" for="staff_status">
															<input id="staff_status" name="staff_status" type="radio" value="1" ng-model="formData.staff_status" class="an-qx-che"  ng-disabled="userId>0&&userInfo.data.is_myself==1"/>
															<span>启用</span>
														</label><!-- formData.staff_status -->
													</li>
													<li>
														<label style="cursor: pointer;" ng-style="{'opacity':userId>0&&userInfo.data.is_myself==1?'0.3':'1'}" for="staff_status1">
															<input id="staff_status1"  name="staff_status" type="radio" value="0" ng-model="formData.staff_status" class="an-qx-che"  ng-disabled="userId>0&&userInfo.data.is_myself==1"/>
															<span>禁用</span>
														</label>
													</li>
												</ul>
											</div>
										</td>
									</tr>
									<tr>
										<td></td>
										<td>
											<div class="an-right">
												<div class="olp-anniu">
													<a ng-if="!(type=='yet'&&!userInfo) && !(userId>0&&userInfo.data.is_myself==1)" style="cursor:pointer;" class="he js_querg"
													 ng-click="save()">确认并保存</a>
													<a ng-if="type=='yet'&&!userInfo" style="cursor:pointer;" class="he js_querg" ng-click="getNext()">下一步</a>
													<a style="cursor:pointer;" class="ix js_querg" ng-click="cancelStaffEditor()">取消</a>
												</div>
											</div>
										</td>
									</tr>
								</table>
							</div>
							<!--编辑框-->
						</div>
						<div class="emp_tab">
							<table>
								<tr>
									<th>会员账号</th>
									<th>姓名</th>
									<th>手机号</th>
									<th>职位</th>
									<th>状态</th>
									<th>操作</th>
								</tr>
								<tr ng-if="!staffList"><td colspan="6"><my-loading style="text-align: center;"></my-loading></td></tr>
								<tr ng-if="staffList&&!staffList.length"><td colspan="6">暂无账号，请<a href="" ng-click="addStaff()" >添加</a></td></tr>
								<tr ng-repeat="item in staffList">
									<td>{{item.user_name}}</td>
									<td>{{item.true_name}}</td>
									<td>{{item.mobile_phone}}</td>
									<td>{{item.position}}</td>
									<td>
										<span ng-if="item.is_checks==1" class="red">启用</span>
										<span ng-if="item.is_checks==0">禁用</span>
									</td>
									<td>
										<a href="javascript:;" class="cz_a" ng-click="editorStaff(item.user_id)">编辑</a>
										<span>&nbsp;|&nbsp;</span>
										<a href="javascript:;" class="cz_a" ng-class="{'disabled':item.is_myself==1}" ng-click="deleteItem(item.user_id)">删除</a>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>