
<div class="erweima-main" style="background: #000;">
    <div class="erweima-img">
        <div class="title">微信支付</div>
        <div class="waiting panelContent">
            <img ng-src=http://www.jingku.cn/Flow/get_weixin_img/url/{{ImgUrl}}/token/{{res}} alt="">
            <div class="info">
                <div class="status status_browser js_status normal" id="wx_default_tip">
                    <p>请使用微信扫描二维码付款</p>
                    <!--<p>“镜库网”</p>-->
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.erweima-main').height($(window).height());
</script>