<div class="flash-sale-main">
    <div class="brand-gg" style="height:450px;background:url(img/flashShopBigPic.jpg) no-repeat center center;background-size: auto 100%;">
        <!--<img style="width:100%;height:100%;display: block;object-fit:contain;" src="img/flashShopBigPic.jpg" alt="">-->
    </div>

    <div class="navc-wrap">
        <div class="nav-xdh all">
            <div class="zaki">全部分类<em></em></div>
            <ul class="xd-hd">
                <li class="on" ng-click="getPromote(0,-1)"><div class="wrp"><a href="">全部</a></div></li>
                <li ng-repeat="xd in flashData.data" repeat-done="xdFn()" ng-click="getPromote(xd.cat_id,$index)" class=""><div class="wrp"><a href="">{{xd.cat_name}}</a></div></li>
            </ul>
        </div>
    </div>

    <div class="purchase-box" ng-if="isAll">
        <div class="purchase">
            <ul class="cle">
                <li ng-repeat="cleAll in flashAllListData.data">
                    <a href="#/shop-detail/{{cleAll.goods_id}}" target="_blank">
                        <div class="wrp">
                            <div class="img">
                                <img ng-src={{cleAll.goods_img}} />
                                <div class="djs" data-date="{{cleAll.promote_end_date}}" down-time>剩余0天0时0分0秒</div>
                            </div>
                            <div class="txt">
                                <div class="tt-1">
                                    <div class="cx"><span>促销价</span><em>{{cleAll.promote_price}}</em></div>
                                    <div class="suzi">¥{{cleAll.shop_price}}</div>
                                </div>
                                <div class="tt-2" ng-attr-title="{{cleAll.name}}">
                                    {{cleAll.name}}
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="purchase-box" ng-if="!isAll">
        <div class="purchase">
            <ul class="cle">
                <li ng-repeat="cle in flashListData.data" ng-click="getPromote(cle.id)">
                    <a href="#/shop-detail/{{cle.goods_id}}" target="_blank">
                        <div class="wrp">
                            <div class="img">
                                <img ng-src={{cle.goods_img}}>
                                <div class="djs" data-date="{{cle.promote_end_date}}" down-time>剩余0天0时0分0秒</div>
                            </div>
                            <div class="txt">
                                <div class="tt-1">
                                    <div class="cx"><span>促销价</span><em>{{cle.promote_price}}</em></div>
                                    <div class="suzi">¥{{cle.shop_price}}</div>
                                </div>
                                <div class="tt-2">
                                    {{cle.name}}
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>



    <div class="next_fel" ng-click="next()">
        <p>点击查看下一个分类</p>
        <em></em>
    </div>
</div>
<script>
    $(".zaki").click(function(){
        $(this).parent().toggleClass("goot");
    });
</script>