
    <div id="dandu-top"  class="dandu-top p5 gird">
        <div>
            <div class="fl top-left">
                <a style="cursor: pointer;" class="root_path">
                    <a href="#/login"><span></span></a>找回密码</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div ng-if="one" class="forgot-one">
        <div class="main gird forget_box">
            <!--<div class="zh-mm">-->
                <!--<div class="zhmm-lc lc1"></div>-->
                <!--<table class="zhmm-tbale" width="100%">-->
                    <!--<tr>-->
                        <!--<td width="400" align="right"><div class="td-rightm">用户名：</div></td>-->
                        <!--<td><input ng-model="forgotOneOption.username" type="text" class="zhmm-text" placeholder="用户名" autocomplete="off"/></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td width="400" align="right"><div class="td-rightm">&nbsp;</div></td>-->
                        <!--<td><input type="button" ng-click="stepOne()" class="zhmm-btn get_password_but" value="提交" />-->
                        <!--</td>-->
                    <!--</tr>-->
                <!--</table>-->
            <!--</div>-->
            <div class="forget_mmone">
                <div class="forget_mmone_con">
                    <div class="mmone_con_top">
                        <div class="forget_jd_t">
                            <span class="forget_sp2">填写账户名</span>
                            <span class="forget_sp3">验证身份</span>
                            <span class="forget_sp4">设置新密码</span>
                            <span class="forget_sp5">完成</span>
                        </div>
                    </div>
                    <div class="mmone_con_bt">
                        <div class="con_bt_div">
                            <span class="con_bt_sp">用户名 : </span>
                            <input type="text" ng-model="forgotOneOption.username" class="con_bt_ip" placeholder="用户名/手机号" autocomplete="off"/>
                        </div>
                        <div class="con_btn_div" style="margin-top: 10px;">
                            <input type="button" ng-click="stepOne()" class="con_bt_btn" value="下一步"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="two" class="forgot-two">
        <div class="main gird forget_box" style="border:1px solid #ccc;">
            <input type="hidden" class="initGeetestWidth" value="202">
            <!--<div class="zh-mm">-->
                <!--<div class="zhmm-lc lc2"></div>-->
                <!--<form id="get_password">-->
                    <!--<table class="zhmm-tbale" width="100%">-->
                        <!--<tr ng-if="isPhone">-->
                            <!--<td width="400" align="right"><div class="td-rightm">手机号：</div></td>-->
                            <!--<td>{{isPhone}} <input type="button" ng-disabled="vm.kedian" ng-click="info()" ng-value="vm.data" class="zhmm-btn2 getGeetestCaptcha" />-->
                                <!--<input type="hidden" name="mobile_phone" id="mobile_phone">-->
                                <!--<input type="hidden" name="best_code"  value="MTE0Ng==">-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td width="400" align="right"><div class="td-rightm">验 证 码：</div></td>-->
                            <!--<td><input type="text" ng-model="forgotTwoOption.verify" class="zhmm-text" style="float: left;"/>-->
                                <!--<div class="yanzmaz fl">-->
                                    <!--<img style="width:100px;height:100%;" ng-src={{codeMa}}>-->
                                    <!--看不清？<a ng-click="codeAgain()" style="cursor: pointer;">换一张</a>-->
                                <!--</div>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr ng-if="isPhone">-->
                            <!--<td width="400" align="right"><div class="td-rightm">手机验证码：</div></td>-->
                            <!--<td><input type="text" ng-model="forgotTwoOption.phone_code" class="zhmm-text fl" name="code"/></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td width="400" align="right"><div class="td-rightm">&nbsp;</div></td>-->
                            <!--<td><input type="button" ng-click="stepTwo()" class="zhmm-btn get_password_but_check" value="下一步" />-->
                                <!--<input type="hidden" name="act" value="get_password" >-->
                                <!--<input type="hidden" name="step" value="check_captcha" >-->
                            <!--</td>-->
                        <!--</tr>-->
                    <!--</table>-->
                <!--</form>-->
            <!--</div>-->
            <div class="forget_mmone">
                <div class="forget_mmone_con">
                    <div class="mmone_con_top">
                        <div class="forget_jd_t forget_jd_t1">
                            <span class="forget_sp2">填写账户名</span>
                            <span class="forget_sp3">验证身份</span>
                            <span class="forget_sp4">设置新密码</span>
                            <span class="forget_sp5">完成</span>
                        </div>
                    </div>
                    <div class="mmone_con_bt">
                        <div class="con_bt_div">
                            <span class="con_bt_sp">手机号 : </span>
                            <span class="con_bt_tel">{{isPhone}}</span>
                        </div>
                        <div class="con_bt_div">
                            <span class="con_bt_sp">验证码 : </span>
                            <!--<div class="mm_two_div">-->
                                <!--<input type="text" placeholder="请输入验证码" ng-model="forgotTwoOption.verify" class="mm_towyzm"/>-->
                                <!--<img style="border-left: 1px solid #e6e6e6" ng-src={{codeMa}} ng-click="codeAgain()" width="110px" height="35px" class="yzm_img">-->
                            <!--</div>-->
                            <div style="height:34px;position: absolute;right: -102px;" class="GeetestCaptchaView1"></div>
                        </div>
                        <div class="con_bt_div">
                            <span class="con_bt_sp">手机验证码 : </span>
                            <div class="mm_two_div">
                                <input type="text" ng-model="forgotTwoOption.phone_code" placeholder="请输入短信验证码" class="mm_towyzm"/>
                                <input style="border-left:1px solid #e6e6e6;background-color: #fff;" type="button" class="hqyzm" ng-disabled="vm.kedian" ng-value="vm.data" ng-click="info()">
                            </div> 
                        </div>   
                        <div class="con_btn_div">
                            <input type="button" style="margin-left: 140px;margin-top: 10px;" ng-click="stepTwo()" class="con_bt_btn" value="下一步"/>
                        </div> 
                    </div>  
                </div> 
            </div>  
        </div> 
    </div>
    <div ng-if="three" class="forgot-three"> 
        <div class="main gird forget_box" style="border: 1px solid #ccc;">
            <!--<div class="zh-mm">-->
                <!--<div class="zhmm-lc lc3"></div>-->
                <!--<table class="zhmm-tbale" width="100%">-->
                    <!--<tr>-->
                        <!--<td width="400" align="right"><div class="td-rightm">新的登录密码：</div></td>-->
                        <!--<td><input ng-model="forgotThreeOption.password" type="text" class="zhmm-text fl" /></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td width="400" align="right"><div class="td-rightm">请再一次输入密码：</div></td>-->
                        <!--<td><input ng-model="forgotThreeOption.cpassword" type="text" class="zhmm-text fl" /></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td width="400" align="right"><div class="td-rightm">&nbsp;</div></td>-->
                        <!--<td><input ng-click="stepThree()" type="button" class="zhmm-btn" value="下一步" /></td>-->
                    <!--</tr>-->
                <!--</table>-->
            <!--</div>-->
            <div class="forget_mmone">
                <div class="forget_mmone_con">
                    <div class="mmone_con_top">
                        <div class="forget_jd_t forget_jd_t2">
                            <span class="forget_sp2">填写账户名</span>
                            <span class="forget_sp3">验证身份</span>
                            <span class="forget_sp4">设置新密码</span>
                            <span class="forget_sp5">完成</span>
                        </div>
                    </div>
                    <div class="mmone_con_bt">
                        <div class="con_bt_div">
                            <span class="con_bt_sp">新的登录密码 : </span>
                            <input type="password" ng-model="forgotThreeOption.password" class="new_logo_mm"/>
                        </div>
                        <div class="con_bt_div">
                            <span class="con_bt_sp">请再一次输入密码 : </span>
                            <input type="password" ng-model="forgotThreeOption.cpassword" class="new_logo_mm"/>
                        </div>
                        <div class="con_btn_div">
                            <input type="button" ng-click="stepThree()" style="margin-left: 140px;margin-top: 10px;" class="con_bt_btn" value="下一步"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="four" class="forgot-four">
        <div class="main gird " style="border: 1px solid #ccc;">
            <!--<div class="zh-mm">-->
                <!--<div class="zhmm-lc lc4"></div>-->
                <!--<table class="zhmm-tbale" width="100%">-->
                    <!--<tr>-->
                        <!--<td width="400" align="right" valign="top"><div class="td-rightm"><img src="images/wanc.png"/></div></td>-->
                        <!--<td>-->
                            <!--<h1 class="zhmm-wc">恭喜！修改登录密码成功。</h1>-->
                            <!--<p class="zhmm-wcp">您可以在镜库网开心的购物啦，为了保证您的安全，<br>建议您定期更换密码。</p>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td width="400" align="right"><div class="td-rightm">&nbsp;</div></td>-->
                        <!--<td><input type="button" ng-click="goLogin()" class="zhmm-btn" value="确定" /></td>-->
                    <!--</tr>-->
                <!--</table>-->
            <!--</div>-->
            <div class="forget_mmone">
                <div class="forget_mmone_con">
                    <div class="mmone_con_top">
                        <div class="forget_jd_t forget_jd_t3">
                            <span class="forget_sp2">填写账户名</span>
                            <span class="forget_sp3">验证身份</span>
                            <span class="forget_sp4">设置新密码</span>
                            <span class="forget_sp5">完成</span>
                        </div>
                    </div>
                    <div class="mm_wz">
                        <p class="mm_wz_p">恭喜您，修改登录密码成功!</p>
                        <p class="mm_wz_p1">您可以在镜库网开心的购物啦，为了保证您的安全，建议您定期更换密码。</p>
                        <p class="mm_wz_p2"><input type="button" ng-click="goLogin()" class="mm_wz_btn" value="确定"/></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="dandu-login-footer">
        <h2 class="mb10">镜库网采购商管理中心</h2>
        <p>Copyright (c) 2014 - 2016 镜库网 All Rights Reserved 京ICP备16016885号-2</p>
    </div>