<style type="text/css">
   .coolEye-center .center-item1>img:hover {
      border: 1px solid #b2dcf5;
   }

   .coolEye-center .center-item2>img:hover {
      border: 1px solid #b4c5f9;
   }

   .coolEye-center .center-item3>img:hover {
      border: 1px solid #f8c1d6;
   }

   .coolEye-center .center-item1:first-child>img:hover,
   .coolEye-center .center-item2:first-child>img:hover,
   .coolEye-center .center-item3:first-child>img:hover {
      border: none;
   }
</style>
<style type="text/css">
   .ad_box {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      z-index: 1000000;
      text-align: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      background: rgba(0, 0, 0, .4);
   }

   .ad_box .img {
      position: relative;
      max-width: 80%;
      max-height: 90%;
      height: auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
   }

   .ad_box img {
      max-height: 100%;
      max-width: 100%;
      cursor: pointer;
   }

   .ad_box .close {
      position: absolute;
      top: -30px;
      right: -30px;
      text-align: center;
      color: #999999;
      font-size: 42px;
      transform: rotate(45deg);
      cursor: pointer;
      -moz-user-select: none;
      /*火狐*/
      -webkit-user-select: none;
      /*webkit浏览器*/
      -ms-user-select: none;
      /*IE10*/
      -khtml-user-select: none;
      /*早期浏览器*/
      user-select: none;
      color: #e0e0e0;
      border-radius: 50%;
      background: #666;
      width: 30px;
      height: 30px;
      line-height: 27px;
      font-size: 27px;
   }

   .ad_box .close:hover {
      color: #fff;
   }
</style>
<div class="ad_box" ng-show="ad_show&&ad_img">
   <div class="img animated" ng-class="{'bounceIn':ad_show,'bounceOut':!ad_show}">
      <div class="close" ng-click="closeAd()">+</div>
      <img ads-click="adTanData.ads[0]" ng-click="closeAd()" type-link="{{adTanData.ads[0].ad_link}}" src="{{ad_img}}" alt="">
   </div>
</div>
<div class="scroll-area">
   <div class="pic">
      <div class="slider" style="width:100%;margin: 0 auto;">
         <ul>
            <li ng-repeat="slide in IndexData.list.ads_banner" ads-click="slide" repeat-done="slider()" style="cursor: pointer;height:450px;background:url({{slide.ad_img}}) no-repeat center center;background-size: auto 100%;">
            </li>
         </ul>
      </div>
   </div>
   <div class="home-main">
      <div class="selected-topics">
         <div class="selected-topics-tit">
            <div>
               <h2>闪购</h2>
               <ul class="fast-category">
                  <li ng-click="getFastData(0)" ng-class="{'on':selectedFastId==0}">全部</li>
                  <li ng-click="getFastData(item.cat_id)" ng-class="{'on':selectedFastId==item.cat_id}" ng-repeat="item in fastCategory.data">{{item.cat_name}}</li>
               </ul>
            </div>

            <a href="#/flashSale" target="_blank">
               <span>查看全部</span>
               <span class="a_arrow_r"></span>
            </a>
         </div>
         <div class="selected-topics-goods" style="min-height: 260px;max-height: 450px;">
            <div class="swiper-container swiper-container1" ng-if="flashData">
               <div class="swiper-wrapper">
                  <a class="swiper-slide" href="javascript:;" style="max-width: 240px;" ng-click="clickclick(fsItem.id)" ng-repeat="fsItem in flashData.data" repeat-done="yushou()">
                     <div>
                        <img ng-src={{fsItem.goods_img}} alt="">
                     </div>
                     <div class="down-time" ng-if="fsItem.promote_end_date" data-date="{{fsItem.promote_end_date}}" down-time>剩余0天0时0分0秒</div>
                     <div class="down-time" ng-if="!fsItem.promote_end_date">活动已结束</div>
                     <div class="selected-topics-goods-price" ng-if="showPrice">
                        <p>{{fsItem.promote_price}}</p>
                        <i>¥{{fsItem.shop_price}}</i>
                     </div>
                  </a>
               </div>
               <a class="sPrev" href="javascript:void(0)"></a>
               <a class="sNext" href="javascript:void(0)"></a>
            </div>
         </div>
      </div>
      <ng-container ng-if="userData&&userData.user_info.is_test!=1">
         <div class="selected-topics brand-block">
            <div class="selected-topics-tit">
               <h2>品牌街区</h2>
               <a href="#/fashion" target="_blank">查看全部
                  <span class="a_arrow_r"></span>
               </a>
            </div>
            <div class="brand-block-ad">
               <div class="swiper-container swiper-container2">
                  <div class="swiper-wrapper">
                     <div class="swiper-slide" ng-repeat="item in IndexData.list.ads_brand" repeat-done="brand()">
                        <img ads-click="item" ng-src={{item.ad_img}} alt="">
                     </div>
                  </div>
                  <a class="sPrev" href="javascript:void(0)"></a>
                  <a class="sNext" href="javascript:void(0)"></a>
               </div>
            </div>
         </div>
         <div class="brand-block-fashion">
            <div class="bd">
               <div class="ulWrap mainlist">
                  <li ng-repeat="fashion in logoFashionData.data">
                     <img ng-src={{fashion.brand_logo}} alt="">
                     <div class="fashion-tit">
                        <p>{{fashion.brand_name}}</p>
                        <button ng-click="goList({brand_id: fashion.brand_id})">点击进入</button>
                     </div>
                  </li>
               </div>
            </div>
            <div class="hd">
               <div class="line-box">
                  <a ng-click="sNext()" class="sNext"></a>
                  <a ng-click="sPrev()" class="sPrev"></a>
               </div>
               <div class="more-fashion">
                  <a href="#/fashion">
                     <span>查看更多
                        <span class="a_arrow_r"></span>
                     </span>
                  </a>
               </div>
            </div>
         </div>
      </ng-container>
      <div class="selected-topics category-home">
         <div class="category-home-c" ng-repeat="item in category">
            <div class="subsection" ng-if="!item.show" style="min-height: 300px;text-align: center;padding-top: 150px;">
               <my-loading></my-loading>
            </div>
            <div class=" " ng-if="item.show">

               <div class="selected-topics-tit">
                  <div>
                     <h2>{{item.Recommend.info.name}}</h2>
                     <ul class="fast-category">
                        <li ng-mouseover="getRecommendGoods(item,0,$index)" ng-class="{'on':!item.selectbrandid}">全部</li>
                        <li ng-mouseover="getRecommendGoods(item,brand.brand_id,$parent.$index)" ng-class="{'on':item.selectbrandid == brand.brand_id}" ng-repeat="brand in item.Recommend.brand_list" ng-if="brand.brand_name">{{brand.brand_name}}</li>
                     </ul>
                  </div>

                  <a href="javascript:;" ng-click="goList({cat_id:item.Recommend_id})">
                     <span>查看全部</span>
                     <span class="a_arrow_r"></span>
                  </a>
               </div>
               <div class="content">
                  <div class="viewpager animated fadeIn">
                     <div class="swiper-container swiper-container-s{{$index}}">
                        <div class="swiper-wrapper">
                           <div ads-click="view" class="swiper-slide" ng-repeat="view in item.Ad" repeat-done="viewpager('swiper-container-s' + $parent.$index)">
                              <img img-lazy-load="{{view.ad_img}}" alt="">
                           </div>
                        </div>
                        <div class="swiper-pagination"></div>
                     </div>
                  </div>
                  <a class="goods animated fadeIn" ng-repeat="goods in item.Recommend.list" ui-sref="shop-detail({goods_id:goods.goods_id})" target="_blank" title="{{goods.goods_name}}">
                     <div class="img"><img img-lazy-load="{{goods.original_img}}" alt=""></div>
                     <div class="name">{{goods.goods_name}}</div>
                     <div class="price" ng-if="showPrice">￥{{goods.shop_price}}</div>
                  </a>
               </div>
            </div>

         </div>
      </div>
   </div>
</div>