<div class="route mb20">
    <div class="gird">
        当前位置：<a href="#/home">首页</a> > <a href="#/control-mb">用户中心</a>&gt;{{title}}
    </div>
</div>

<div class="center-main" style="margin-bottom: 25px;margin-top: 25px;"> 
    <div class="im-panel gird cle">
		<ng-template ng-include="'Template/control-tool.html'"></ng-template>
        <div class="panel-right">
            <div class="control-wrp">
                <div class="cont-hd cle">
                    <div class="cbt-left">
                        <span><a href="#/person-qy-lxrmsg" class="cbt-wz">联系人信息</a></span>
    					<span><a href="#/person-qy-msg" class="cbt-wz">企业资料</a></span>
    					<span><a href="#/user-logo-center" class="cbt-wz on">头像设置</a></span> 
                    </div>
                </div>
                <div class="cont-bd">
                    <div class="contacts-wrap portrait">
                        <div class="pic">
                        	<img ng-src="{{avatarData.user_info.avatar || 'img/default_logo.jpg' }}" id="preview" style="width: 100%;height: 100%;"/>
                        	<input class="fie" id="file" ng-model="img_ava" type="file" accept="image/*" ng-change="imgPreview($event)" style="opacity: 0;z-index: 100;"/>
                        	<p style="cursor: pointer;">更换</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>