<style type="text/css">
	.picScroll-left .hd ul li.on{background-color: #3f69a5;}
	.need_tkk:after{margin-top: -13px !important;}
	.sgye3.sssss:after{content: " ";display: none !important;}
	.nero .n4-dsh .ako4:hover{background: #fff;color: #3f69a5;border-color: #3f69a5 !important;}
	.ako4.asss{display: block;width: 80px;height: 30px; line-height: 30px;background: #f7f7f7;border: 1px solid #e6e6e6; color: #808080; font-size: 12px;text-align: center;position: absolute;left: 825.5px;top: 33px;}
	
	.ggz-tc{display: none;padding-right:30px;position: fixed;z-index: 10000;}
	.ggz-tc .wrp{position:relative;width:290px;min-height:100px;padding:10px;text-align:left;background:#fff;box-shadow:0 0 10px rgba(0,0,0,.2)}
	.ggz-tc .wrp h2{margin-bottom:10px;color:#4c4c4c;padding:0 0 5px;border-bottom:1px solid #e6e6e6;font-size:14px;color:#4c4c4c;font-weight:normal;}
	.ggz-tc .wrp p{position:relative;padding-left:20px;line-height:20px;font-size:13px;color:#808080;}
	.ggz-tc .wrp p b{display:block;position:absolute;left:0;top:-2px;text-align:center;width: 20px;line-height: 27px;}
	.ggz-tc .wrp p a{color:#0070c9;}
	.ggz-tc .wrp p.redvs{color:#0070c9;}
	.ggz-tc .wrp:after{content:" ";position:absolute;right:-15px;top:15px;display:block;width: 15px;height:22px;background:url(img/dd-3.png) no-repeat center; } 
	.bbb{color: #FF3333;}
	.nero .n5-opon.a_wc>a:last-child{margin-bottom: 0 !important;}
	.nony-bt .del_order{display: inline-block;width: 14px;height: 16px;background: url(img/dd-7.png) center;background-size: 100%;cursor: pointer;position: absolute;right: 20px;top: 9px;margin: 0 !important;display: none;}
	.nony-bt .del_order:hover{background: url(img/dd-7_.png) center;background-size: 100%;}
	.sydd-ittem:hover .del_order{display: block !important;}
</style>

 
<div class="ggz-tc" ng-if="wlData">
<div class="wrp" ng-repeat="orderwuliu in wlData">
	<h2>快递单号：{{orderwuliu.invoice_no}}</h2>
	<div class="wrp_div" >
		<div ng-repeat="wlt in orderwuliu.list.slice().reverse()" ng-if="$index<1"> 
			<div class="time">{{wlt.time}}</div>
			<p ng-repeat="wl in wlt.data.slice().reverse()" class="li"><b ng-class="{'bbb':$index==0&&$parent.$index==0}">●</b>{{wl.ftime}}{{wl.context}}</p>
		</div>
 
		<p>以上为最新跟踪信息去订单详情  <a style="cursor:pointer;" ng-click="goOrdera()">查看全部</a></p>																
	</div>
</div>
</div>
<div class="route mb20">
	<div class="gird">
		当前位置：<a href="#/home">首页</a> > <a href="#/control-mb">用户中心</a>&gt;{{title}}
	</div>
</div>

<div class="main" style="margin-bottom: 25px;">
	<div class="im-panel gird cle">
		<div class="panel-left">
			<div class="control-bt" ng-click="goControlMb()" style="cursor: pointer;"><em class="ico"></em>控制面板</div>
			<div class="control-list aotms">
				<h3 class="control-h3"><em class="coe-1"></em>交易管理</h3>
				<div class="control-nr">
					<p class="onp"><a href="#/order-all/">我的订单</a></p>
					<p><a href="#/myCollect">我的收藏</a></p>
					<p><a href="#/person-integral">积分管理</a></p>
					<p><a href="#/person-yhq">优惠券管理</a></p>
				</div>
			</div>
			<div class="control-list">
				<h3 class="control-h3"><em class="coe-2"></em>服务中心</h3>
				<div class="control-nr">
					<p><a href="#/person-process" >来镜加工</a></p>
					<p><a href="#/person-return-repair">返修退换货</a></p>
					<p><a href="#/parson-msg-center">消息中心</a></p>
				</div>
			</div>
			<div class="control-list">
				<h3 class="control-h3"><em class="coe-3"></em>资产中心</h3>
				<div class="control-nr">
					<p><a href="#/zijin-mana">资金管理</a></p>
					<p><a href="#/person-invoices">发票管理</a></p>
				</div>
			</div>
			<div class="control-list">
				<h3 class="control-h3"><em class="coe-4"></em>个人设置</h3>
				<div class="control-nr">
					<p><a href="#/person-qy-lxrmsg">企业信息</a></p> 
					<p><a href="#/person-save-center">安全中心</a></p>
					<p><a href="#/person-mana-addr">管理收货地址</a></p>
				</div>
			</div>
			<div class="control-list">
				<h3 class="control-h3" ng-click="loginOut()" style="cursor: pointer;"><em class="coe-5"></em>安全退出</h3>
			</div>
        </div>
		<div class="panel-right">
			<div class="control-wrp">	
				<div class="cont-hd cle">
    				<div class="cbt-left" style="width: 500px;"> 
    					<span ng-click="getAllOrderHs('');showJf=2"><a style="cursor:pointer;" ng-class="{'on':tabType==''}" class="cbt-wz">所有订单</a></span>
    					<span ng-click="getAllOrderHs('unpay');showJf=2"><a style="cursor:pointer;" ng-class="{'on':tabType=='unpay'}" class="cbt-wz">待付款<em ng-if="orderpay">{{orderpay}}</em></a></span>
    					<span ng-click="getAllOrderHs('collect');showJf=2"><a style="cursor:pointer;" ng-class="{'on':tabType=='collect'}" class="cbt-wz">待收货<em ng-if="orderDsh">{{orderDsh}}</em></a></span>
    					<span ng-click="getAllIntegral();showJf=1;"><a style="cursor:pointer;" class="cbt-wz">积分兑换<em ng-if="InNum">{{InNum}}</em></a></span>
    				</div>
    				<div class="shur-wrp" ng-if="showJf!=1" ng-init="showJf=2"> 
						<input type="button" class="btna" ng-click="serchGoods(order_number)"/>
						<input type="text" class="txt agddj" placeholder="输入商品名称或订单编号进行搜索" ng-keyup="$event.keyCode==13?serchGoods(order_number):''" ng-model="order_number" value=" "/>
					</div>
    				<div class="shur-wrp" ng-if="showJf==1" ng-init="showJf=1">
						<input type="button" class="btna" ng-click="serchJfGoods(order_sn)"/>
						<input type="text" class="txt agddj" placeholder="输入商品名称或订单编号进行搜索" ng-keyup="$event.keyCode==13?serchJfGoods(order_sn):''" ng-model="order_sn" value=" "/>
					</div>
   				</div> 			
    			<div class="cont-bd" ng-if="showJf!=1" ng-init="showJf=2">
    				<div class="contacts-wrap ddan integral">
    					<div class="sydd">
							<div class="sydd-head">
								<div class="syd s-1">
									<div class="yxl">
										<div class="sgye sgye3" style="position: relative;">全部订单</div>
										<div class="syincy hidden">
											<div class="swrpp swrpp3">
												<em></em>
												<p><a style="cursor:pointer;" ng-click="getAllOrderHs('')">全部订单</a></p>
												<p><a style="cursor:pointer;" ng-click="getAllOrderHs('one_month')">近一个月订单</a></p>
												<p><a style="cursor:pointer;" ng-click="getAllOrderHs('there_month')">近三个月订单</a></p>
											</div>
										</div>
									</div>
								</div>
								<div class="syd s-2">订单详情</div>
								<div class="syd s-3">收货人</div>
								<div class="syd s-4">金额</div>
								<div class="syd s-5">
									<div class="yxl">
										<div class="sgye sgye4" style="position: relative;">全部状态</div>
										<div class="syincy hidden">
											<div class="swrpp swrpp4">
												<em></em>
												<p><a style="cursor:pointer;" ng-click="getAllOrderHs('');tabType=' ';">全部状态</a></p>
												<p><a style="cursor:pointer;" ng-click="getAllOrderHs('unpay')">等待付款</a></p>
												<p><a style="cursor:pointer;" ng-click="getAllOrderHs('collect')">等待收货</a></p>
												<p><a style="cursor:pointer;" ng-click="getAllOrderHs('ok')">已完成</a></p>
												<p><a style="cursor:pointer;" ng-click="getAllOrderHs('cancel')">已取消</a></p>
											</div>
										</div>
									</div>
								</div>
								<div class="syd s-6">操作</div>
							</div>
							<div class="sydd-body">
								<div class="sydd-ittem" ng-repeat="order in AllOrder.list" repeat-done="renderJs()">
									<div class="nony-bt"> 
										<span class="nony-sp1">{{order.add_time}}</span> 
										<span class="nony-sp2">订单号：{{order.order_sn}}</span> 
										<span class="nony-sp2"><img src="img/dd-2.png" ng-click="qimoChatClick(order.access_id)" style="margin: 0;margin-right: 10px;cursor: pointer;margin-top: -3px;" ng-if="order.suppliers_name"/>{{order.suppliers_name}}</span>
										<span class="del_order" ng-click="delOrder(order.order_id)" ng-if="(order.order_status==2 && order.pay_status==0 && order.shipping_status==0) || (order.order_status==3 && order.pay_status==0 && order.shipping_status==0)" title="删除订单"></span>
									</div>
									<div class="neiro">
										<div class="nero n-1">
											<div class="noot-sp">
												<div class="le-dd"> 
													<div class="imsldd" ng-repeat="goods in order.goods" ng-if="order.showmorelist||$index<2" style="position: relative;"> 
														<div class="img" ng-click="goGoodsDetail(goods.goods_id)" style="cursor: pointer;"><img src="{{goods.original_img}}"/></div>
														<div class="txt" ng-click="goGoodsDetail(goods.goods_id)" style="cursor: pointer;">
															<p class="gp-1" ng-attr-title="{{goods.goods_name}}">
																{{goods.goods_name}}
																<span style="display: block;margin-top: 2px;color:#c5c5c5;">
																		<span style="margin-right: 5px;" ng-if="goods.qiujing">球镜：{{goods.qiujing}}</span>
																		<span style="margin-right: 5px;" ng-if="goods.zhujing">柱镜：{{goods.zhujing}}</span>
																		<span style="margin-right: 5px;" ng-if="goods.zhouwei">轴位：{{goods.zhouwei}}</span>
																		<span style="margin-right: 5px;" ng-repeat="attr in goods.goods_attrs">{{attr}}</span>
																</span>
															</p>
															<p class="gp-2">x{{goods.goods_number}}</p> 
														</div> 
														<div class="clear"></div> 
														<span ng-click="goSaleOver(goods.rec_id)" style="cursor: pointer;width: 80px;height: 30px;color: #0070c9;font-size: 12px;position: absolute;top: 32px;right: 10px;line-height: 30px;text-align:  center;" ng-if="order.order_status==5 && order.pay_status == 2 && order.shipping_status == 2 && goods.is_repair == 1  && order.is_inv == 1">申请售后</span>
														<span ng-click="qxSaleOver(goods.return_id)" style="cursor: pointer;width: 80px;height: 30px;color: #0070c9;font-size: 12px;position: absolute;top: 32px;right: 10px;line-height: 30px;text-align:  center;" ng-if="order.order_status==5 && order.pay_status == 2 && order.shipping_status == 2 &&  goods.is_repair == 0">取消售后</span>
													</div> 
												</div> 
												<div class="cgend" ng-click="order.showmorelist=!order.showmorelist" ng-if="order.goods.length>2"><a style="cursor:pointer;">查看更多商品 ></a></div>
											</div>
										</div> 
										<div class="nero n-2 c">
											<div class="dd-name need_tk"><em></em><span class="user_name" ng-attr-title="{{order.consignee}}">{{order.consignee}}</span> 
												<div class="need_tkk" style="left: -265px;height: 80px;min-height: 80px;top: -35px;">
													<p class="need_tkk_p1" style="font-size: 13px;">{{order.consignee}}</p>
													<p class="need_tkk_p2" style="font-size: 12px;">{{order.region}}{{order.address}}</p>
													<p class="need_tkk_p2" style="font-size: 12px;">{{order.mobile}}</p>
												</div>
											</div>
										</div>
										<div class="nero n-3 c">
											<div class="n3-hk" ng-if="order.isShowYf==1">
												<p class="hk-p1" style="border: 0;color: #808080;padding: 0;">总额 : {{order.total_fee}}</p>
												<p class="hk-p1" style="color: #4c4c4c;border: none;padding: 0;">应付 : {{order.order_amount}}</p>
												<p class="hk-p2" style="border-top: 1px solid #d9d9d9;"><span>{{order.pay_name}}</span></p>
											</div> 
											<div class="n3-hk"  ng-if="order.isShowYf==0" style="margin-top: 16px;"> 
												<p class="hk-p1" style="border: 0;color: #808080;padding: 8px 0;" style="padding-top: 10px;">总额 : {{order.total_fee}}</p>
												<p class="hk-p2" style="border-top: 1px solid #d9d9d9;"><span>{{order.pay_name}}</span></p> 
											</div>
										</div>
										<!--!((order.order_status==2 && order.pay_status==0 && order.shipping_status == 0) || (order.order_status==3 && order.pay_status==0 && order.shipping_status == 0)||(order.order_status==0 && order.pay_status==0 && order.gq==0))-->
										<div class="nero n-4 c">
											<!-- <div class="n4-dsh" style="margin-top: 14px;" ng-if="(order.order_status==5 && order.pay_status==2 && order.shipping_status==1)||(order.order_status==5 && order.pay_status==2 && order.shipping_status==2)">
												<p class="small_fh"><span class="red">{{order.status}}</span></p>
												<div class="genzg" style="cursor: pointer;" data-order="{{order.order_id}}">   
													<em></em>跟踪<i style="display: none;"></i>
												</div>
												<p>
													<a style="cursor:pointer;" class="hse" ng-click="goOrderDetail(order.order_id)">订单详情</a>
												</p>
											</div>  
											<div class="n4-dsh" style="margin-top: 14px;" ng-if="((order.order_status==1 || order.shipping_status==5) && order.pay_status==2) || (order.order_status==0 && order.pay_status==0) ||  (order.order_status==1 && order.pay_status==0)"> 
												<p style="padding-top: 16px;"><span class="red">{{order.status}}</span></p>
												<p>
													<a style="cursor:pointer;" class="hse" ng-click="goOrderDetail(order.order_id)">订单详情</a>
												</p>
											</div>
											 -->
											<!-- <div class="n4-dsh" style="margin-top: 14px;" ng-if="(order.order_status==2 && order.pay_status==0 && order.shipping_status == 0) || (order.order_status==3 && order.pay_status==0 && order.shipping_status == 0)"> -->
											<div class="n4-dsh" style="margin-top: 14px;">
												<p style="padding-top: 16px;"><span class="red">{{order.status}}</span></p>
												<p>
													<a style="cursor:pointer;" class="hse" ng-click="goOrderDetail1(order.order_id)">订单详情</a>
												</p>
											</div>
											
											
										</div>
										<div class="nero n-5 c">
											
											<!--未发货--> 
											<div class="n5-opon" ng-if="(order.order_status==1 || order.shipping_status==5) && order.pay_status==2 && order.is_glassMachining==0">   
												<span class="add_wfh" style="display: inline-block;margin-top: 15px;" ng-if="order_status == 0">未确认</span>
												<span class="add_wfh" style="display: inline-block;margin-top: 15px;" ng-if="order_status != 0">已确认</span>
											</div>
											<div class="n5-opon" ng-if="(order.order_status==1 || order.shipping_status==5) && order.pay_status==2 && order.is_glassMachining>0">  
												<span class="add_wfh" style="display: inline-block;margin-top: 0;" ng-if="order_status == 0">未确认</span> 
												<span class="add_wfh" style="display: inline-block;margin-top: 0;" ng-if="order_status != 0">已确认</span> 
												<a class="ako1"  ng-click="ljJG(order.order_parent)" style="margin-top: 5px;">来镜加工</a>
											</div>
											<!--已发货-->
											<div class="n5-opon" ng-if="order.order_status==5 && order.pay_status==2 && order.shipping_status==1">
												<a class="ako1" ng-click="QrGet(order.order_id)" style="margin-top: 32px;">确认收货</a>
											</div>
											<!--已完成-->
											<div class="n5-opon a_wc" ng-if="order.order_status==5 && order.pay_status==2 && order.shipping_status==2">
												<a class="ako4" style="margin-top: 32px;cursor:pointer;margin-bottom: 65px;" ng-click="buyAgain(order.order_id)">再次购买</a>
											</div>
											<!--订单失效-->
											<div class="n5-opon" ng-if="(order.order_status==2 && order.pay_status==0 && order.shipping_status==0) || (order.order_status==3 && order.pay_status==0 && order.shipping_status==0)">
												<a class="ako4" ng-click="buyAgain(order.order_id)" style="margin-top: 32px;">再次购买</a>
											</div>
											<!--待付款-->
											<div class="n5-opon" style="margin-top: 10px;" ng-if="(order.order_status==1 && order.pay_status==0 && order.gq==0)||(order.order_status==0 && order.pay_status==0 && order.gq==0)">
												<p><em></em><span data-date="{{order.gq_time}}" down-time1></span></p>
												<a class="ako3" style="height: 25px;line-height: 25px;cursor: pointer;" ng-click="goOverPage(order.order_id)">付款</a>
												<a style="cursor:pointer;" class="ako2" ng-click="cancelDd(order.order_id)">取消订单</a> 
											</div>
											<!--已过期-->
											<div class="n5-opon" style="margin-top: 10px;" ng-if="(order.order_status==1 && order.pay_status==0 && order.gq==1)||(order.order_status==0 && order.pay_status==0 && order.gq==1)">
												<a class="ako4" ng-click="buyAgain(order.order_id)" style="margin-top: 32px;">立即购买</a> 
											</div>
										</div>
										<div class="clear"></div>
									</div> 		
								</div>
								<p ng-if="AllOrder.count==0" style="font-size: 20px;text-align: center;padding: 200px 0;">暂时没有订单哦~</p>
							</div>
							
						</div>
    					
    					
    					<div class="pages" ng-if="AllOrder.count!=0" ng-init="AllOrder.count==0">
			                <div id="Pagination"></div>
			                <div class="searchPage">
			                    <span class="page-sum">共<strong class="allPage">{{AllOrder.pages}}</strong>页</span>
			                    <span class="page-go">到第<input type="text" value="1">页</span>
			                    <a href="javascript:;" class="page-btn">确定</a> 
			                </div>
			            </div>
    					
    					
    				</div>
    			</div>
    			<!-- —————————————————————————— 积分商品 —————————————————————————— -->
    			<div class="cont-bd"  ng-if="showJf==1" ng-init="showJf=1">
    				<div class="contacts-wrap ddan integral">
    					<div class="sydd">
							<div class="sydd-head">
								<div class="syd s-1">
									<div class="yxl">
										<div class="sgye sgye3 sssss" style="position: relative;">全部订单</div>
									</div>
								</div>
								<div class="syd s-2" style="width: 314px;">订单详情</div> 
								<div class="syd s-3">收货人</div>
								<div class="syd s-4">积分</div>
								<div class="syd s-5">订单状态</div>
								<div class="syd s-6">操作</div>
							</div>
							<div class="sydd-body">
								<div class="sydd-ittem" ng-repeat="intera in InOrdList">
									<div class="nony-bt">
										<span class="nony-sp1">{{intera.add_time}}</span>
										<span class="nony-sp2">订单号：{{intera.order_sn}}</span>
									</div>
									<div class="neiro">
										<div class="nero n-1" style="width: 450px;">  
											<div class="noot-sp">
												<div class="le-dd" style="position: relative;">
													<div class="imsldd">
														<div class="img" ng-click="goIntDetail(intera.order_id)" style="cursor: pointer;"><img src="{{intera.goods_img}}"/></div>
														<div class="txt" ng-click="goIntDetail(intera.order_id)" style="cursor: pointer;">
															<p class="gp-1" ng-attr-title="{{intera.goods_name}}">{{intera.goods_name}}</p>
															<p class="gp-2">x{{intera.goods_number}}</p>
														</div>
														<div class="clear"></div>
													</div>
												</div>
												<div class="cgend" ng-click="lookMore($index,$event)" ng-if="order.goods.length>3"><a style="cursor:pointer;">查看更多商品 ></a></div>
											</div>
										</div>
										<div class="nero n-2 c">
											<div class="dd-name need_tk"><em></em><span class="user_name" ng-attr-title="{{intera.consignee}}">{{intera.consignee}}</span>
												<div class="need_tkk" style="left: -265px;height: 80px;min-height: 80px;top: -35px;">
													<p class="need_tkk_p1" style="font-size: 14px;">{{intera.consignee}}</p>
													<p class="need_tkk_p2" style="font-size: 13px;">{{intera.region}}{{intera.address}}</p>
													<p class="need_tkk_p2" style="font-size: 13px;">{{intera.mobile}}</p>
												</div>
											</div>
										</div>
										<div class="nero n-3 c">
											<div class="n3-hk">
												<p class="hk-p1" style="border: 0;color: #808080;padding: 0;padding-top: 20px;">{{intera.integral}} 积分</p>
											</div>
										</div>
										<div class="nero n-4 c">
											<div class="n4-dsh" style="margin-top: 14px;">
												<p style="padding-top: 28px;"><span class="red">{{intera.status}}</span></p>
											</div>
										</div>
										<div class="nero n-5 c" style="border-right: none;width: 133px;">
											<div class="n4-dsh" style="margin-top: 14px;">
												<a class="ako4"  style="margin-top: 20px;cursor:pointer;display: inline-block;width: 80px;height: 30px;line-height: 30px;border: 1px solid #e6e6e6;background-color: #f7f7f7;" ng-click="dhAgain()">再次兑换</a>
											</div>
										</div>
										<div class="clear"></div>
									</div>
								</div>
								<p ng-if="InOrdList.length==0" style="font-size: 20px;text-align: center;padding: 200px 0;">暂时没有积分订单哦~</p>
							</div>
							
						</div>
    					
    					
    					<div class="pages" ng-if="InOrdList.length!=0" ng-init="InOrdList.count==0">
			                <div id="Pagination"></div>
			                <div class="searchPage">
			                    <span class="page-sum">共<strong class="allPage">{{InOrd.pages}}</strong>页</span>
			                    <span class="page-go">到第<input type="text" value="1">页</span>
			                    <a href="javascript:;" class="page-btn" id="search">确定</a>
			                </div> 
			            </div>
    				</div>
    			</div>
			</div>
			
			<div class="picScroll-left">
				<div class="hd">
					<span>猜你喜欢</span>
					<!-- <ul></ul> -->
				</div>
				<div class="bd">
					<ul class="picList">
						<li ng-repeat="like in YouLike.goods_list" repeat-done="picList()" ng-click="gessGoods(like.goods_id)" style="cursor: pointer;">
							<div class="pic"><img ng-src="{{like.goods_img}}" /></div>
							<div class="title">
								<p ng-attr-title="{{like.goods_name}}">{{like.goods_name}}</p>
								<b>{{like.shop_price}}</b>
							</div>
						</li>
					</ul>
				</div>
				<a class="prev" href="javascript:void(0)"></a>
				<a class="next" href="javascript:void(0)"></a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<script type="text/javascript">
	$('.cbt-left>span>a').click(function () {
		$(this).addClass('on').parent().siblings().find('a').removeClass('on');
	})
	$('.syincy .swrpp.swrpp3>p').click(function () {
		var ptext = $(this).text();
		$('.yxl .sgye3').text(ptext);
	})
	$('.syincy .swrpp.swrpp4>p').click(function () {
		var ptext1 = $(this).text();
		$('.yxl .sgye4').text(ptext1);
	})
	
</script>
