<div class="newGoods_box">
	<div class="newGoods_box_top gird">
		<div class="newGoods_div1">
			<div class="newGoods_div1_img">
				<img src="img/newgoods_img2.jpg"/>
			</div>
			<ul class="newGoods_div1_ul">
				<li>
					<div class="newGoods_div1_uldiv">
						<div class="div1_uldiv_img">
							<img src="img/newgoods_img3.jpg"/>
						</div>
						<div class="div1_uldiv_pbox">
							<p class="div1_p1">2017冬季畅销新品</p>
							<p class="div1_p2">时髦单品  为不一般的你</p>
						</div>
					</div>
				</li>
				<li>
					<div class="newGoods_div1_uldiv">
						<div class="div1_uldiv_img">
							<img src="img/newgoods_img3.jpg"/>
						</div>
						<div class="div1_uldiv_pbox">
							<p class="div1_p1">冬季折扣精选</p>
							<p class="div1_p2">清爽打卡绚丽冬季</p>
						</div>
					</div>
				</li>
				<li>
					<div class="newGoods_div1_uldiv">
						<div class="div1_uldiv_img">
							<img src="img/newgoods_img3.jpg"/>
						</div>
						<div class="div1_uldiv_pbox">
							<p class="div1_p1">每周 二 /  五上新</p>
							<p class="div1_p2">时髦单品  为不一般的你</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!--第二部分-->
	<div class="newGoods_box_top1 gird">
		<div class="newGoods_box_top1_div">
			<div class="box_top1_div">
				<p class="top1_divp1">热门品牌上新推荐</p>
				<ul class="top1_divu1">
					<li>最新品牌</li>
					<li>劲爆来袭</li>
					<li>每周上新</li>
				</ul>
			</div>
			<ul class="box_top1_u1">
				<li>
					<div class="img_box">
						<img src="img/newgoods_img4.jpg"/>
					</div>
				</li>
				<li>
					<div class="img_box">
						<img src="img/newgoods_img5.jpg"/>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!--第三部分-->
	<div class="newGoods_box_top1 newGoods_box_top2 gird">
		<div class="newGoods_box_top1_div">
			<div class="box_top1_div">
				<p class="top1_divp1">秋冬新品TOP推荐</p>
				<ul class="top1_divu1">
					<li>最新品牌</li>
					<li>劲爆来袭</li>
					<li>每周上新</li>
				</ul>
			</div>
			<ul class="box_top1_u2">
				<li>
					<div class="box_top1_u2div">
						<div class="img_a"><img src="img/newgoods_img6.jpg"/></div>
						<div class="wz_a">
							<p class="wz_ap1">海昌EYE100%月抛隐形眼镜2片装昌EYE100%月…</p>
							<p class="wz_ap2">￥520.00 <span>/ NEW /</span></p>
						</div>
					</div>
				</li>
				<li>
					<div class="box_top1_u2div">
						<div class="img_a"><img src="img/newgoods_img6.jpg"/></div>
						<div class="wz_a">
							<p class="wz_ap1">海昌EYE100%月抛隐形眼镜2片装昌EYE100%月…</p>
							<p class="wz_ap2">￥520.00 <span>/ NEW /</span></p>
						</div>
					</div>
				</li>
				<li>
					<div class="box_top1_u2div">
						<div class="img_a"><img src="img/newgoods_img6.jpg"/></div>
						<div class="wz_a">
							<p class="wz_ap1">海昌EYE100%月抛隐形眼镜2片装昌EYE100%月…</p>
							<p class="wz_ap2">￥520.00 <span>/ NEW /</span></p>
						</div>
					</div>
				</li>
				<li>
					<div class="box_top1_u2div">
						<div class="img_a"><img src="img/newgoods_img6.jpg"/></div>
						<div class="wz_a">
							<p class="wz_ap1">海昌EYE100%月抛隐形眼镜2片装昌EYE100%月…</p>
							<p class="wz_ap2">￥520.00 <span>/ NEW /</span></p>
						</div>
					</div>
				</li>
				<li>
					<div class="box_top1_u2div">
						<div class="img_a"><img src="img/newgoods_img6.jpg"/></div>
						<div class="wz_a">
							<p class="wz_ap1">海昌EYE100%月抛隐形眼镜2片装昌EYE100%月…</p>
							<p class="wz_ap2">￥520.00 <span>/ NEW /</span></p>
						</div>
					</div>
				</li>
				<li>
					<div class="box_top1_u2div">
						<div class="img_a"><img src="img/newgoods_img6.jpg"/></div>
						<div class="wz_a">
							<p class="wz_ap1">海昌EYE100%月抛隐形眼镜2片装昌EYE100%月…</p>
							<p class="wz_ap2">￥520.00 <span>/ NEW /</span></p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!--第四部分-->
	<div class="newGoods_box_top3 gird">
		<div class="newGoods_box_top3_div">
			<div class="img_box3">
				<img src="img/newgoods_img7.jpg"/>
			</div>
		</div>
	</div>
	<!--第五部分-->
	<div class="newGoods_box_top1 newGoods_box_top2 gird">
		<div class="newGoods_box_top1_div">
			<div class="box_top1_div">
				<p class="top1_divp1">11月11日新品</p>
				<ul class="top1_divu1">
					<li>最新品牌</li>
					<li>劲爆来袭</li>
					<li>每周上新</li>
				</ul>
			</div>
			<ul class="box_top1_u2">
				<li>
					<div class="box_top1_u2div">
						<div class="img_a"><img src="img/newgoods_img6.jpg"/></div>
						<div class="wz_a">
							<p class="wz_ap3">
								<span class="sp1">/ NEW /</span><span class="sp2">海昌EYE100%月抛隐形眼海昌EYE100%月抛隐形眼海昌EYE100%月抛隐形眼</span><span class="sp3">￥520.00</span>
							</p>
						</div>
					</div>
				</li>
				<li>
					<div class="box_top1_u2div">
						<div class="img_a"><img src="img/newgoods_img6.jpg"/></div>
						<div class="wz_a">
							<p class="wz_ap3">
								<span class="sp1">/ NEW /</span><span class="sp2">海昌EYE100%月抛隐形眼海昌EYE100%月抛隐形眼海昌EYE100%月抛隐形眼</span><span class="sp3">￥520.00</span>
							</p>
						</div>
					</div>
				</li>
				<li>
					<div class="box_top1_u2div">
						<div class="img_a"><img src="img/newgoods_img6.jpg"/></div>
						<div class="wz_a">
							<p class="wz_ap3">
								<span class="sp1">/ NEW /</span><span class="sp2">海昌EYE100%月抛隐形眼海昌EYE100%月抛隐形眼海昌EYE100%月抛隐形眼</span><span class="sp3">￥520.00</span>
							</p>
						</div>
					</div>
				</li>
				<li>
					<div class="box_top1_u2div">
						<div class="img_a"><img src="img/newgoods_img6.jpg"/></div>
						<div class="wz_a">
							<p class="wz_ap3">
								<span class="sp1">/ NEW /</span><span class="sp2">海昌EYE100%月抛隐形眼海昌EYE100%月抛隐形眼海昌EYE100%月抛隐形眼</span><span class="sp3">￥520.00</span>
							</p>
						</div>
					</div>
				</li>
				<li>
					<div class="box_top1_u2div">
						<div class="img_a"><img src="img/newgoods_img6.jpg"/></div>
						<div class="wz_a">
							<p class="wz_ap3">
								<span class="sp1">/ NEW /</span><span class="sp2">海昌EYE100%月抛隐形眼海昌EYE100%月抛隐形眼海昌EYE100%月抛隐形眼</span><span class="sp3">￥520.00</span>
							</p>
						</div>
					</div>
				</li>
				<li>
					<div class="box_top1_u2div">
						<div class="img_a"><img src="img/newgoods_img6.jpg"/></div>
						<div class="wz_a">
							<p class="wz_ap3">
								<span class="sp1">/ NEW /</span><span class="sp2">海昌EYE100%月抛隐形眼海昌EYE100%月抛隐形眼海昌EYE100%月抛隐形眼</span><span class="sp3">￥520.00</span>
							</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>