<div class="newGoods_box">
   <div class="head_img">
      <!-- <img src="img/newgoods.jpg" alt=""> -->
      <li ng-repeat="item in data.bannerone">
         <a href="javascript:;" ads-click="item"><img ng-src="{{item.ad_img}}" alt=""></a>
      </li>
   </div>
   <div class="newbrandin">
      <div class="title">
         <div class="en">NEW BRAND</div>
         <div class="ch">新品牌入驻</div>
      </div>
      <div class="brand_list gird">
         <div class="dh sfq">
            <ul>
               <li ng-repeat="item in data.new_goods" repeat-done="render()">
                  <a href="javascript:;" ads-click="item"><img ng-src="{{item.ad_img}}" alt=""></a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="commodity" ng-if="data.top_tui.list.length">
      <div class="title">
         <div class="en">COMMODITY</div>
         <div class="ch">精选商品</div>
      </div>
      <div class="goods-list gird">
         <a class="goods" ng-repeat="item in data.top_tui.list" target="_blank" ui-sref="shop-detail({'goods_id':item.goods_id})">
            <div class="img">
               <img ng-src="{{item.original_img}}" alt="">
            </div>
            <div class="info">
               <div class="name">{{item.goods_name}}</div>
               <div class="price" ng-if="showPrice">¥{{item.shop_price}}</div>
            </div>
         </a>
      </div>
   </div>
   <div class="new_product" ng-if="data.new_tui.list.length">
      <div class="title">
         <div class="en">NEW PRODUCT</div>
         <div class="ch">新品上架</div>
      </div>
      <div class="goods-list gird">
         <a class="goods" ng-repeat="item in data.new_tui.list" target="_blank" ui-sref="shop-detail({'goods_id':item.goods_id})">
            <div class="img">
               <img ng-src="{{item.original_img}}" alt="">
            </div>
            <div class="info">
               <div class="name">{{item.goods_name}}</div>
               <div class="price" ng-if="showPrice">¥{{item.shop_price}}</div>
            </div>
         </a>
      </div>
   </div>
</div>