<div class="newGoods_box">
   <div class="head_img">
      <img src="img/newgoods.jpg" alt="">
   </div>
   <div class="newbrandin">
      <div class="title">
         <div class="en">NEW BRAND</div>
         <div class="ch">新品牌入驻</div>
      </div>
      <div class="brand_list gird">

         <div class="dh sfq">
            <ul>
               <li ng-repeat="item in data.top_tui.list" repeat-done="render()">
                  <a href="javascript:;"><img src="{{item.original_img}}" alt=""></a>
               </li>
            </ul>
         </div>

      </div>
   </div>
   <div class="commodity">
      <div class="title">
         <div class="en">COMMODITY</div>
         <div class="ch">精选商品</div>
      </div>
      <div class="goods-list gird">
         <div class="goods" ng-repeat="item in data.top_tui.list">
            <div class="img">
                  <img ng-src="{{item.original_img}}" alt="">
            </div>
            <div class="info">
               <div class="name">水电费水电费水电费水电费</div>
               <div class="price">¥200.00</div>
            </div>
         </div>
      </div>
   </div>
   <div class="new_product">
      <div class="title">
         <div class="en">NEW PRODUCT</div>
         <div class="ch">新品上架</div>
      </div>
      <div class="goods-list gird">
         <div class="goods" ng-repeat="item in data.top_tui.list">
            <div class="img">
                  <img ng-src="{{item.original_img}}" alt="">
            </div>
            <div class="info">
               <div class="name">水电费水电费水电费水电费</div>
               <div class="price">¥200.00</div>
            </div>
         </div>
      </div>
   </div>
</div>