<div class="route mb20">
	<div class="gird">
		当前位置：<a href="#/home">首页</a> > <a href="#/control-mb">用户中心</a>&gt;{{title}}
	</div>
</div>

<div class="main" style="margin-bottom: 25px;">
	<div class="im-panel gird cle">
        <div class="panel-left">
			<div class="control-bt" ng-click="goControlMb()" style="cursor: pointer;"><em class="ico"></em>控制面板</div>
			<div class="control-list aotms">
				<h3 class="control-h3"><em class="coe-1"></em>交易管理</h3>
				<div class="control-nr">
					<p><a href="#/order-all/">我的订单</a></p>
					<p><a href="#/myCollect">我的收藏</a></p>
					<p><a href="#/person-integral">积分管理</a></p>
					<p><a href="#/person-yhq">优惠券管理</a></p>
				</div>
			</div>
			<div class="control-list">
				<h3 class="control-h3"><em class="coe-2"></em>服务中心</h3>
				<div class="control-nr">
					<p><a href="#/person-process">来镜加工</a></p>
					<p><a href="#/person-return-repair">返修退换货</a></p>
					<p><a href="#/parson-msg-center">消息中心</a></p>
				</div>
			</div>
			<div class="control-list">
				<h3 class="control-h3"><em class="coe-3"></em>资产中心</h3>
				<div class="control-nr">
					<p><a href="#/zijin-mana">资金管理</a></p>
					<p><a href="#/person-invoices">发票管理</a></p>
				</div>
			</div>
			<div class="control-list">
				<h3 class="control-h3"><em class="coe-4"></em>个人设置</h3>
				<div class="control-nr">
					<p><a href="#/person-qy-lxrmsg">个人信息</a></p>
					<p><a href="#/person-save-center">安全中心</a></p>
					<p class="onp"><a href="#/person-mana-addr">管理收货地址</a></p>
				</div>
			</div>
			<div class="control-list">
				<h3 class="control-h3" ng-click="loginOut()" style="cursor: pointer;"><em class="coe-5"></em>安全退出</h3>
			</div>
        </div>
		<div class="panel-right">
			<div class="control-wrp">
				<div class="cont-hd cle">
    				<div class="cbt-left">
    					<span><a href="#/person-mana-addr" class="cbt-wz on">配送地址</a></span>
    					<span><a href="#/person-addr-apply" class="cbt-wz ">地区申请</a></span>
    				</div>
    			</div>
    			<div class="cont-bd">
    				<div class="contacts-wrap czhi">
    					<div class="location mb20">
							<div class="addc"><a style="cursor:pointer;" class="ad-btn js_adbtn">添加新地址</a><span>您已创建{{haveSetAddr}}个收货地址，最多可创建20个</span></div>
							<div class="add-nr js_adbr">
								<table class="addn-t">
									<tr>
										<td width="170" valign="top" ><div class="an-left"><em>*</em> 收货人：</div></td>
										<td>
											<div class="an-right">
												<input class="text" type="text" ng-model="addParamsData.consignee" placeholder="请输入收货人姓名"/>
											</div>
										</td>
									</tr>
									<tr>
										<td width="170" valign="top" ><div class="an-left"><em>*</em> 所在地区：</div></td>
										<td>
											<div class="an-right">
												<div class="anr-selt">
													<select class="selt"  ng-model="addParamsData.province" ng-change="provinceChange()">
														<option value="">请选择</option>
														<option ng-repeat="item in provinceList" value="{{item.region_id}}">{{item.region_name}}</option>
													</select>
													<select class="selt" ng-disable="cityList" ng-model="addParamsData.city" ng-change="cityChange()">
														<option value="">请选择</option>
														<option ng-repeat="item in cityList" value="{{item.region_id}}">{{item.region_name}}</option>
													</select>
													<select class="selt" ng-disable="districtList" ng-model="addParamsData.district">
														<option value="">请选择</option>
														<option ng-repeat="item in districtList" value="{{item.region_id}}">{{item.region_name}}</option>
													</select>
												</div>												
											</div>
										</td>
									</tr>
									<tr>
										<td width="170" valign="top" ><div class="an-left"><em>*</em> 详细地址：</div></td>
										<td>
											<div class="an-right">
												<input class="text" type="text" ng-model="addParamsData.address" placeholder="请输入详细地址"/>
											</div>
										</td>
									</tr>
									<tr>
										<td width="170" valign="top" ><div class="an-left"><em>*</em> 手机号码：</div></td>
										<td>
											<div class="an-right">
												<input class="text" type="text" placeholder="请输入您的手机号"  ng-model="addParamsData.mobile"/>
											</div>
										</td>
									</tr>
									<tr>
										<td width="170" valign="top" ><div class="an-left"><em></em> 固定电话：</div></td>
										<td>
											<div class="an-right">
												<input class="text" type="text" placeholder="请输入您的固定电话" />
												<div class="mren mb10">
													<span class="uq"><input type="checkbox" id="uep" value="" ng-model="addParamsData.default"/><label for="uep"></label></span>设置为默认收获地址
												</div>
												<div class="olp-anniu">
													<a style="cursor:pointer;" class="he js_querg" ng-click="onsubmit()">确认地址</a>
													<a style="cursor:pointer;" class="ix js_querg">取消</a>
												</div>
											</div>
										</td>
									</tr>
								</table>
							</div>
							<!--编辑框-->
							<div class="changeMsgBox" ng-if="neShow==1" ng-init="neShow=0">
								<div class="add-nrc js_adbrc">
									<table class="addn-tc">
										<tr>
											<td width="170" valign="top" ><div class="an-leftc"><em>*</em> 收货人：</div></td>
											<td>
												<div class="an-rightc">
													<input class="textc" type="text" ng-model="addParamsDataA.consignee"/>
												</div>
											</td>
										</tr>
										<tr>
											<td width="170" valign="top" ><div class="an-leftc"><em>*</em> 所在地区：</div></td>
											<td>
												<div class="an-rightc">
													<div class="anr-seltc">
														<select class="seltc" ng-model="addParamsDataA.province" ng-change="provinceChangeA(addParamsDataA.province)">
													
															<option ng-repeat="itemA in getThisAddress.province_list" ng-selected="itemA.selected" value="{{itemA.region_id}}">{{itemA.region_name}}</option>
														</select>
														<select class="seltc" ng-disable="cityListA" ng-model="addParamsDataA.city" ng-change="cityChangeA(addParamsDataA.city)">
															
															<option ng-repeat="itemB in getThisAddress.city_list" ng-selected="itemB.selected" value="{{itemB.region_id}}">{{itemB.region_name}}</option>
														</select>
														<select class="seltc" ng-disable="districtListA" ng-model="addParamsDataA.district">
															
															<option ng-repeat="itemC in getThisAddress.district_list" ng-selected="itemC.selected" value="{{itemC.region_id}}">{{itemC.region_name}}</option>
														</select>                                               
													</div>												
												</div>
											</td>
										</tr>
										<tr>
											<td width="170" valign="top" ><div class="an-leftc"><em>*</em> 详细地址：</div></td>
											<td>
												<div class="an-rightc">
													<input class="textc" type="text" ng-model="addParamsDataA.address"/>
												</div>
											</td>
										</tr>
										<tr>
											<td width="170" valign="top" ><div class="an-leftc"><em>*</em> 手机号码：</div></td>
											<td>
												<div class="an-rightc">
													<input class="textc" type="text" ng-model="addParamsDataA.mobile" />
												</div>
											</td>
										</tr>
										<tr>
											<td width="170" valign="top" ><div class="an-leftc"><em></em> 固定电话：</div></td>
											<td>
												<div class="an-rightc">
													<input class="textc" type="text"/>
													<div class="mrenc mb10">
														<span class="uqc"><input type="checkbox" id="uepc" ng-checked="addParamsDataA.default" ng-model="addParamsDataA.default" ng-disabled="addParamsDataA.default"/><label for="uepc"></label></span>设为默认收获地址
													</div>
													<div class="olp-anniuc">
														<a style="cursor: pointer;" class="hec js_quergc" ng-click="changePersonAddress(addr.address_id)">确认更改</a>
														<a style="cursor: pointer;" class="ixc js_quergc" ng-click="qxChangeBox()">取消</a>
													</div>
												</div>
											</td>
										</tr>
									</table>
								</div>
							</div>
    					</div>
    					<div class="add-list" ng-repeat="addr in manaAddress.data" ng-class="{'selected':addr.selected}">
    						<div class="item cle" ng-class="{'setdefault':addr.selected}">
    							<div class="only">
    								<div class="veel icl-1" style="overflow-wrap: break-word;">{{addr.consignee}}</div>
    								<div class="veel icl-2">{{addr.address}}</div>
    								<div class="veel icl-3">{{addr.mobile}}</div>
    								<div class="veel icl-4" ng-if="!addr.selected">
    									<a style="cursor:pointer;" ng-click="setDefaultDz(addr.address_id,$event)">设为默认</a>
    									<a style="cursor:pointer;" ng-click="changeMsgBox(addr.address_id);">编辑 </a>
    									<a style="cursor:pointer;" class="js_delt" ng-click="delAddBtn(addr.address_id)">删除</a>
    								</div>  
    								<div class="veel icl-4" ng-if="addr.selected">
    									<a style="cursor:pointer;">默认地址</a>
    									<a style="cursor:pointer;" ng-click="changeMsgBox(addr.address_id);">编辑 </a>
    									<a style="cursor:pointer;" class="js_delt" ng-click="delAddBtn(addr.address_id)">删除</a>
    								</div>    								
    							</div>
    							<div class="clear"></div>
    						</div>
    						<!--删除地址-->
    					</div>
    					
    				</div>
    			</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>



