<div class="route mb20">
    <div class="gird">
        当前位置：<a href="#/home">首页</a> > <a href="#/control-mb">用户中心</a>&gt;{{title}}
    </div>
</div>

<div class="main" style="margin-bottom: 25px;">
    <div class="im-panel gird cle">
        <ng-template ng-include="'Template/control-tool.html'"></ng-template>
        <div class="panel-right">
            <div class="control-wrp">
                <div class="cont-hd cle">
                    <div class="cbt-left">
                        <span ng-if="payPass==0"><a style="cursor:pointer;" class="cbt-wz on">设置支付密码</a></span>
                        <span ng-if="payPass==1"><a style="cursor:pointer;" class="cbt-wz on">修改支付密码</a></span>
                    </div>
                </div>
                <div class="cont-bd">
                    <div class="contacts-wrap ">

                        <div class="forget_mmone">
                            <div class="forget_mmone_con">
                                <div class="mmone_con_top">
                                    <div class="forget_jd_t" style="margin-left:150px;height:32px;background: url(img/yz_lc.png) no-repeat left bottom;">
                                        <span class="forget_sp2">验证身份</span>
                                        <span ng-if="payPass==0" style="left:250px;" class="forget_sp3">设置支付密码</span>
                                        <span ng-if="payPass==1" style="left:250px;" class="forget_sp3">修改支付密码</span>
                                        <span style="left:545px;" class="forget_sp4">完成</span>
                                        <!--<span class="forget_sp5">完成</span>-->
                                    </div>
                                </div>
                                <div class="mm_wz">
                                    <p ng-if="payPass==0" class="mm_wz_p">恭喜您，设置支付密码成功!</p>
                                    <p ng-if="payPass==1" class="mm_wz_p">恭喜您，修改支付密码成功!</p>
                                    <p class="mm_wz_p1">您可以在镜库网开心的购物啦，为了保证您的安全，建议您定期更换密码。</p>
                                    <p class="mm_wz_p2"><input type="button" ng-click="goLogin()" class="mm_wz_btn" value="确定"/></p>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
