<div class="route mb20">
	<div class="gird">
		当前位置：<a href="#/home">首页</a> > <a href="#/control-mb">用户中心</a>&gt;{{title}}
	</div>
</div>

<div class="main" style="margin-bottom: 25px;">
	<div class="im-panel gird cle">
		<ng-template ng-include="'Template/control-tool.html'"></ng-template>
		<div class="panel-right">
			<div class="control-wrp">
				<div class="cont-hd cle">
    				<div class="cbt-left">
    					<span><a href="#/person-qy-lxrmsg" class="cbt-wz">联系人信息</a></span>
    					<span><a href="#/person-qy-msg" class="cbt-wz">企业资料</a></span>
    					<span><a href="#/user-logo-center" class="cbt-wz">logo设置</a></span>
    					<span><a href="#/person-qy-reset" class="cbt-wz on">重置账户</a></span>
    					
    				</div>
    			</div>
    			<div class="cont-bd">
    				<div class="contacts-wrap czhi">
    					<div class="error"></div>
    					<div class="err-wz">
    						<h4>不符合重置账户条件</h4>
    						<p><em>{{dateTime}}</em> 秒后将自动返回个人中心首页</p>
    						<a href="#" class="er_btn">重置账户</a>
    					</div>
    					
    				</div>
    			</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
