<div class="route mb20">
	<div class="gird">
		当前位置：<a href="#/home">首页</a> > <a href="#/control-mb">用户中心</a>&gt;{{title}}
	</div>
</div>

<div class="main" style="margin-bottom: 25px;">
	<div class="im-panel gird cle">
        <div class="panel-left">
			<div class="control-bt" ng-click="goControlMb()" style="cursor: pointer;"><em class="ico"></em>控制面板</div>
			<div class="control-list aotms">
				<h3 class="control-h3"><em class="coe-1"></em>交易管理</h3>
				<div class="control-nr">
					<p><a href="#/order-all/">我的订单</a></p>
					<p><a href="#/myCollect">我的收藏</a></p>
					<p><a href="#/person-integral">积分管理</a></p>
					<p><a href="#/person-yhq">优惠券管理</a></p>
				</div>
			</div>
			<div class="control-list">
				<h3 class="control-h3"><em class="coe-2"></em>服务中心</h3>
				<div class="control-nr">
					<p><a href="#/person-process" >来镜加工</a></p>
					<p><a href="#/person-return-repair">返修退换货</a></p>
					<p><a href="#/parson-msg-center">消息中心</a></p>
				</div>
			</div>
			<div class="control-list">
				<h3 class="control-h3"><em class="coe-3"></em>资产中心</h3>
				<div class="control-nr">
					<p class="onp"><a href="#/zijin-mana">资金管理</a></p>
					<p><a href="#/person-invoices">发票管理</a></p>
				</div>
			</div>
			<div class="control-list">
				<h3 class="control-h3"><em class="coe-4"></em>个人设置</h3>
				<div class="control-nr">
					<p><a href="#/person-qy-lxrmsg">个人信息</a></p>
					<p><a href="#/person-save-center">安全中心</a></p>
					<p><a href="#/person-mana-addr">管理收货地址</a></p>
				</div>
			</div>
			<div class="control-list">
				<h3 class="control-h3" ng-click="loginOut()" style="cursor: pointer;"><em class="coe-5"></em>安全退出</h3>
			</div>
        </div>
		<div class="panel-right">
			<div class="control-wrp">
				<div class="cont-hd cle">
    				<div class="cbt-left">
    					<span><a href="#/zijin-mana" class="cbt-wz">资金管理</a></span>
    					<span><a href="#/person-pay" class="cbt-wz">充值</a></span>
    					<span><a href="#/person-deposit" class="cbt-wz on">提现</a></span>
    					<span><a href="#/deposit-detail" class="cbt-wz">账户明细</a></span>
    					
    				</div>
    			</div>
    			<div class="cont-bd">
    				<div class="contacts-wrap">
    					<div class="tabg">
							<div class="tag-neri cle">
								<div class="tgne-left">收款人姓名：</div>
								<div class="tgne-right">
									<div class="nose">
										<input class="nose-txt" type="text" ng-model="name" placeholder="请填写收款人姓名"  />
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="tag-neri cle">
								<div class="tgne-left">提现金额：</div>
								<div class="tgne-right">
									<div class="nose">
										<input class="nose-txt" type="text" ng-model="amount" placeholder="请填写提现金额"  />
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="tag-neri cle"> 
								<div class="tgne-left">提现银行：</div> 
								<div class="tgne-right"> 
									<div class="nose"> 
										<select ng-model='open_bank' ng-change="changeBank(open_bank)" style="-webkit-appearance: none;width: 330px;height: 35px;outline: none;padding: 0 15px;color: #666;font-size: 13px;border: 1px solid #d9d9d9;">
											<option value="">请选择</option>
											<option ng-repeat="bank in bankAll.recharge_list" value="{{bank.code}}">{{bank.name}}</option> 
										</select>  
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="tag-neri cle">
								<div class="tgne-left">银行卡号：</div>
								<div class="tgne-right">
									<div class="nose">
										<input class="nose-txt" type="text" ng-model="brank_code" placeholder="请填写银行卡号"  />
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="tag-neri cle">
								<div class="tgne-left">温馨提示：</div>
								<div class="tgne-right">
									<div class="nose">
										您的可提现余额为￥{{yEMoney}}
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="tag-neri cle">
								<div class="tgne-left">备注：</div>
								<div class="tgne-right">
									<div class="nose">
										<textarea class="nose-texa" ng-model="note"></textarea>
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="tag-neri cle">
								<div class="tgne-left">&nbsp;</div>
								<div class="tgne-right">
									<div class="nose">
										<input class="nose-btn" type="button" value="提交" ng-click="tjTxApply()"/>
									</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
    					
						
    				</div>
    			</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
