<div class="route mb20">
	<div class="gird">
		当前位置：<a href="#/home">首页</a> > <a href="#/control-mb">用户中心</a>&gt;{{title}}
	</div>
</div>

<div class="main" style="margin-bottom: 25px;">
	<div class="im-panel gird cle">
		<ng-template ng-include="'Template/control-tool.html'"></ng-template>
		<div class="panel-right">
			<div class="control-wrp">
				<div class="cont-hd cle">
    				<div class="cbt-left">
    					<span><a style="cursor:pointer;" class="cbt-wz on">手机验证</a></span>
    				</div>
    			</div>
    			<div class="cont-bd">
    				<div class="contacts-wrap ">
    					
    					<div class="phone">
    						<div class="yz_lc c-2">
    							<div class="lct"></div>
    							<div class="wzi">
    								<span class="w-1">输入手机号码</span>
    								<span class="w-2">发送短信验证码</span>
    								<span class="w-3">验证完成</span>
    							</div>
    						</div>
    						<table class="yz_sj">
    							<tr>
    								<td width="350"><div class="yz-r">当前手机号：</div></td>
    								<td >{{phoneNumber}}</td>
    							</tr>
								<tr>
									<td width="350"><div class="yz-r">验证码：</div></td>
									<td>
										<div style="height:34px;" class="GeetestCaptchaView1"></div>
									</td>
								</tr>
    							<tr>
    								<td width="350"><div class="yz-r">短信验证码：</div></td>
    								<td>
    									<input class="text" type="text" ng-model="mobileCode" placeholder="请输入验证码信息" />
    									<input class="butn2" type="button" ng-click="getVerify()" ng-disabled="getVer" ng-value="str"/>
    								</td>
    							</tr>
    							<tr>
    								<td width="350"><div class="yz-r">&nbsp;</div></td>
    								<td><input class="butn" type="button" ng-click="goTelThree()" value="下一步" /></td>
    							</tr>
    						</table>
    					</div>
    					
						
					
    				</div>
    			</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
