
<div class="route mb20">
	<div class="gird">
		当前位置：<a href="#/home">首页</a> > <a href="#/control-mb">用户中心</a>&gt;{{title}}
	</div>
</div>
<div class="main" style="margin-bottom: 25px;">
	<div class="im-panel gird cle">
        <div class="panel-left">
			<div class="control-bt" ng-click="goControlMb()" style="cursor: pointer;"><em class="ico"></em>控制面板</div>
			<div class="control-list aotms">
				<h3 class="control-h3"><em class="coe-1"></em>交易管理</h3>
				<div class="control-nr">
					<p><a href="#/order-all/">我的订单</a></p>
					<p><a href="#/myCollect">我的收藏</a></p>
					<p><a href="#/person-integral">积分管理</a></p>
					<p><a href="#/person-yhq">优惠券管理</a></p>
				</div>
			</div>
			<div class="control-list">
				<h3 class="control-h3"><em class="coe-2"></em>服务中心</h3>
				<div class="control-nr">
					<p><a href="#/person-process" >来镜加工</a></p>
					<p><a href="#/person-return-repair">返修退换货</a></p>
					<p><a href="#/parson-msg-center">消息中心</a></p>
				</div>
			</div>
			<div class="control-list">
				<h3 class="control-h3"><em class="coe-3"></em>资产中心</h3>
				<div class="control-nr">
					<p class="onp"><a href="#/zijin-mana">资金管理</a></p>
					<p><a href="#/person-invoices">发票管理</a></p>
				</div>
			</div>
			<div class="control-list">
				<h3 class="control-h3"><em class="coe-4"></em>个人设置</h3>
				<div class="control-nr">
					<p><a href="#/EmployeeM">员工管理</a></p>
					<p><a href="#/person-qy-lxrmsg">企业信息</a></p>
					<p><a href="#/person-save-center">安全中心</a></p>
					<p><a href="#/person-mana-addr">管理收货地址</a></p>
				</div>
			</div>
			<div class="control-list">
				<h3 class="control-h3" ng-click="loginOut()" style="cursor: pointer;"><em class="coe-5"></em>安全退出</h3>
			</div>
        </div>
		<div class="panel-right">
			<div class="control-wrp">
				<div class="cont-hd cle">
    				<div class="cbt-left">
    					<span><a href="#/zijin-mana" class="cbt-wz">资金管理</a></span>
    					<span><a href="#/person-pay" class="cbt-wz on">充值</a></span>
    					<span><a href="#/person-deposit" class="cbt-wz ">提现</a></span>
    					<span><a href="#/deposit-detail" class="cbt-wz ">账户明细</a></span>
    					
    				</div>
    			</div>
    			<div class="cont-bd">
    				<div class="contacts-wrap ">
    					<div class="tabg">
							<div class="tag-neri">
								<div class="tgne-left">充值金额：</div>
								<div class="tgne-right">
									<div class="nose">
										<input class="nose-txt" type="text" ng-model="amount"/>
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="tag-neri">
								<div class="tgne-left">会员备注：</div>
								<div class="tgne-right">
									<div class="nose">
										<input class="nose-txt" type="text" ng-model="note"/>
									</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
    					<div class="cvz-fans cle">
							<div class="fsvee">支付方式</div>
							<div class="llbuje cle">
								<div class="Bank_card cak">
									<span class="up"><input type="radio" name="fle" value="alipay_pc_direct" ng-model="payment_id" class="zffs_input" id="zxzf"/></span>
									<label for="zxzf"><img src="img/j-01.jpg" /></label>
								</div>
								<div class="Bank_card ">
									<span class="up"><input type="radio" name="fle" value="wx_pub_qr" ng-model="payment_id" class="zffs_input" id="yhzf"/></span>
									<label for="yhzf"><img src="img/j-02.jpg" /></label>
								</div>
								<div class="Bank_card ">
									<span class="up"><input type="radio" name="fle" value="upacp_pc" ng-model="payment_id" class="zffs_input" id="yhzf1"/></span>
									<label for="yhzf1"><img src="img/j-03.jpg" /></label>
								</div>
							</div>
							<div class="fs-anniu">
								<a style="cursor:pointer;" class="t" ng-click="payApply()">充值</a>
							</div>
							<div class="clear"></div>
						</div>
						
    				</div>
    			</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
