<div class="route mb20">
	<div class="gird">
		当前位置：<a href="#/home">首页</a> > <a href="#/control-mb">用户中心</a>&gt;{{title}}
	</div>
</div>

<div class="main" style="margin-bottom: 25px;">
	<div class="im-panel gird cle">
		<ng-template ng-include="'Template/control-tool.html'"></ng-template>
		<div class="panel-right">
			<div class="control-wrp">
				<div class="cont-hd cle">
    				<div class="cbt-left">
    					<span><a style="pointer-events: none;" class="cbt-wz on">积分管理</a></span>
    					
    				</div>
    			</div>
    			<div class="cont-bd">
    				<div class="contacts-wrap integral" style="overflow: hidden;">
    					<table class="integral-tab">
    						<tr>
    							<th width="230">时间</th>
    							<th width="140">消费积分</th>
    							<th width="140">等级积分</th>
    							<th>描述</th>
    						</tr>
    						<tr ng-repeat="int in integralMg.list">
    							<td>{{int.change_time}}</td>
    							<td>{{int.number}}</td>
    							<td>{{int.symbol_rank_points}}</td>
    							<td>{{int.change_desc}}</td>
    						</tr>
    						<tr ng-if="no_dd">
    							<td colspan="4"><pstyle="font-size: 20px;text-align: center;padding: 200px 0;">暂时没有积分信息~</p></td>
    						</tr>
    					</table>
    					 <div class="pages" ng-if="!no_dd">
			                <div id="Pagination"></div>
			                <div class="searchPage">
			                    <span class="page-sum">共<strong class="allPage">{{integralMg.pages}}</strong>页</span>
			                    <span class="page-go">到第<input type="text" value="1">页</span>
			                    <a href="javascript:;" class="page-btn">确定</a>
			                </div>
			            </div>
    				</div>
    			</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
