<div class="route mb20">
	<div class="gird">
		当前位置：<a href="#/home">首页</a> > <a href="#/control-mb">用户中心</a>&gt;{{title}}
	</div>
</div>

<div class="main" style="margin-bottom: 25px;">
	<div class="im-panel gird cle">
		<ng-template ng-include="'Template/control-tool.html'"></ng-template>
		<div class="panel-right">
			<div class="control-wrp">
				<div class="cont-hd cle">
    				<div class="cbt-left">
    					<span><a style="pointer-events: none;" class="cbt-wz on">安全中心</a></span>
    				</div>
    			</div>
    			<div class="cont-bd">
    				<div class="contacts-wrap credit">
    					
    					<div class="security">
    						<div class="sec-item cle">
    							<div class="snm-l">用户名：</div>
    							<div class="snm-r">{{username}}</div>
    							<div class="clear"></div>
    						</div>
    						<!--低-->
    						<div class="sec-item cle" ng-if="saveCd == 1">
    							<div class="snm-l">安全级别：</div>
    							<div class="snm-r">
    								<div class="dgo" style="color: #FFD306;">低<em></em></div>
    								<div class="jdut">
    									<div class="jd"><span style="width: 33%;background: linear-gradient(to left,#FFD306,#FFD306) !important;"></span></div>
    									<div class="hzi">建议开启所有安全设置，已保证账号和资金安全。</div>
    								</div>
    							</div>
    							<div class="clear"></div>
    						</div>
    						<!--中-->
    						<div class="sec-item cle" ng-if="saveCd == 2">
    							<div class="snm-l">安全级别：</div>
    							<div class="snm-r">
    								<div class="dgo" style="color: red;">中<em></em></div>
    								<div class="jdut">
    									<div class="jd"><span style="width: 66%;"></span></div>
    									<div class="hzi">建议开启所有安全设置，已保证账号和资金安全。</div>
    								</div>
    							</div>
    							<div class="clear"></div>
    						</div>
    						<!--高-->
    						<div class="sec-item cle" ng-if="saveCd == 3">
    							<div class="snm-l">安全级别：</div>
    							<div class="snm-r">
    								<div class="dgo" style="color:#2894FF;">高</div>
    								<div class="jdut">
    									<div class="jd"><span style="width: 100%;background: linear-gradient(to left, #2894FF, #2894FF) !important;"></span></div>
    									<div class="hzi" ng-if="saveCd == 1 || saveCd == 2">建议开启所有安全设置，已保证账号和资金安全。</div>
    								</div>
    							</div>
    							<div class="clear"></div>
    						</div>
    					</div>
    					
						<table class="credit-table">
							<tr>
								<td width="65" ><div class="icon cre-4"></div></td>
								<td>
									<div class="txt">
										<h3>登录密码</h3>
										<p>互联网账号存在被盗风险，建议您定期更改密码以保护账户安全。</p>
									</div>
								</td>
								<td width="100" ><a href="#/save-passone" class="lxg"><em></em>修改密码</a></td>
							</tr>
							<tr>
								<td width="65" ><div class="icon cre-5"></div></td>
								<td>
									<div class="txt">
										<h3>邮箱验证</h3>
										<p>验证后，可用于快速找回登录密码，接收账户余额变动提醒。</p>
									</div>
								</td>
								<td width="100" ><a href="#/save-emailone" class="lxg"><em></em>{{haveYx?'更换邮箱':'立即绑定'}}</a></td>
							</tr>
							<tr>
								<td width="65" ><div class="icon cre-6"></div></td>
								<td>
									<div class="txt">
										<h3>手机验证</h3>
										<p>您验证的手机：{{mobilePer}},若已丢失或停用，请立即更换，避免账户被盗。</p>
									</div>
								</td>
								<td width="100" ><a href="#/save-telone" class="lxg"><em></em>{{mobileP?'修改手机':'绑定手机'}}</a></td>
							</tr>
							<tr>
								<td width="65" ><div class="icon cre-7"></div></td>
								<td>
									<div class="txt">
										<h3>支付密码</h3>
										<p>建议您定期更换新的支付密码，提高安全性。</p>
									</div>
								</td>
								<td width="100" ><a href="#/save-payPass" class="lxg"><em></em>{{payPass?'修改密码':'立即设置'}}</a></td>
							</tr>
						</table>
					
    				</div>
    			</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
