<div class="route mb20">
	<div class="gird">
		当前位置：<a href="#/home">首页</a> > <a href="#/control-mb">用户中心</a>&gt;{{title}}
	</div>
</div>

<div class="main" style="margin-bottom: 25px;">
	<div class="im-panel gird cle">
		<ng-template ng-include="'Template/control-tool.html'"></ng-template>
		<div class="panel-right">
			<div class="control-wrp">
				<div class="cont-hd cle">
    				<div class="cbt-left">
    					<span><a href="#/person-mana-addr" class="cbt-wz ">配送地址</a></span>
    					<span><a href="#/person-addr-apply" class="cbt-wz">地区申请</a></span>
    				</div>
    			</div>
    			<div class="cont-bd">
    				<div class="contacts-wrap czhi">
    					<div class="error s_he"></div>
    					<div class="err-wz">
    						<h4>您申请开通的地区正在审核中...</h4>
    						<!--<p><em>{{dateTime}}</em> 秒后将自动返回个人中心首页</p>-->
    						<!--<a href="#/person-addr-apply" class="er_btn">返回上一页</a>-->
    					</div>
    					
    				</div>
    			</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>



<div class="mapl-muse hidden"></div>
<div class="mapl-alert hidden">
	<em class="mapl-gbia js_jbgn"></em>
	<div class="mapl-ok">
		<h2 class="mapl-h2">您确定要删除该地址吗？</h2>
		<div class="mapl-lji"><a href="#" class="d js_jbgn">确定</a><a href="#" class="q js_jbgn">取消</a></div>
	</div>
</div>
<script>
	
	$(".ret-sli").click(function(){
		$(this).parent().find(".muke").removeClass("hidden")
		$(this).parent().find(".zzc").addClass("open");
		$("body").addClass("over-hide");
	})
	$(".muke").click(function(){
		$(".muke").addClass("hidden")
		$(".zzc").removeClass("open");
		$("body").removeClass("over-hide");
	})
	$(".zzc").click(function(){
		$(".muke").addClass("hidden")
		$(".zzc").removeClass("open");
		$("body").removeClass("over-hide");
	})
	
</script>