<div class="route mb20">
	<div class="gird">
		当前位置：<a href="#/home">首页</a> > <a href="#/control-mb">用户中心</a>&gt;{{title}}
	</div>
</div>

<div class="main" style="margin-bottom: 25px;">
	<div class="im-panel gird cle">
		<ng-template ng-include="'Template/control-tool.html'"></ng-template>
		<div class="panel-right">
			<div class="control-wrp">
				<div class="cont-hd cle">
    				<div class="cbt-left">
    					<span><a style="pointer-events: none;" class="cbt-wz on">优惠券管理</a></span>
    				</div>
    			</div>
    			<div class="cont-bd">
    				<div class="contacts-wrap czhi">
    					<div class="location mb20">
    						
							<div class="yhq_box">
								<ul class="yhq_top">
									<li ng-click="getCuponList(null)" class="sp_co">未使用({{couponNum1}})</li>
									<li ng-click="getCuponList('use')">已使用({{couponNum2}})</li>
									<li ng-click="getCuponList('over_time')">已过期({{couponNum3}})</li>
									<div class="clear"></div>
								</ul>
								
								
								<div class="yhq_cont" ng-if="!yhq_show">
									<div ng-repeat="yhq in personYhq.data" ng-class="{true:'yhq_cont_d',false:'yhq_cont_d yhq_cont_d1'}[status==null||status=='use']">
										<p class="yhq_p1"><i class="small_y">￥</i><span class="big_font">{{yhq.type_money}}</span></p>
										<p class="yhq_p2">{{yhq.type_name}}</p>
										<p class="yhq_p3">【满{{yhq.min_goods_amount}}元可用】</p>
										<p class="yhq_p4">{{yhq.use_end_date}}之前使用</p>
										<div class="btn_box">
											<input type="button" ng-if="status==null" value="立即使用" ng-click="goDpDetail(yhq.type_id)" class="use_now"/>
											<input type="button" ng-if="status=='use'" value="已使用" class="use_now"/>
										</div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
							<p ng-if="yhq_show" style="font-size: 20px;text-align: center;padding: 200px 0;">暂时没有可用的优惠券~</p>
    					</div>
    				</div>
    			</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>

<script>
	$('.yhq_top>li').click(function () {
		$(this).addClass('sp_co').siblings().removeClass('sp_co');
	})
</script>
</body>
</html>