<div class="route mb20">
	<div class="gird">
		当前位置：<a href="#/home">首页</a> > <a href="#/control-mb">用户中心</a> > {{title}}
	</div>
</div>

<div class="msg-no-main" style="margin-bottom: 25px;">
	<div class="im-panel gird cle">
		<ng-template ng-include="'Template/control-tool.html'"></ng-template>
		<div class="panel-right">
			<div class="control-wrp">
				<div class="cont-hd cle">
    				<div class="cbt-left">
    					<span><a href="#" class="cbt-wz on">消息中心</a></span>
    					
    				</div>
    			</div>
    			<div class="cont-bd">
    				<div class="contacts-wrap czhi">
    					<div class="error horn"></div>
    					<div class="err-wz">
    						<h4>不符合重置账户条件</h4>
    						<p><em>5</em> 秒后将自动返回个人中心首页</p>
    						<a href="#" class="er_btn">返回上一页</a>
    					</div>
    					
    				</div>
    			</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>