<div class="route mb20">
	<div class="gird">
		当前位置：<a href="#/home">首页</a> > <a href="#/control-mb">用户中心</a>&gt;{{title}}
	</div>
</div>

<div class="main" style="margin-bottom: 25px;">
	<div class="im-panel gird cle">
		<ng-template ng-include="'Template/control-tool.html'"></ng-template>
		<div class="panel-right">
			<div class="control-wrp">
				<div class="cont-hd cle">
    				<div class="cbt-left">
    					<span><a href="#/person-qy-lxrmsg" class="cbt-wz on">联系人信息</a></span>
    					<span><a href="#/person-qy-msg" class="cbt-wz">企业资料</a></span>
    					<span><a href="#/user-logo-center" class="cbt-wz">头像设置</a></span>  
                   <span><a href="#/distribution-qualification" class="cbt-wz">铺货资质</a></span>
    					
    				</div>
    			</div>
    			<div class="cont-bd">
    				<div class="contacts-wrap">
    					<table class="cont-tab">
    						<tr>
    							<td width="105"><div class="name">用户名：</div></td>
    							<td>
    								<div class="jjp cle">
    									<div class="zbu">{{getUserMsg.user_info.user_name}}</div>
    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td width="105"><div class="name">联系人姓名：</div></td>
    							<td>
    								<div class="jjp cle">
    									<div class="zbu czaineir ">{{getUserMsg.user_info.true_name}}</div>
    									<div class="ybu close-js">
    										<a style="cursor: pointer;"><em></em>编辑</a>
    									</div>
    								</div>
    								<div class="modify ">
										<div class="shur"><input class="stxt" type="text" ng-model="getUserMsg.user_info.true_name" placeholder="请填写联系人姓名"/></div>
										<div class="anniu">
											<input class="sbtn oen-yes" type="button" value="保存" ng-click="savePersonMsg($event,getUserMsg.user_info.true_name)"/>
											<input class="sbtn oen-no n2" type="button" value="取消" ng-click="haveLx()"/>
										</div>
									</div>
    							</td>
    						</tr>
    						<tr>
    							<td width="105"><div class="name">联系人邮箱：</div></td>
    							<td>
    								<div class="jjp cle">
    									<div class="zbu czaineir ">{{getUserMsg.user_info.email}}</div>
    									<div class="ybu close-js">
    										<a style="cursor: pointer;"><em></em>编辑</a>
    									</div>
    								</div>
    								<div class="modify ">
										<div class="shur"><input class="stxt" type="text" ng-model="getUserMsg.user_info.email" placeholder="请填写联系人邮箱"/></div>
										<div class="anniu">
											<input class="sbtn oen-yes" type="button" value="保存" ng-click="savePersonY($event,getUserMsg.user_info.email)"/>
											<input class="sbtn oen-no n2" type="button" value="取消" ng-click="haveLx()"/>
										</div>
									</div>
    							</td>
    						</tr>
    						<tr>
    							<td width="105"><div class="name">联系人QQ：</div></td>
    							<td>
    								<div class="jjp cle">
    									<div class="zbu czaineir ">{{getUserMsg.user_info.qq}}</div>
    									<div class="ybu close-js">
    										<a style="cursor: pointer;"><em></em>编辑</a>
    									</div>
    								</div>
    								<div class="modify">
										<div class="shur"><input class="stxt" type="text" ng-model="getUserMsg.user_info.qq" placeholder="请填写联系人QQ"/></div>
										<div class="anniu">
											<input class="sbtn oen-yes" type="button" value="保存" ng-click="savePersonQ($event,getUserMsg.user_info.qq)"/>
											<input class="sbtn oen-no n2" type="button" value="取消" ng-click="haveLx()"/>
										</div>
									</div>
    							</td>
    						</tr>
    					</table>
    				</div>
    			</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>

<script>
	$(".close-js").click(function(){
		$(this).parent().addClass("hide");
		$(this).parent().parent().find(".modify").addClass("show");
	})
	$(".oen-no").click(function(){
		$(this).parent().parent().removeClass("show");
		$(this).parents().parent().parent().find(".jjp").removeClass("hide");
	})
</script>