<div class="route mb20">
	<div class="gird">
		当前位置：<a href="#/home">首页</a> > <a href="#/control-mb">用户中心</a>&gt;{{title}}
	</div>
</div>

<div class="main" style="margin-bottom: 25px;">
	<div class="im-panel gird cle">
      <ng-template ng-include="'Template/control-tool.html'"></ng-template>
		<div class="panel-right">
			<div class="control-wrp">
				<div class="cont-hd cle">
    				<div class="cbt-left">
    					<span><a href="#/zijin-mana" class="cbt-wz">资金管理</a></span>
    					<span><a href="#/person-pay" class="cbt-wz">充值</a></span>
    					<span><a href="#/person-deposit" class="cbt-wz on">提现</a></span>
    					<span><a href="#/deposit-detail" class="cbt-wz">账户明细</a></span>
    					
    				</div>
    			</div>
    			<div class="cont-bd">
    				<div class="contacts-wrap">
    					<div class="tabg">
							<div class="tag-neri cle">
								<div class="tgne-left">收款人姓名：</div>
								<div class="tgne-right">
									<div class="nose">
										<input class="nose-txt" type="text" ng-model="name" placeholder="请填写收款人姓名"  />
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="tag-neri cle">
								<div class="tgne-left">提现金额：</div>
								<div class="tgne-right">
									<div class="nose">
										<input class="nose-txt" type="text" ng-model="amount" placeholder="请填写提现金额"  />
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="tag-neri cle"> 
								<div class="tgne-left">提现银行：</div> 
								<div class="tgne-right"> 
									<div class="nose"> 
										<select ng-model='open_bank' ng-change="changeBank(open_bank)" style="-webkit-appearance: none;width: 330px;height: 35px;outline: none;padding: 0 15px;color: #666;font-size: 13px;border: 1px solid #d9d9d9;">
											<option value="">请选择</option>
											<option ng-repeat="bank in bankAll.recharge_list" value="{{bank.code}}">{{bank.name}}</option> 
										</select>  
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="tag-neri cle">
								<div class="tgne-left">银行卡号：</div>
								<div class="tgne-right">
									<div class="nose">
										<input class="nose-txt" type="text" ng-model="brank_code" placeholder="请填写银行卡号"  />
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="tag-neri cle">
								<div class="tgne-left">温馨提示：</div>
								<div class="tgne-right">
									<div class="nose">
										您的可提现余额为￥{{yEMoney}}
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="tag-neri cle">
								<div class="tgne-left">备注：</div>
								<div class="tgne-right">
									<div class="nose">
										<textarea class="nose-texa" ng-model="note"></textarea>
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="tag-neri cle">
								<div class="tgne-left">&nbsp;</div>
								<div class="tgne-right">
									<div class="nose">
										<input class="nose-btn" type="button" value="提交" ng-click="tjTxApply()"/>
									</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
    					
						
    				</div>
    			</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
