<div class="recharge-main">
    <!--头部  E-->

    <div class="jk-jf-banr"></div>

    <!--内容  S-->
    <div class="gird">
        <div class="jif-010 mb20" >
            <div class="c pt30"><img src="img/jifen-2.jpg"/></div>
            <div class="jifanniu">
                <div class="ikm1 km on" ng-click="wuqian()"></div>
                <div class="ikm2 km" ng-click="yiwan()"></div>
                <div class="ikm3 km" ng-click="liangwan()"></div>
                <div class="ikm4 km" ng-click="sanwan()"></div>
                <div class="ikm5 km" ng-click="siwan()"></div>
                <div class="ikm6 km" ng-click="wuwan()"></div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="jif-011 mb60">
            <h2 class="jif-1h2">支付方式</h2>
            <div class="jif-0-12">
                <div class="itms">
                    <div class="img"><img src="img/jifen-3.jpg"/></div>
                    <div class="anniu"><a href="" ng-click="aliPayFn()" class="btn"></a></div>
                </div>
                <div class="itms">
                    <div class="img"><img src="img/jifen-4.jpg"/></div>
                    <div class="anniu"><a href="" ng-click="wexinFn()" class="btn"></a></div>
                </div>
                <div class="itms">
                    <div class="img"><img src="img/jifen-5.jpg"/></div>
                    <div class="anniu"><a href="" ng-click="ylFn()" class="btn"></a></div>
                </div>
            </div>
        </div>

    </div>
    <!--内容  E-->
</div>
