<div class="sheji-main">
    <div class="sheji-gg" ads-click="shejiData.bannerone[0]" ng-style="{backgroundImage:'url('+shejiData.bannerone[0].ad_img+')'}" style="height:450px;background:url(img/shejiBigPic.jpg) no-repeat center center;background-size: auto 100%;">
        <!--<img style="width:100%;height:100%;display: block;object-fit:contain;" src="img/shejiBigPic.jpg" alt="">-->
    </div>

    <div class="fwei bg-fff">
        <div class="gg-bt">
            <h2>服务范围</h2>
            <div class="tbe"><i></i><em></em><i></i></div>
            <div class="dap">360度拍摄   /   品牌设计   /   营销推广   /   电商服务   /   技术开发</div>
        </div>
        <div class="fwgg-neir">
            <ul class="cle all">
                <li>
                    <div class="mueck"></div>
                    <div class="wrp all-5">
                        <div class="ico cov-1"></div>
                        <div class="tite">
                            <h3>品牌设计</h3> 
                            <p>Brand design</p>
                            <em></em>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="mueck"></div>
                    <div class="wrp all-5">
                        <div class="ico cov-2"></div>
                        <div class="tite">
                            <h3>营销推广</h3>
                            <p>Marketing promotion</p>
                            <em></em>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="mueck"></div>
                    <div class="wrp all-5">
                        <div class="ico cov-3"></div>
                        <div class="tite">
                            <h3>电商服务</h3>
                            <p>Electricity supplier services</p>
                            <em></em>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="mueck"></div>
                    <div class="wrp all-5">
                        <div class="ico cov-4"></div>
                        <div class="tite">
                            <h3>技术开发</h3>
                            <p>technological development</p>
                            <em></em>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="fwei bg-f6">
        <div class="gg-bt">
            <h2>热门推荐</h2>
            <div class="tbe"><i></i><em></em><i></i></div>
            <div class="dap">全方位的服务体系让您运筹帷幄 —— 为互联网提供最全面的服务</div>
        </div>
        <div class="fwrt-list">
            <ul class="cle all-5">
                <li>
                    <div class="wrp">
                        <div class="img"><img src="img/appkf.jpg"/></div>
                        <div class="txt">
                            —<span>app开发</span>—
                        </div>
                    </div>
                </li>
                <li>
                    <div class="wrp">
                        <div class="img"><img src="img/visj.jpg"/></div>
                        <div class="txt">
                            —<span>VI设计</span>—
                        </div>
                    </div>
                </li>
                <li>
                    <div class="wrp">
                        <div class="img"><img src="img/cpps.jpg"/></div>
                        <div class="txt">
                            —<span>产品拍摄</span>—
                        </div>
                    </div>
                </li>
                <li>
                    <div class="wrp">
                        <div class="img"><img src="img/mpsj.jpg"/></div>
                        <div class="txt">
                            —<span>名片设计</span>—
                        </div>
                    </div>
                </li>
                <li>
                    <div class="wrp">
                        <div class="img"><img src="img/pmad.jpg"/></div>
                        <div class="txt">
                            —<span>平面广告</span>— 
                        </div>
                    </div>
                </li>
                <li>
                    <div class="wrp">
                        <div class="img"><img src="img/xqysj.jpg"/></div>
                        <div class="txt">
                            —<span>详情页设计</span>— 
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="fwei bg-fff">
        <div class="gg-bt">
            <h2>热门商品</h2>
            <div class="tbe"><i></i><em></em><i></i></div>
            <div class="dap">精心策划   /   个性创意   /   售后服务   /   专人指导   /   正规合同</div>
        </div>

        <div class="hot-sp">
            <div class="bd">
                <div class="ulWrap">
                        <ul class="cle all clone">
                            <li ng-repeat="hot in shejiData.hot_goods" repeat-done="hotSpFn()">
                                <a href="javascript:;" ui-sref="shop-detail({goods_id:hot.id})">
                                    <div class="wrp">
                                        <div class="img">
                                            <img ng-src={{hot.goods_img}}>
                                        </div>
                                        <span style="width:200px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display: block;float: left;" ng-attr-title="{{hot.name}}">{{hot.name}}</span>
                                        <span style="float: right;font-size: 13px;color:#ff3333;" ng-if="showPrice">{{hot.shop_price}}</span>
                                        <div class="muzz"></div>
                                        <a href="javascript:;" ui-sref="shop-detail({goods_id:hot.id})" class="gwc"></a>
                                        <a ng-click="guanZhu(hot,hot.id)" class="sca" ng-class="{'on':hot.is_collect}"></a>
                                    </div>
                                </a>
                            </li>
                            <!--<li>-->
                            <!--<div class="wrp">-->
                            <!--<div class="img"><img src="img/14.jpg"/></div>-->
                            <!--<div class="muzz"></div>-->
                            <!--<a href="#" class="gwc"></a>-->
                            <!--<a href="#" class="sca"></a>-->
                            <!--</div>-->
                            <!--</li>-->
                            <!--<li>-->
                            <!--<div class="wrp">-->
                            <!--<div class="img"><img src="img/14.jpg"/></div>-->
                            <!--<div class="muzz"></div>-->
                            <!--<a href="#" class="gwc"></a>-->
                            <!--<a href="#" class="sca"></a>-->
                            <!--</div>-->
                            <!--</li>-->
                            <!--<li>-->
                            <!--<div class="wrp">-->
                            <!--<div class="img"><img src="img/14.jpg"/></div>-->
                            <!--<div class="muzz"></div>-->
                            <!--<a href="#" class="gwc"></a>-->
                            <!--<a href="#" class="sca"></a>-->
                            <!--</div>-->
                            <!--</li>-->
                            <!--<li>-->
                            <!--<div class="wrp">-->
                            <!--<div class="img"><img src="img/14.jpg"/></div>-->
                            <!--<div class="muzz"></div>-->
                            <!--<a href="#" class="gwc"></a>-->
                            <!--<a href="#" class="sca"></a>-->
                            <!--</div>-->
                            <!--</li>-->
                            <!--<li>-->
                            <!--<div class="wrp">-->
                            <!--<div class="img"><img src="img/14.jpg"/></div>-->
                            <!--<div class="muzz"></div>-->
                            <!--<a href="#" class="gwc"></a>-->
                            <!--<a href="#" class="sca"></a>-->
                            <!--</div>-->
                            <!--</li>-->
                            <!--<li>-->
                            <!--<div class="wrp">-->
                            <!--<div class="img"><img src="img/14.jpg"/></div>-->
                            <!--<div class="muzz"></div>-->
                            <!--<a href="#" class="gwc"></a>-->
                            <!--<a href="#" class="sca"></a>-->
                            <!--</div>-->
                            <!--</li>-->
                            <!--<li>-->
                            <!--<div class="wrp">-->
                            <!--<div class="img"><img src="img/14.jpg"/></div>-->
                            <!--<div class="muzz"></div>-->
                            <!--<a href="#" class="gwc"></a>-->
                            <!--<a href="#" class="sca"></a>-->
                            <!--</div>-->
                            <!--</li>-->
                        </ul>
                    </div>
            </div>
            <div class="hd all">
                <a href="" ng-click="next()" class="next"></a>
                <a href="" ng-click="prev()" class="prev"></a>
            </div>
        </div>
    </div>
</div>