
<div class="shopList-main" ng-show="shopListData">
    <div id="J_crumbsBar" class="crumbs-bar" style="position: relative;padding-top: 15px;margin-bottom: 5px;z-index: 6;">
        <div class="crumbs-nav gird">
            <div class="crumbs-nav-main clearfix">
                <div class="crumbs-nav-item" style="float: left;margin-right: 5px;margin-bottom: 5px;">
                    <div class="crumbs-first" style="color: #999;"><a style="color:#666;">全部结果</a></div>
                </div>
                <!--<i class="crumbs-arrow" style="float: left;margin-right: 5px;font-family:'Helvetica Neue','Hiragino Sans GB',SimSun,serif;font-style: normal;line-height: 18px;">&gt;</i>-->
                <div class="crumbs-nav-item" ng-repeat="key in shopListData.catInfos" style="float: left;margin-right: 5px;margin-bottom: 5px;">
                    <strong ng-click="keyFn(key.cat_id)" class="search-key" style="cursor:pointer;margin-left: 5px;">{{key.cat_name}}</strong>
                    <i class="crumbs-arrow" style="float: left;margin-right: 5px;font-family:'Helvetica Neue','Hiragino Sans GB',SimSun,serif;font-style: normal;line-height: 18px;">&gt;</i>
                </div>
            </div>
        </div>
    </div>
    <div class="shop-list">
        <div class="guess-you-like" ng-if="qxsjAd&&qxsjAd.data.length">
            <div class="guess-you-like-main">
                <div class="fl like-main-tit">
                    <p>热卖推荐</p>
                </div>
                <div class="likeTui" ng-if="qxsjAd.data">
                    <a class="sPrev" href="javascript:void(0)"></a>
                    <ul class="tempWrap" style="margin-left: 20px;">
                        <li class="fl like-main-item" ng-repeat="item in qxsjAd.data" repeat-done="itemFn()">
                            <a href="#/shop-detail/{{item.id}}"><img ng-src={{item.goods_img}} alt=""></a>
                            <a href="#/shop-detail/{{item.id}}"><p>{{item.name}}</p></a>
                            <span>{{item.shop_price}}</span>
                            <a class="qg" href="#/shop-detail/{{item.id}}">立即抢购</a>
                        </li>
                    </ul>
                    <a class="sNext" href="javascript:void(0)"></a>
                </div>

                <!--<div class="fl like-main-cuxiao">-->
                    <!--<p>促销 活动</p>-->
                <!--</div>-->
                <!--<div class="fl like-main-ul">-->
                    <!--<ul>-->
                        <!--<li>· 爱尔康新品，优惠20！</li>-->
                        <!--<li>· 月球新品，优惠20！</li>-->
                        <!--<li>· 爱尔康新品，优惠20！</li>-->
                        <!--<li>· 新款隐形，速来抢购！</li>-->
                    <!--</ul>-->
                <!--</div>-->
            </div>
        </div>
        <!--<div style="margin-top: 10px;" ng-show="!price"></div>-->
            <div class="shopList-main-tit" ng-if="shopListData.goods.length!=0" style="clear: both;">
                 <!--当前位置：<a href="#/home">首页</a> > - -->
                <!--<p>{{ding}}</p>-->
                <p ng-if="shopListData.is_true==1" style="color:#808080;">已选条件：</p>
                <div style="width:950px;">
                    <div ng-repeat="fashionMonthSelect in shopListData.goods_attr_arr[1].data" class="select-conditions" ng-if="fashionMonthSelect.selected">
                        分类：<span>{{fashionMonthSelect.cat_name}}</span>
                        <i ng-click="closeFenlei($event)">×</i>
                    </div>
                    <div class="select-conditions" style="cursor: pointer;" ng-if="ding">
                        分类：<span>{{ding}}</span>
                        <!-- <i ng-click="closeFenlei($event)">×</i> -->
                    </div>
                    <div ng-repeat="fashionSelect in shopListData.goods_attr_arr[0].data" class="select-conditions" ng-if="fashionSelect.selected">
                        品牌：<span>{{fashionSelect.brand_name}}</span>
                        <i ng-click="closeFashion($event)">×</i>
                    </div>
                    <!-- <div class="select-conditions" ng-if="price">
                        价格：<span><em>{{min_price}}</em>-<em>{{max_price}}</em></span>
                        <i ng-click="closePrice($event)">×</i>
                    </div> -->
                    <div ng-repeat="fashion_attr in shopListData.goods_attr_arr[4].data" class="select-conditions">
                        <span>{{fashion_attr.attr_name}}</span>
                        <i ng-click="closeShuxing(fashion_attr.filter)">×</i>
                    </div>
                </div>
                <div ng-repeat="big in shopListData.goods_attr_arr">
                    <div ng-repeat="small in big.data">
                        <div class="delete-select" ng-click="deleteSelect()" ng-if="small.selected">
                            <span>清空已选条件</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="shopList-select-conditions"  ng-if="shopListData.goods.length!=0">
                <div class="more-conditions" ng-if="moreXx" ng-click="moreXxFn()">
                    <p>更多选项</p>
                </div>
                <div class="more-ano-conditions" ng-if="shouQi" ng-click="shouQiFn()">
                    <p>收起</p>
                </div>
                <div class="shopList-fashion shopList-price">
                    <div class="shopList-fashion-tit">{{fashionMonthName}}：</div>
                    <div class="shopList-fashion-content">
                        <div class="shopList-fashion-item" ng-repeat="fashionMonthItem in shopListData.goods_attr_arr[1].data" ng-click="getMonthValue(fashionMonthItem.cat_name,fashionMonthItem.cat_id)">{{fashionMonthItem.cat_name}}</div>
                    </div>
                    <div class="more-fashion" ng-if="shopListData.goods_attr_arr[1].data.length > 6">
                        <p>更多</p>
                        <i>+</i>
                    </div>
                </div>
                <div class="shopList-fashion">
                    <div class="shopList-fashion-tit" style="top:21px;">{{fashionAllName}}：</div>
                    <div class="shopList-fashion-content brand-item">
                        <div class="shopList-fashion-item" ng-repeat="fashionAllItem in shopListData.goods_attr_arr[0].data" repeat-done="clickMore()">
                            <div class="fashion-item-name" ng-click="getAllValue(fashionAllItem.brand_name,fashionAllItem.brand_id)">{{fashionAllItem.brand_name}}</div>
                            <img ng-src={{fashionAllItem.brand_logo}} alt="">
                        </div>
                    </div>
                    <div class="more-fashion" style="top:27px;" ng-if="shopListData.goods_attr_arr[0].data.length > 7">
                        <p>更多</p>
                        <i>+</i>
                    </div> 
                </div>
                <!--<div class="shopList-fashion shopList-price">-->
                    <!--<div class="shopList-fashion-tit">{{fashionPriceName}}：</div>-->
                    <!--&lt;!&ndash;<div class="shopList-fashion-item-one" ng-click="priceAll()" style="cursor: pointer;">全部</div>&ndash;&gt;-->
                    <!--<div class="shopList-fashion-content">-->
                        <!--<div class="shopList-fashion-item" ng-repeat="fashionPriceItem in shopListData.goods_attr_arr[2].data" ng-click="getPriceValue(fashionPriceItem.min_price,fashionPriceItem.max_price)"><span>{{fashionPriceItem.min_price}}</span>-<span>{{fashionPriceItem.max_price}}</span></div>-->
                    <!--</div>-->
                    <!--<div class="more-fashion">-->
                        <!--<p>更多</p>-->
                        <!--<i>+</i>-->
                    <!--</div>-->
                <!--</div>-->
                    <div class="shopList-fashion shopList-price" ng-if="shouQi?true:$index<2" ng-repeat="fashionAttr in shopListData.goods_attr_arr[3].data" repeat-done="clickMore()">
                        <div class="shopList-fashion-tit">{{fashionAttr.attr_name}}：</div>
                        <!--<div class="shopList-fashion-item-one">全部</div>-->
                        <div class="shopList-fashion-content">
                            <div class="shopList-fashion-item" ng-repeat="fashionWaterItem in fashionAttr.values" ng-click="getAttrValue(fashionWaterItem.value,fashionWaterItem.filter)">{{fashionWaterItem.value}}</div>
                        </div>
                        <div class="more-fashion" ng-show="fashionAttr.values.length > 5">
                            <p>更多</p>
                            <i>+</i>
                        </div>
                    </div>
            </div>
            <div ng-show="shopListData.goods.length==0" class="ns-wrap clearfix info" style="padding: 10px 0px;clear:both;">
                <span class="ns-icon" style="float: left;display: block;width: 32px;height: 32px;background: url(//misc.360buyimg.com/product/search/1.0.7/css/i/search.notice.png) no-repeat 0 2px;"></span>
                <div class="ns-content" style="margin-left: 32px;line-height: 32px;padding-left: 10px;font-size: 14px;font-weight: 700;color: #f60;">
                    <span>抱歉，没有找到相关的商品</span></div>
            </div>
            <div ng-hide="shopListData.goods.length==0">
                <div class="shopList-sort-tit" style="position: relative;">
                    <div class="shopList-sort-item" ng-class="{'selected':ListPage.order==''}" ng-click="allOrder()"><p>综合</p></div>
                    <!--<div ng-click="tuijianAsOrder()" class="xiaoyuhao"></div>-->
                    <!--<div ng-click="tuijianDsOrder()" class="dayuhao"></div>-->
                    <div class="shopList-sort-item" ng-class="{'selected':ListPage.order=='sales_num'}" ng-click="tuijianOrder()"><p>销量</p></div>
                    <!--<div class="shopList-sort-item"><p style="position: relative;left:-10px;" ng-click="timeOrder()">时间</p><div ng-click="timeAsOrder()" class="xiaoyuhao"></div><div ng-click="timeDsOrder()" class="dayuhao"></div></div>-->
                    <div class="shopList-sort-item" ng-class="{'selected':ListPage.order=='shop_price'}" ng-click="priceOrder()">
                        <p style="position: relative;left:-10px;">价格</p>
                        <div class="xiaoyuhao" ng-class="{'selected':ListPage.order=='shop_price'&&ListPage.stort=='ASC'}"></div>
                        <div class="dayuhao" ng-class="{'selected':ListPage.order=='shop_price'&&ListPage.stort=='DESC'}"></div>
                    </div>

                    <div class="chose_box">
                        <div class="chose_box_top">
                            <div class="chose_box_top_con">
                                <input type="text" placeholder="¥" ng-model="ListPage.min_price" class="chose_inp"/>
                                —
                                <input type="text" placeholder="¥" ng-model="ListPage.max_price" class="chose_inp"/>
                                <div class="chose_box_bottom">
                                    <span class="chose_box_bl" ng-click="clearPrice()">清空</span>
                                    <span class="chose_box_br" ng-click="enterPrice()">确定</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div style="position: absolute;right: 90px;top: 10px;font-size: 14px;color: #666;">
                        共<span style="color:#FF3333;">{{shopListData.count}}</span>件商品 <span style="color:#FF3333;">{{shopListData.page}}</span>/<span>{{shopListData.pages}}</span>页
                    </div>
                    <div class="sort-toggle">
                        <div class="arrow-left" ng-click="prevList()"></div>
                        <div class="arrow-right" ng-click="nextList()"></div>
                    </div>
                </div>
                <div class="shopList-goods">
                    <div class="big-shopList-goods-items" ng-repeat="listGoods in shopListData.goods">
                        <div class="shopList-goods-items" style="position: relative;">
                            <!--<div ng-if="listGoods.is_promote" class="icon" style="position: absolute;z-index: 5;right:104px;top: 1px;">-->
                                <!--<img src="img/is_promote.jpg" alt="">-->
                            <!--</div>-->
                            <!--<div ng-if="listGoods.is_hot" class="icon" style="position: absolute;z-index: 5;right:52px;top: 1px;">-->
                                <!--<img src="img/hot_icon.jpg" alt="">-->
                            <!--</div>-->
                            <!--<div ng-if="listGoods.is_new" class="icon" style="position: absolute;z-index: 5;right: 0;top: 1px;">-->
                                <!--<img src="img/new_icon.jpg" alt="">-->
                            <!--</div>-->
                            <div class="small_img_box">
                                <img src="img/new_cxico1.png" ng-if="listGoods.is_promote"/>
                                <img src="img/new_cxico2.png" ng-if="listGoods.is_hot"/>
                                <img src="img/new_cxico3.png" ng-if="listGoods.is_new"/>
                            </div>
                            <div class="picFocus">
                                        <div class="goods-items-img">
                                            <ul ng-if="listGoods.gallery" style="overflow: hidden;">
                                                <li style="float:left;" ng-repeat="bigList in listGoods.gallery">
                                                    <a href="#/shop-detail/{{bigList.goods_id}}" target="_blank"><img ng-src={{bigList.img_url}} alt=""></a>
                                                </li>
                                                <!--<li><a href=""><img src="img/alcon.png" alt=""></a></li>-->
                                                <!--<li><a href=""><img src="img/alcon.png" alt=""></a></li>-->
                                            </ul>
                                        </div>
                                <div class="hd">
                                    <!--<a class="sNext" href="javascript:void(0)"></a>-->
                                        <ul>
                                            <li ng-repeat="bigs in listGoods.gallery"><a href="#/shop-detail/{{bigs.goods_id}}" target="_blank"><img ng-src={{bigs.thumb_url}}></a></li>
                                            <!--<li><img src="img/alcon_.png" /></li>-->
                                            <!--<li><img src="img/alcon_.png" /></li>-->
                                        </ul>
                                    <!--<a class="sPrev" href="javascript:void(0)"></a>-->
                                </div>
                            </div>
                            <p class="goods-items-name" ng-attr-title='{{listGoods.name}}'><a href="#/shop-detail/{{listGoods.id}}" target="_blank">{{listGoods.name}}</a></p>
                            <p class="goods-items-price"><a href="#/shop-detail/{{listGoods.id}}" target="_blank">{{listGoods.shop_price}}</a></p>
                            <p class="goods-items-store">{{listGoods.suppliers_name}}</p>
                            <div class="shop_btn_box">
                                <a href="#/shop-detail/{{listGoods.id}}" class="shop_btn_a1">立即购买</a>
                                <a style="cursor:pointer;" class="shop_btn_a2" ng-click="goodsCollect(listGoods.is_collect,listGoods.id,$index)">关注<span class="sc" ng-class="{'scsc':listGoods.is_collect}"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="pages" style="float:left">
                        <div id="Pagination"></div>
                        <div class="searchPage">
                            <span class="page-sum">共<strong class="allPage">{{shopListData.pages}}</strong>页</span>
                            <span class="page-go">到第<input type="text" value="1">页</span>
                            <a href="javascript:;" class="page-btn">确定</a>
                        </div>
                    </div>
                </div>
            </div>

        <div class="hot-sale-tuijian" ng-if="YouLike">
            <div class="hot-sale-tit"><p>猜你喜欢</p></div>
            <div class="hot-sale-goods">
                <a class="sPrev" href="javascript:void(0)"></a>
                <div class="tempWrap">
                    <ul>
                        <li ng-repeat="like in YouLike.goods_list" repeat-done="likeGoodsFn()">
                            <a href="#/shop-detail/{{like.goods_id}}">
                                <img ng-src={{like.goods_img}} alt="">
                            </a>
                            <p>{{like.goods_name}}</p>
                            <i>{{like.shop_price}}</i>
                        </li>
                    </ul>
                </div>
                <a class="sNext" href="javascript:void(0)"></a>
            </div>
        </div>
    </div>
</div>
<script>
//    $('.nav-bar li:eq(0)').css({
//        color:'#ff3333',
//        boxSizing:'border-box',
//        borderBottom:'3px solid #ff3333'
//    });

</script>