<style type="text/css">
	.top_conbox .shop_top_sp2 .join_gz{display: inline-block;width: 17px;height: 17px;background: url(img/join_gz.png) center no-repeat;background-size: 100%;margin-right: 5px;position: relative;top: 3px;}    
	.top_conbox .shop_top_sp1 .join_dp{display: inline-block;width: 19px;height:19px;background: url(img/join_shop.png) center no-repeat;background-size: 100% auto;position: relative;top: 4px;margin-right: 5px;}    
</style>  
<div class="shopDetail-main" ng-show="data">
    <div id="masks" class="masks"></div>
    <div class="shopDetail-tit">
        <div class="shop-detail-tit">
            <!--<p style="float:left;">当前位置：<a href="#/home">首页</a> > <em style="cursor: pointer;" ng-repeat="tit in shopDetailData.catInfos"><a ng-click="goBack(tit.cat_name,tit.cat_id)">{{tit.cat_name}}</a> > </em><em ng-bind="detailTitle"></em></p>-->
            <p style="float:left;"><em style="cursor: pointer;" ng-repeat="tit in shopDetailData.catInfos"><a ng-click="goBack(tit.cat_name,tit.cat_id)">{{tit.cat_name}}</a> > </em><em ng-bind="detailTitle"></em></p>
            <div class="top_conbox"> 
                <span class="shop_top_sp1" ng-click="goStore()" style="cursor: pointer;"><span class="join_dp"></span>{{name}}</span>
                <span ng-if="!shopDetailData.supplier_info.is_select" style="cursor: pointer;" class="shop_top_sp2" ng-click="shopGz()"><span class="join_gz"></span>加关注</span>
                <span ng-if="shopDetailData.supplier_info.is_select" style="cursor: pointer;" class="shop_top_sp2" ng-click="shopGz()"><span class="join_gz"></span>已关注店铺</span>
                <span ng-click="qimoChatClick(shopDetailData.supplier_info.access_id);" style="cursor: pointer;" class="shop_top_sp3"><i class="lx_saler"></i>联系卖家</span> 
            </div>  
        </div>
    </div>   
    <div class="goods-detail-nrBox">
        <div class="goods-detail-content">
            <div class="sp-box">
                <div class="fl sp-nrleft">
                    <div id="preview" class="spec-preview"> <span class="jqzoom"><img jqimg={{imgUrl}} ng-src={{imgUrl}} alt=""></span> </div>
                    <!--缩图开始-->
                    <div class="spec-scroll"> <a ng-if="shopDetailData.gallery.length>5" class="prev"></a> <a ng-if="shopDetailData.gallery.length>5" class="next"></a>
                        <div class="items">
                            <ul>
                                <li ng-repeat="imgItem in shopDetailData.gallery" repeat-done="jqzoom()"><img bimg="{{imgItem.img_url}}" ng-src="{{imgItem.img_url}}" onmousemove="preview(this);"></li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="qita">
                        <a href="javascript:;" class="fenx share" data-params="{{shopDetailData.gallery[0].img_url}}">分享</a>
                        <a ng-click="goodsNotCollect()" href="javascript:;" class="souc" ng-show="successed">收藏商品</a>
                        <a ng-click="goodsCollect()" href="javascript:;" class="souc_" ng-show="success">收藏商品</a>
                    </div>
                </div>
                <div class="fl sp-nrright" ng-if="data&&!data.data.exchange_info">
                    
                    <div class="new_shop_detail_top">
                        <h2 class="new_shop_h2">{{goodsName}}</h2>
                        <p class="new_shop_p1">
                            <span class="new_shop_sp1">{{shopDetailData.data.goods_brief}}</span>
                            <!--<span class="new_shop_sp2">【正品保障 极速达】正宗北京三禾稻香村月饼</span>-->
                        </p>
                        <div class="money_cg_box" ng-if="shopDetailData.promotion.length!=0 && shopDetailData.promotion[0].is_jti == 1 && shopDetailData.promotion[0].type == 0">
                            <div class="money_cg_d1">
                                <span class="new_shop_sp3">价格</span>
                                <ul class="money_cg_u1">
                                    <li ng-repeat="proPrice in shopDetailData.promotion[0].value">
                                        <span class="rmb_sp">￥</span>{{proPrice.price}}
                                    </li>
                                </ul>
                            </div>
                            <div class="money_cg_d1">
                                <span class="new_shop_sp3">采购量</span>
                                <ul class="money_cg_u2">
                                    <li ng-repeat="proTit in shopDetailData.promotion[0].value">{{proTit.title}}{{unit}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="new_shop_yhqbox" ng-if="shopDetailData.promotion.length>0||shopDetailData.bonus.length>0">
                            <div ng-if="shopDetailData.bonus.length>0" class="yhq_box_d1">
                                <span class="yhq_sp1">领券</span>
                                <ul class="yhq_u1" ng-if="shopDetailData.bonus.length>0">
                                    <li ng-repeat="bonus in shopDetailData.bonus" ng-click="lqYhq(bonus.type_id)">满{{bonus.min_goods_amount}}减{{bonus.type_money}}</li>
                                </ul>
                                <a href="#/yhq" class="yhq_more">更多<i class="jt_ico"></i></a>
                            </div>
                            <div ng-if="shopDetailData.promotion.length>0" class="yhq_box_d1">
                                <span class="yhq_sp1">促销</span>
                                <div class="sent_box" ng-if="shopDetailData.promotion.length>0">
                                    <div class="sent_box_d1" ng-repeat="zp in shopDetailData.promotion">
                                        <span class="sent_box_sp1">{{zp.type_name}}</span><span class="sent_box_sp2" ng-bind-html="zp.title"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="saler_msg_box">
                            <div class="saler_msg_d1" ng-if="shopDetailData.data.market_price>0">
                                <span class="saler_msg_sp1">建议零售价</span><span class="saler_msg_sp2">¥{{shopDetailData.data.market_price}}</span>
                            </div>
                            <div class="saler_msg_d1" ng-if="shopDetailData.promotion.length>0">
                                <span class="saler_msg_sp1">原价批发</span><span class="saler_msg_sp3">{{oldShopPrice}}</span>
                            </div>
                            <div class="saler_msg_d1" ng-if="shopDetailData.data.dingzhitime">
                                <span class="saler_msg_sp1">发货时间</span><span class="saler_msg_sp3">卖家保证{{shopDetailData.data.dingzhitime}}内发货</span>
                            </div>
                            <div class="saler_msg_d1">
                                <span class="saler_msg_sp1">配送至</span>
                                <div class="saler_msg_d2">
                                    <div class="saler_msg_d3">
                						<span class="saler_msg_d3_sp1">
                                            <em ng-if="shopDetailData.goods_fee.consignee.length==0">请选择收货区域</em>
                                            <em>{{shopDetailData.goods_fee.consignee.address}}</em>
                                            <i class="arrow_down"></i>
                							<span class="heng_line"></span>
                							<div class="d3_sp1_dzbox">
                								<!--常用地址-->
                								<div class="sp1_dzbox_d1">
                									<p class="sp1_dzbox_d1p1">
                										<span class="sp1_d1p1_l">常用地址</span>
                										<span ng-click="cheon=!cheon" class="sp1_d1p1_r" ng-class="{'cheon':cheon}"></span>
                									</p>
                									<div class="dzbox_d1p1_p1">
                										<p style="cursor: pointer;" class="dzbox_d1p1_p11" ng-click="chengeAddress(fee.address_id,fee.province)" ng-class="{'red':fee.selected==1}" ng-init="cheon=true" ng-if="cheon||fee.selected==1" ng-repeat="fee in shopDetailData.goods_fee.consignee_list">
                                                            <span class="d1p1_p1_sp1" ng-attr-title="{{fee.consignee}}">{{fee.consignee}}</span>
                                                            <span class="d1p1_p1_sp2" ng-attr-title="{{fee.region}}{{fee.address}}">{{fee.region}}{{fee.address}}</span>
                                                        </p>
                                                        <p ng-if="shopDetailData.goods_fee.consignee_list==0">暂无收货地址,请<a href="#/person-mana-addr" target="_blank" style="color: #0070c9;">添加</a>收货地址</p>
                									</div>

                								</div>
                                               
                							</div>
                						</span>
                                        <span class="saler_msg_d3_sp2">
                                            <strong ng-if="shopDetailData.goods_fee.goods_number>0" style="color:#999;">有货</strong>
                                            <strong ng-if="shopDetailData.goods_fee.goods_number==0" style="color:#999;">无货</strong>
                                            <em ng-if="shopDetailData.goods_fee.is_diqu==1">,本地区暂不销售</em>
                                        </span>
                                        <p class="saler_p11"><span ng-if="is_fee>-1" class="saler_msg_sp6">满{{shopDetailData.goods_fee.free_money}}包邮</span></p>
                                    </div>
                                    <div class="saler_msg_d3" style="line-height: 30px;">{{shopDetailData.supplier_info.shipping_rule}}</div>
                                    <div class="saler_msg_d3" style="line-height: 30px;">由&nbsp;<span style="color: #e60000;">{{shopDetailData.supplier_info.name||'镜库'}}</span>&nbsp;负责发货，并提供售后服务</div>
                                    <!--<p class="saler_p1">由<span class="saler_msg_sp4">镜库</span>发货，并提供售后服务。11.10前下单，预计 今天（09月07日） 送达</p>-->
                                </div>
                            </div>
                            <!--膜层-->
                            <div ng-if="saler.is_main==1" class="saler_msg_d1" ng-repeat="saler in spectaclesData.data">
                                <span class="saler_msg_sp1">{{saler.name}}</span>
                                <ul class="saler_msg_film">
                                    <li ng-repeat="salers in saler.values" ng-class="{'on':attrNumber==salers.number}" ng-click="getAttrList(salers.id,salers.number);">{{salers.label}}<i class="guanlianYes"></i></li>
                                </ul>
                            </div>
                        </div>
                        <!--关联商品-->
                        <div class="sale-detailed-message" style="margin-left: 17px;padding-top: 10px;"> 
                            <div class="detailed-message-item detailed-message-lastItem" ng-if="shopDetailData.linked_goods">
                                <p style="color:#666;">关联商品</p>
                                <ul>
                                    <li ng-repeat="glLi in shopDetailData.linked_goods"><a href="#/shop-detail/{{glLi.goods_id}}"><img ng-src={{glLi.goods_img}} alt=""></a><i class="guanlianYes"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div ng-show="pickTable" class="pick-table">
                        <div class="tableZk" ng-class="{'zk':zk}">
                            
                            <table width="100%">
                                <tbody>
                                <tr class="first-line">
                                    <th width="72"></th>
                                    <th width="124" ng-repeat="goods in goodsData.data[0].goods_attr">{{goods.attr_name}}</th>
                                    <th width="124" ng-if="!is_promotion">单价</th>
                                    <th width="124" ng-if="is_promotion">原价</th>
                                    <th width="124" ng-if="is_promotion">促销价</th>
                                    <th width="124">库存</th>
                                    <th width="124">{{data.data.isdingzhi?'操作':'数量'}}</th>
                                </tr>
                                <tr ng-repeat="trItem in goodsData.data">
                                    <th class="img-th" width="72">
                                        <div class="table-img" ng-mouseenter="show11=1;" ng-mouseleave="show11=0" style="position: relative;    box-sizing: border-box;" ng-mousemove="trItem.event = $event">
                                            <img ng-src={{trItem.img_path}} alt="">
                                        </div>
                                        <div ng-if="show11" ng-style="{top:trItem.event.clientY+5+'px',left:trItem.event.clientX+5+'px'}" style="position: fixed; z-index: 100;width: 250px;height: 250px;border:1px solid #e5e5e5;">
                                                <img src="{{trItem.original_img}}" alt="" style="width: 100%;height: 100%;"> 
                                            </div>
                                    </th>
                                    <th width="124" ng-repeat="goods in trItem.goods_attr">{{goods.attr_val}}</th>
                                    <th width="124" style="color:#ff3333;">{{trItem.old_price}}</th>
                                    <th width="124" ng-if="is_promotion" style="color:#ff3333;">{{trItem.price}}</th>
                                    <th width="124">{{trItem.product_number}} {{data.data.unit}}</th>
                                    <th width="124">
                                        <div class="diy-right" ng-if="data.data.isdingzhi!=1">
                                            <span class="wenb">
                                                <a href="javascript:;" class="fl borr c" ng-class="{'no':trItem.num <= 0}" ng-click="reduce($event,$index)">－</a>
                                                <input id="Num" ng-disabled="attrNumber>1" type="number" class="fl c diyr-txt" value="0" ng-model="trItem.num" ng-focus="NumSelect($event);$event=$event" ng-change="change($event,$parent.$index,$index,trItem.num)">
                                                <a href="javascript:;" class="fl borl c" ng-class="{'no':(trItem.product_number - trItem.num) < attrNumber}" ng-click="add($event,$index)">+</a>
                                            </span>
                                        </div>
                                        <div class="dingzhi" ng-if="data.data.isdingzhi==1"><a class="dingzhi_btn" style="width: 135px;
                                            width: 135px;
                                            height: 40px;
                                            background: #3f69a5;
                                            color: #fff;
                                            font-size: 12px;
                                            border: none;
                                            outline: none;
                                            border-radius: 5px;
                                            padding: 12px 16px;" target="_blank" href="{{trItem.frezz_url}}">立即定制</a></div>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-if="zk">
                            <div class="zhankai" ng-class="{'sq':isZk==false}" ng-click="zhankai()"></div>
                        </div>
                    </div>
                    <div ng-show="pickTa" class="pick-ta">
                        <table width="100%" class="pick-table mb20">
                            <tbody>
                                <tr>
                                    <th>数量</th>
                                    <th>球镜</th>
                                    <th>柱镜</th>
                                    <th ng-if="data.data.zhouwei">轴位</th>
                                    <th ng-repeat="pickTa in spectaclesData.specification">{{pickTa.name}}</th>
                                    <!--<th>通道</th>-->
                                    <!--<th>ADD</th>-->
                                    <!--<th>颜色</th>-->
                                    <!--<th>左/右</th>-->
                                    <th ng-if="is_promotion==0">单价</th>
                                    <th ng-if="is_promotion==1">原价</th>
                                    <th ng-if="is_promotion==1">促销价</th>
                                    <th>小计</th>
                                    <th></th>
                                </tr>
                                <tr ng-repeat="item in arr">
                                    <td>
                                        <div class="diy-right">
                                            <span class="wenb">
                                                <a href="javascript:;" class="fl borr c" ng-class="{'no':item.member<=0}" ng-click="item.member>0?(item.member=item.member-1):(item.member=0);numChange(item)">－</a>
                                                <input  type="number" class="fl c diyr-txt pick-text" ng-change="numChange(item)" ng-model="item.member" ng-focus="NumSelect($event);$event=$event">
                                                <a href="javascript:;" class="fl borl c" ng-class="{'fl borr c no':isAdd,'fl borr c':!isAdd,'fl borr c no':trItem.product_number==0}" ng-click="item.member=item.member+1;numChange(item)">+</a>
                                            </span>
                                        </div>
                                        <!-- <input  ng-model="item.member" ng-init="item.member='1'" class="pick-text" type="text"> -->
                                    </td>
                                    <td>
                                        <input id="qiujing" class="pick-text pick-text-qiujing" ng-model="item.qiujing"  ng-click="openDs($event,$index)" placeholder="请选择" type="text" value="{{pickTaList}}">
                                        <div class="dushu-box">
                                            <div class="dushu-tit"><p>选择度数</p><img ng-click="hideDuShuBox($event)" src="img/cha.png" alt=""></div>
                                            <div class="dushu-content">
                                                <div class="dushu-fanwei">
                                                    <p>度数范围：<span>{{high}}</span>  至 <span>{{low}}</span> </p>
                                                </div>
                                                <div class="dushu-table">
                                                    <div class="dushu-table-item" ng-repeat="dushuItem in spectaclesData.spectacles_properties.list"><p ng-click="getDs($event,dushuItem,$parent.$index)">{{dushuItem}}</p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <input id="pick-text" class="pick-text" ng-model="item.zhujasdadsing"  ng-click="openDsZj($event)" placeholder="请选择" type="text"><div class="select-error">请先选择球镜</div>
                                        <div class="dushuQiuJing-box" ng-if="zhujingData.data">
                                            <div class="dushuQiuJing-tit"><p>选择度数</p><img ng-click="hideDuShuBox($event)" src="img/cha.png" alt=""></div>
                                            <div class="dushuQiuJing-content">
                                                <div class="dushuQiuJing-fanwei">
                                                    <p>度数范围：<span>{{highs}}</span>  至 <span>{{lows}}</span> </p>
                                                </div>
                                                <div class="dushuQiuJing-table">
                                                    <div class="dushuQiuJing-table-item" ng-repeat="dushuItems in zhujingData.data"><p ng-click="getDsZj($event,dushuItems,$parent.$index);">{{dushuItems}}</p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td ng-if="data.data.zhouwei"><input id="zhouwei" class="pick-text" ng-focus="NumSelect($event)" ng-model="item.zhouwei" placeholder="请输入" type="text"></td>
                                    <td ng-repeat="zhouwei in spectaclesData.specification"><select class="pick-selt" ng-model="item[zhouwei.name]">
                                        <option value="" ng-selected="1">请选择</option><option ng-repeat="subzhouwei in zhouwei.values" ng-value="subzhouwei.id">{{subzhouwei.label}}</option></select></td>
                                    <!--<td><select class="pick-selt" style="width:47px;"><option>R</option></select></td>-->
                                    <td ng-if="is_promotion==0" style="color:#ff3333;">¥{{item.price||'0.00'}}</td>
                                    <td ng-if="is_promotion==1" style="color:#ff3333;">{{oldShopPrice}}</td>
                                    <td ng-if="is_promotion==1" style="color:#ff3333;">{{cxPrcie}}</td>
                                    <td style="color:#ff3333;">¥{{item.subprice||'0.00'}}</td>
                                    <td><img src="./img/delete_tr.png" style="cursor: pointer;width: 23px;" ng-click="delTr($index)" alt=""></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="zjhang mb20">
                            <a href="javascript:;" ng-click="addTr()">点击新增一行 +</a>
                            <a href="javascript:;" class="fab24" ng-click="delTr()">点击删除一行 -</a>
                        </div>
                    </div>
                    <div class="pick-list" ng-if="isList">
                        <div class="pick-list-top-box" ng-if="topList">
                            <div class="pick-list-top" ng-repeat="specAttr in goodsCarParams.goods.attr" ng-if="goodsCarParams.goods.member[$index]">
                                <div class="fl list-top-color">{{specAttr}}</div>
                                <div class="fl list-top-number"><span>{{goodsCarParams.goods.member[$index]}}</span>{{unit}}</div>
                            </div>
                        </div>
                        <div class="pick-list-bottom" ng-show="isCarParams">
                            <div class="fl list-bottom-total"><span>{{listTotalNumber}}</span>{{unit}}    |    <span>{{listTotalPrice}}</span>元</div>
                            <div class="fl list-bottom-selected" ng-class="{'select':topList}" ng-click="topList=!topList">已选清单</div>
                        </div>
                    </div>
                    <div class="buy-button" ng-if="data.data.isdingzhi!=1">
                        <button ng-click="joinCar()">加入购物车</button>
                        <button ng-click="buyNow()" class="buy">立即购买</button>
                        <button ng-if="isGlass" class="piliang" ng-click="goBulkOrder()">批量下单</button>
                    </div>
                    <div class="zhic">
                        <div>服务支持：</div>
                        <div ng-if="zhengpin"><img src="img/zzpz.png" title="正品保证">正品保证</div>
                        <div ng-if="huodao"><img src="img/thfw.png" title="退换服务">退换服务</div>
                        <div ng-if="tui"><img src="img/sdps.png" title="闪电配送">闪电配送</div>
                    </div>
                </div>
                <div class="fl sp-nrright" ng-if="data&&data.data.exchange_info">
                    <h2>{{goodsName}}</h2>
                        <!-- <p class="new_shop_p1" style="    font-size: 12px;"> -->
                            <!-- <span class="new_shop_sp1" style="    color: #FF3333;">{{shopDetailData.data.goods_brief}}</span> -->
                            <!--<span class="new_shop_sp2">【正品保障 极速达】正宗北京三禾稻香村月饼</span>-->
                        <!-- </p> -->
                    <div class="model">
                        <div class="fl goods-number">商品编号：<span>{{goodsSn}}</span></div>
                        <!-- <div class="fl goods-number">型号：<span>MR1523-04</span></div> -->
                        <div class="fl goods-number">计价单位：<span>{{unit}}</span></div>
                    </div>
                    <div class="sale-points-bigBox">
                        <div class="promotion-message-top">
                            <ul class="price">
                                <li class="message-top-price">所需积分</li>
                                <li><span class="jf-red">￥{{needJf}}</span>积分</li>
                            </ul>
                            <ul class="caigou">
                                <li class="message-top-price">我的积分</li>
                                <li><span>￥{{payPoints}}</span>积分</li>
                            </ul>
                        </div>
                        <div class="sale-points-message">
                            <ul class="price">
                                <li class="message-top-price">已兑量</li>
                                <li><span class="jf-num">{{shopDetailData.data.sales_num}}</span>件</li>
                            </ul>
                            <ul class="caigou">
                                <li class="message-top-price">可供量</li>
                                <li>{{shopDetailData.data.goods_number}}</li>
                            </ul>
                            <ul>
                                <li>购买数量</li>
                                <li>
                                    <div class="diy-right">
                                        <span class="wenb">
                                            <!--<a href="javascript:;" class="fl borr c" ng-click="reduce($event,$index)">－</a>-->
                                            <input type="text" id="pointNum" class="fl c diyr-txt" ng-model="pointsNum" ng-change="change($event,$parent.$index,$index)">
                                            <!--<a href="javascript:;" class="fl borl c" ng-click="add($event,$index)">+</a>-->
                                        </span>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="buy-button">
                        <button ng-click="buyNow()" ng-model="isExchange" ng-disabled="!isExchange" ng-class="{'disable':!isExchange}" class="buy">立即兑换</button>
                    </div>
                    <div class="zhic" ng-if="zhengpin||huodao||tui">
                        <div>服务支持：</div>
                        <div ng-if="zhengpin"><img src="img/zzpz.png" title="正品保证">正品保证</div>
                        <div ng-if="huodao"><img src="img/thfw.png" title="退换服务">退换服务</div>
                        <div ng-if="tui"><img src="img/sdps.png" title="闪电配送">闪电配送</div>
                    </div>
                </div>
            </div>
            <!--<div class="goods-recommended">-->
                <!--<div class="goods-recommended-tit">-->
                    <!--<div class="fl recommended active">商品推荐</div>-->
                    <!--<div class="fl recommended">组合套餐</div>-->
                <!--</div>-->
                <!--<div class="goods-recommended-content active">-->
                    <!--<a class="sPrev" href="javascript:void(0)"></a>-->
                    <!--<div class="tempWrap">-->
                        <!--<ul>-->
                            <!--<li ng-repeat="tuijianLi in shopDetailData.linked_goods" repeat-done="tuijianFn()">-->
                                <!--<a href="">-->
                                    <!--<img ng-src={{tuijianLi.goods_img}} alt="">-->
                                <!--</a>-->
                                <!--<p>{{tuijianLi.goods_name}}</p>-->
                                <!--<i>{{tuijianLi.shop_price}}</i>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<a class="sNext" href="javascript:void(0)"></a>-->
                <!--</div>-->
                <!--<div class="goods-recommended-content">-->
                    <!--<div class="goods-combination">-->
                        <!--<div class="goods-combination-item">-->
                            <!--<img src="img/combinationImg.png" alt="">-->
                            <!--<div class="goods-combination-message">-->
                                <!--<div class="fl goods-combination-select selected"></div>-->
                                <!--<div class="fr goods-combination-price">￥520.00</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="goods-combination-add"></div>-->
                        <!--<div class="goods-combination-item">-->
                            <!--<img src="img/combinationImg.png" alt="">-->
                            <!--<div class="goods-combination-message">-->
                                <!--<div class="fl goods-combination-select"></div>-->
                                <!--<div class="fr goods-combination-price">￥520.00</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="goods-combination-add"></div>-->
                        <!--<div class="goods-combination-item">-->
                            <!--<img src="img/combinationImg.png" alt="">-->
                            <!--<div class="goods-combination-message">-->
                                <!--<div class="fl goods-combination-select"></div>-->
                                <!--<div class="fr goods-combination-price">￥520.00</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="goods-combination-add"></div>-->
                        <!--<div class="goods-combination-item">-->
                            <!--<img src="img/combinationImg.png" alt="">-->
                            <!--<div class="goods-combination-message">-->
                                <!--<div class="fl goods-combination-select"></div>-->
                                <!--<div class="fr goods-combination-price">￥520.00</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="goods-combination-dengyu"></div>-->
                        <!--<div class="goods-combination-total">-->
                            <!--<p>已选择<span>20</span>个商品</p>-->
                            <!--<p class="goods-combination-price">组合价：<span>￥5200.00</span></p>-->
                            <!--<button>立即购买</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="goods-mainly">
                <div class="fl goods-mainly-left">
                    <div class="mainly-left-store">
                        <div class="store-logo">
                            <img style="cursor:pointer;" ng-click="goStore()" ng-src={{logo}} alt="">
                        </div>
                        <div class="store-name">
                            <p>{{name}}</p>
                            <img src="img/chengxin.png" alt="">
                        </div>
                        <!--<div class="store-evaluation">-->
                            <!--<table width="100%">-->
                                <!--<tr>-->
                                    <!--<th class="zonghe" width="96">综合评分</th>-->
                                    <!--<th width="80">详细评分</th>-->
                                    <!--<th width="85">相比行业</th>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<th class="zonghe" width="96"></th>-->
                                    <!--<th width="80">商品</th>-->
                                    <!--<th width="85"><span>9.54</span><img src="img/jt-01.png" alt=""><span>0.01%</span></th>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<th class="pinfen" width="96">9.6</th>-->
                                    <!--<th width="80">服务</th>-->
                                    <!--<th width="85">9.54</span><img src="img/jt-02.png" alt=""><span>0.01%</span></th>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<th class="zonghe" width="96"></th>-->
                                    <!--<th width="80">物流</th>-->
                                    <!--<th width="85">9.54</span><img src="img/jt-02.png" alt=""><span>0.01%</span></th>-->
                                <!--</tr>-->
                            <!--</table>-->
                        <!--</div>-->
                        <div class="store-dizhi">
                            <p>公司名称：<span>{{company}}</span></p>
                            <p>所在地：<span>{{region}}</span></p>
                        </div>
                        <div class="store-tell">
                            <p>联系方式：{{tell}}</p>
                            <!--<button>留言咨询</button>-->
                            <button class="goStore" ng-click="goStore()">进入店铺</button>
                            <button ng-if="!shopDetailData.supplier_info.is_select" class="goStore" ng-click="shopGz()">关注店铺</button>
                            <button ng-if="shopDetailData.supplier_info.is_select" class="goStore" ng-click="shopGz()">取消关注</button>
                            <div ng-if="invType!=0" class="service-zhichi">
                                <p class="fl">服务支持：</p>
                                <img ng-if="invType==1" class="fl" src="img/smrz.png" alt="" title="实名认证">
                                <img ng-if="invType==2" class="fl" src="img/pt.png" alt="" title="普通发票">
                                <img ng-if="invType==3" class="fl" src="img/zz.png" alt="" title="增值发票">
                            </div>
                        </div>
                    </div>
                    <div class="mainly-left-history">
                        <div class="history-tit">您的浏览记录</div>
                        <div class="history-goods">
                            <div class="history-goods-item" ng-repeat="historyItem in shopDetailData.history">
                                <a href="#/shop-detail/{{historyItem.goods_id}}">
                                    <div class="history-goods-item-img"><img ng-src={{historyItem.goods_thumb}} alt=""></div>
                                    <p ng-attr-title="{{historyItem.goods_name}}">{{historyItem.goods_name}}</p>
                                    <span>{{historyItem.format_shop_price}}</span>
                                </a>
                            </div>
                        </div>
                        <div class="history-button" ng-click="deleteHistory()">清除浏览记录</div>
                    </div>
                </div>
                <div class="fl goods-mainly-right">
                    <div class="goods-introduce">
                        <div class="goods-introduce-tit">商品简介</div>
                    </div>
                    <div class="introduce-table" ng-if="shopDetailData.parameter">
                        <div class="introduce-table-list">
                            <div class="introduce-table-list-item" ng-repeat="jianjie in shopDetailData.parameter">{{jianjie.name}}:{{jianjie.value}}</div>
                        </div>
                    </div>
                    <div class="introduce-pic">
                        <!--<img src="img/introducePic.png" alt="">-->
                        <p ng-bind-html="goodsDesc"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    //鼠标经过预览图片函数
    function preview(img){
        $("#preview .jqzoom img").attr("src",$(img).attr("src"));
        $("#preview .jqzoom img").attr("jqimg",$(img).attr("bimg"));
    }
    //图片放大镜效果
    $(function(){
        $(".jqzoom").jqueryzoom({xzoom:422,yzoom:422});
    });

    //图片预览小图移动效果,页面加载时触发
    $(function(){
        var tempLength = 0; //临时变量,当前移动的长度
        var viewNum = 5; //设置每次显示图片的个数量
        var moveNum = 2; //每次移动的数量
        var moveTime = 300; //移动速度,毫秒
        var scrollDiv = $(".spec-scroll .items ul"); //进行移动动画的容器
        var scrollItems = $(".spec-scroll .items ul li"); //移动容器里的集合
        var moveLength = scrollItems.eq(0).width() * moveNum; //计算每次移动的长度
        var countLength = (scrollItems.length - viewNum) * scrollItems.eq(0).width(); //计算总长度,总个数*单个长度

        //下一张
        $(".spec-scroll .next").bind("click",function(){
            if(tempLength < countLength){
                if((countLength - tempLength) > moveLength){
                    scrollDiv.animate({left:"-=" + moveLength + "px"}, moveTime);
                    tempLength += moveLength;
                }else{
                    scrollDiv.animate({left:"-=" + (countLength - tempLength) + "px"}, moveTime);
                    tempLength += (countLength - tempLength);
                }
            }
        });
        //上一张
        $(".spec-scroll .prev").bind("click",function(){
            if(tempLength > 0){
                if(tempLength > moveLength){
                    scrollDiv.animate({left: "+=" + moveLength + "px"}, moveTime);
                    tempLength -= moveLength;
                }else{
                    scrollDiv.animate({left: "+=" + tempLength + "px"}, moveTime);
                    tempLength = 0;
                }
            }
        });
    });

    $('.goods-recommended-tit .recommended').click(function(){
        var indes = $(this).index();
        $('.goods-recommended-tit .recommended').removeClass('active');
        $('.goods-recommended-tit .recommended:eq('+indes+')').addClass('active');
        $('.goods-recommended-content').removeClass('active');
        $('.goods-recommended-content:eq('+indes+')').addClass('active');
    });

    //遮罩层
    function showMask(){
        $("#masks").css("height",$(document).height());
        $("#masks").css("width",$(document).width());
    }
    showMask();

    $('#masks').click(function(){
       $(this).hide();
       $('.dushu-box').hide();
       $('.dushuQiuJing-box').hide();
    });


</script>