<!--<div class="shop-jiesuan-logo">
    <div class="jiesuan-logo">
        <h2>我的结算页</h2>
    </div>
</div>-->
<div class="shop-jiesuan-changetop">
    <div class="shop-jiesuan-changet gird">
        <div class="shop-jiesuan-changetl">
            <a href="#/home">
                <img src="img/logo.png" class="jiesuan-changetlimg" width="177px" />
            </a>
            <span class="jiesuan-changetlsp">结算页</span>
        </div>
        <div class="shop-jiesuan-changetr">
            <div class="jiesuan-changetrd">
                <span class="jiesuan-changetrsp1">我的购物车</span>
                <span class="jiesuan-changetrsp2">填写信息</span>
                <span class="jiesuan-changetrsp3">提交订单</span>
            </div>
        </div>
    </div>
</div>
<div class="shop-jiesuan-gd">
    <div class="jiesuan-gd-div gird">填写并核对订单信息</div>
</div>
<div id="masks" class="masks"></div>
<div class="pur_close_box gird" ng-show="jiesuanData">
    <a href="" class="pur_close_a" ng-click="tianjia()">+ 新增收货地址</a>
    <div class="pur_zengjia">
        <div style="padding: 0 80px 0 20px;height: 42px;line-height: 42px;border-bottom: 1px solid #eee;font-size: 14px;color: #333;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; background-color: #F8F8F8;border-radius: 2px 2px 0 0;">镜库科技</div>
        <table class="dzhi-table" width="100%">
            <tbody>
                <tr>
                    <td width="172">
                        <div class="dzhita-r r">
                            <em class="red">*</em> 收货人：</div>
                    </td>
                    <td>
                        <input placeholder="请输入收货人姓名" type="text" class="dzhi-text" ng-model="eeditData.consignee">
                    </td>
                </tr>
                <tr>
                    <td width="172">
                        <div class="dzhita-r r">
                            <em class="red">*</em> 所在地区：</div>
                    </td>
                    <td>
                        <select class="dzhi-selt" ng-model="eeditData.province" ng-change="selectProvince(eeditData.province)">
                            <option ng-selected="1" value="">请选择</option>
                            <option ng-repeat="zjProvince in tianjiaData.province_list" value="{{zjProvince.region_id}}">{{zjProvince.region_name}}</option>
                        </select>
                        <select class="dzhi-selt" ng-model="eeditData.city" ng-change="selectCity(eeditData.city)">
                            <option ng-selected="1" value="">请选择</option>
                            <option ng-repeat="zjCity in cityData.data" value="{{zjCity.region_id}}">{{zjCity.region_name}}</option>
                        </select>
                        <select class="dzhi-selt" ng-model="eeditData.district">
                            <option ng-selected="1" value="">请选择</option>
                            <option ng-repeat="zjDistrict in disData.data" value="{{zjDistrict.region_id}}">{{zjDistrict.region_name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td width="172">
                        <div class="dzhita-r r">
                            <em class="red">*</em> 详细地址：</div>
                    </td>
                    <td>
                        <input placeholder="请输入详细地址" type="text" class="dzhi-text w1" ng-model="eeditData.address">
                    </td>
                </tr>
                <tr>
                    <td width="172">
                        <div class="dzhita-r r">
                            <em class="red">*</em> 手机号码：</div>
                    </td>
                    <td>
                        <input placeholder="请输入您的手机号码" type="text" class="dzhi-text" ng-model="eeditData.mobile">
                    </td>
                </tr>
                <tr>
                    <td width="172">
                        <div class="dzhita-r r"> 固定电话：</div>
                    </td>
                    <td>
                        <input placeholder="请输入您的固定电话" type="text" class="dzhi-text">
                    </td>
                </tr>
                <tr>
                    <td width="172">
                        <div class="dzhita-r r">&nbsp;</div>
                    </td>
                    <td>
                        <input class="dzhi-btn org mr20" ng-click="tianjiaAddress()" type="button" value="确认地址">
                        <input class="dzhi-btn qx mr20" ng-click="quxiao()" type="button" value="取消">
                        <span class="dzhi-mor">
                            <input type="checkbox" class="dzhi-check" ng-model="isMor" ng-change="addSetMoren(isMor)">设为默认</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pur_close_top">
        <div class="pur_close_d pur_address">
            <span class="pur_close_sp">收货信息 : </span>
            <P ng-if="!defaultShipping&&!flag" style="font-size: 14px;margin: -3px 0 8px;">请选择收货地址</P>
            <div class="pur_close_dlbox">
                <div class="pur_close_dl" ng-class="{'pur_close_dl pur_close_don':address.selected,'pur_close_dl noEvent':address.is_show==0}"
                    ng-init="flag=true" ng-if="flag||address.selected==1" ng-repeat="address in jiesuanData.consignee_list">
                    <span class="pur_close_sp1" ng-click="selectAddress(address.address_id)">{{address.consignee}}</span>
                    <input type="button" value="可选地址" ng-if="address.is_show==1" style="height: 26px;padding: 0 15px;border-radius: 3px;color: #fff;background: #3f69a5;font-size: 12px;border:none;margin:0 15px;margin-top: 2px;float: left;"
                    />
                    <input type="button" value="不可选地址" ng-if="address.is_show==0" style="height: 26px;padding: 0 15px;border-radius: 3px;background-color: #ccc;color: #fff;font-size: 12px;border:none;margin:0 15px;margin-top: 2px;float: left;"
                    />
                    <span class="pur_close_sp2">{{address.consignee}}</span>
                    <span class="pur_close_sp3 ">
                        <i>{{address.region}}</i>
                        <i>{{address.address}}</i>
                        <i>{{address.mobile}}</i>
                    </span>
                    <input type="button" value="默认地址" ng-class="{'pur_close_btn block':address.is_default}" class="pur_close_btn" style="width:auto;padding: 0 15px;background-color: #ff3333;color: #fff;border: none;margin-right: 10px;"
                    />
                    <div class="pur_bianji">
                        <div style="padding: 0 80px 0 20px;height: 42px;line-height: 42px;border-bottom: 1px solid #eee;font-size: 14px;color: #333;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; background-color: #F8F8F8;border-radius: 2px 2px 0 0;">镜库科技</div>
                        <table class="dzhi-table" width="100%">
                            <tbody>
                                <tr>
                                    <td width="172">
                                        <div class="dzhita-r r">
                                            <em class="red">*</em> 收货人：</div>
                                    </td>
                                    <td>
                                        <input placeholder="请输入收货人姓名" type="text" class="dzhi-text" ng-model="editData.consignee">
                                    </td>
                                </tr>
                                <tr>
                                    <td width="172">
                                        <div class="dzhita-r r">
                                            <em class="red">*</em> 所在地区：</div>
                                    </td>
                                    <td>
                                        <select class="dzhi-selt" ng-model="editData.province" ng-change="changeProvince(editData.province)">
                                            <option ng-repeat="bjProvince in bianjiData.province_list" ng-selected="bjProvince.selected"
                                                value="{{bjProvince.region_id}}">{{bjProvince.region_name}}</option>
                                        </select>
                                        <select class="dzhi-selt" ng-model="editData.city" ng-change="changeCity(editData.city)">
                                            <option ng-repeat="bjCity in bianjiData.city_list" ng-selected="bjCity.selected"
                                                value="{{bjCity.region_id}}">{{bjCity.region_name}}</option>
                                        </select>
                                        <select class="dzhi-selt" ng-model="editData.district" ng-change="changeDis(editData.district)">
                                            <option ng-repeat="bjDistrict in bianjiData.district_list" ng-selected="bjDistrict.selected"
                                                value="{{bjDistrict.region_id}}">{{bjDistrict.region_name}}</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="172">
                                        <div class="dzhita-r r">
                                            <em class="red">*</em> 详细地址：</div>
                                    </td>
                                    <td>
                                        <input placeholder="请输入详细地址" type="text" class="dzhi-text w1" ng-model="editData.address">
                                    </td>
                                </tr>
                                <tr>
                                    <td width="172">
                                        <div class="dzhita-r r">
                                            <em class="red">*</em> 手机号码：</div>
                                    </td>
                                    <td>
                                        <input placeholder="请输入您的手机号码" type="text" class="dzhi-text" ng-model="editData.mobile">
                                    </td>
                                </tr>
                                <tr>
                                    <td width="172">
                                        <div class="dzhita-r r"> 固定电话：</div>
                                    </td>
                                    <td>
                                        <input placeholder="请输入您的固定电话" type="text" class="dzhi-text">
                                    </td>
                                </tr>
                                <tr>
                                    <td width="172">
                                        <div class="dzhita-r r">&nbsp;</div>
                                    </td>
                                    <td>
                                        <input class="dzhi-btn org mr20" ng-click="enterAddress($event,province_id,city_id,dis_id,$index)" type="button" value="确认地址">
                                        <input class="dzhi-btn qx mr20" ng-click="quxiao()" type="button" value="取消">
                                        <span class="dzhi-mor">
                                            <input type="checkbox" class="dzhi-check" ng-model="isMor" ng-change="setMoren(isMor)"
                                                value="isMor" ng-checked="editData.default">设为默认</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="a_box fr">
                        <a href="" class="set_mor" ng-click="setMor(address.address_id)" ng-if="!address.is_default">设为默认地址</a>
                        <a href="" ng-click="bianji(address.address_id,$index,address)">编辑</a>
                        <a href="" ng-click="deleteAddress(address.address_id)">删除</a>
                    </div>
                </div>
            </div>
            <span ng-class="{'more_addr':!flag,'more_addrr':flag}" ng-click="flag=!flag">{{flag?'收起地址':'更多地址'}}</span>
        </div>
        <!--支付方式-->
        <div class="pur_close_d" ng-show="isExchange==0">
            <span class="pur_close_sp">支付方式 : </span>
            <div class="zfbt_box">
                <span ng-click="selectPay(payment.pay_id)" ng-class="{'onli':payment.selected}" ng-repeat="payment in jiesuanData.payment_list">{{payment.pay_name}}
                    <i class="round_qus">
                        <div class="round_qusbox" ng-bind-html="payment.pay_desc"></div>
                    </i>
                </span>
                <!--<span class="sp_btn2">银行汇款/转账</span>-->
                <!--<span class="sp_btn3">货到付款</span>-->
            </div>
        </div>

        <div class="pur_close_d">
            <span class="pur_close_sp" style="padding: 0;">商品清单 : </span>
        </div>
        <div class="goods_table">
            <table>
                <tr>
                    <th style="text-align: left;padding-left: 150px;">商品</th>
                    <th width="165px">数量</th>
                    <th width="165px">单价</th>
                    <th width="165px">优惠</th>
                    <th width="165px">小计</th>
                </tr>
            </table>
            <div class="goods_table_item" ng-repeat="cartGoods in jiesuanData.cart_goods_list">
                <p class="p_titl">{{cartGoods.title}}
                    <span style="cursor: pointer;" class="per_lo" ng-click="qimoChatClick(cartGoods.access_id);"></span>
                    <span class="have_enough" style="float: right;color: #808080;font-size: 12px;padding-top: 2px;padding-right: 20px;" ng-if="cartGoods.free_price&&cartGoods.free_price!=0">购满{{cartGoods.free_price}}免运费</span>
                    <span class="have_enough" style="float: right;color: #808080;font-size: 12px;padding-top: 2px;padding-right: 20px;" ng-if="cartGoods.suppliers_free==1">已免运费</span>
                </p>
                <div class="table_bottom">
                    <div class="table_b1" ng-repeat="cartGoodsList in cartGoods.goods_list">
                        <div class="table_b1_left">
                            <a href="#/shop-detail/{{cartGoodsList.goods_id}}">
                                <img ng-src={{cartGoodsList.goods_img}} width="80" height="80" style="border: 1px solid #e6e6e6;" />
                            </a>
                        </div>
                        <div class="table_b1_rightbox">
                            <div class="rightbox_more" ng-repeat="cartGoodsAttr in cartGoodsList.attrs" style="min-height: 80px;height: auto;">
                                <div class="table_b1_right">
                                    <a href="#/shop-detail/{{cartGoodsList.goods_id}}">
                                        <p ng-attr-title="{{cartGoodsList.cutting_id>0?cartGoodsList.cutting_name:cartGoodsList.goods_name}}"> {{cartGoodsList.cutting_id>0?cartGoodsList.cutting_name:cartGoodsList.goods_name}}</p>
                                    </a>
                                    <ul class="b1_right_u1">
                                        <li ng-if="!(cartGoodsList.cutting_id>0)">
                                            <span ng-if="cartGoodsAttr.qiujing">球镜：{{cartGoodsAttr.qiujing}}</span>
                                            <span ng-if="cartGoodsAttr.zhujing">柱镜：{{cartGoodsAttr.zhujing}}</span>
                                            <span ng-if="cartGoodsAttr.zhouwei">轴位：{{cartGoodsAttr.zhouwei}}</span>
                                            <span ng-repeat="carGoodsAttrs in cartGoodsAttr.attrs">{{carGoodsAttrs}}</span>
                                        </li>
                                        <li ng-if="cartGoodsList.cutting_id>0" ng-repeat="carGoodsAttrs in cartGoodsAttr.cutting_attr">
                                            <span style="float:initial;">
                                                <span ng-repeat="_attrAr in carGoodsAttrs">{{_attrAr}}</span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="table_b2_box">
                                    <div class="table_b2">{{cartGoodsAttr.goods_number}}</div>
                                    <div class="table_b2">{{cartGoodsAttr.goods_price}}</div>
                                    <div class="table_b2">{{cartGoodsAttr.cha_price||'--'}}</div>
                                    <div class="table_b2">{{cartGoodsAttr.formated_subtotal}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--配送方式-->
                    <div class="send_way">
                        <div class="send_way_l" style="float: left;">
                            <span class="sent_sp1">配送方式 : </span>
                            <span class="send_way_sp" ng-click="selectShip(cartGoods.suppliers_id,sent.shipping_id)" ng-style="{'pointerEvents':sent.disabled?'none':'auto','opacity':sent.disabled?'.4':'1','display':sent.disabled?'none':'inline-block'}"
                                ng-class="{'send_way_sp selected':sent.selected}" ng-repeat="sent in cartGoods.shipping">{{sent.shipping_name}}</span>
                            <span ng-if="(!cartGoods.shipping.length)&&defaultShipping">该供应商暂无配送方式</span>
                            <span ng-if="!defaultShipping">请选择收货地址</span>
                            <!--商家备注-->
                            <div class="remark_left" ng-if="!cartGoods&&!cartGoods.input_show" ng-click="cartGoods.input_show=true" style="margin-top: 10px;">
                                <span class="sent_sp1">商家备注 : </span>
                                <input ng-model="jiesuanData.suppliers_notes[cartGoods.suppliers_id]" type="text"
                                    placeholder="请将购买需求在备注中做详细说明" class="remark_ip" />
                            </div>
                            <div class="remark_left remark_left2" ng-if="cartGoods||cartGoods.input_show" style="overflow: hidden;margin-top: 10px;">
                                <span class="sent_sp1" style="float: left;">商家备注 : </span>
                                <div class="texbox_d">
                                    <textarea class="bz_text" ng-model="jiesuanData.suppliers_notes[cartGoods.suppliers_id]" ng-blur="saveNotes()"></textarea>
                                    <ul class="bz_ul">
                                        <li ng-class="order_label.selected?'on':''" ng-repeat="order_label in cartGoods.order_label" ng-click="order_label.selected = !order_label.selected;saveNotes()">{{order_label.value}}</li>
                                    </ul>
                                    <!-- <p class="bz_p">若您需改变订单内容或另有特殊要求，请务必联系卖家达成一致。否则，该填写内容将视为无效。</p> -->
                                </div>
                            </div>
                        </div>
                        <div class="remark_right" style="float: right;">
                            <p ng-if="isExchange==0">购物金额小计 :
                                <span>{{cartGoods.goods_subtotal}}</span>
                            </p>
                            <p class="p2">+ 配送费用 :
                                <span>{{cartGoods.shipping_free}}</span>
                            </p>
                            <p class="p2">+ 获赠积分 : {{cartGoods.will_get_integral}}</p>
                            <!-- <p class="p2" ng-if="cartGoods.subsidy_subtotal">+ 镜库补贴 : {{cartGoods.subsidy_subtotal}}</p> -->
                        </div>
                    </div>
                    <!--商家备注-->
                </div>
            </div>
        </div>

        <!--使用优惠券-->
        <div class="use_oupon" ng-show="!isExchange">
            <!--<h2 class="use_oupon_h2"><span class="use_oupon_sp1"></span>使用优惠券/余额</h2>-->
            <h2 class="use_oupon_h2">
                <span class="use_oupon_sp1"></span>使用优惠券</h2>
            <div class="use_oupon_cont">
                <ul class="use_oupon_u1">
                    <li class="lion">优惠券</li>
                    <!--<li>余额</li>-->
                </ul>
                <div class="oupon_u1_dbox">
                    <div class="use_best_d show">
                        <!--<div class="best_d">-->
                        <!--<input type="checkbox" class="oupon_cont_ip"/><span class="upon_cont_sp">使用最优组合</span>-->
                        <!--</div>-->
                        <div class="best_d1">
                            <ul class="use_oupon_u2">
                                <li class="onc">优惠券</li>
                                <!--<li>运费券</li>-->
                                <li>优惠券兑换</li>
                            </ul>
                            <div class="oupon_u2_dbox">
                                <div class="goods_oupon show">
                                    <div class="goods_oupon_top">
                                        <p ng-if="jiesuanData.yes_bonus==0" style="margin-bottom: 20px;">暂无可用优惠券</p>
                                        <div ng-repeat="parentYhqUse in jiesuanData.cart_goods_list">
                                            <div class="oupon_top_d needcli" ng-class="{'oupon_top_d needcli oncli':yhqUse.selected}" ng-repeat="yhqUse in parentYhqUse.use_bonus"
                                                ng-click="useYhq(yhqUse.suppliers_id,yhqUse.bonus_id)">
                                                <p class="oupon_top_p1">
                                                    <span class="top_p1_sp1"></span>
                                                    <span class="top_p1_sp2">{{yhqUse.bonus_money_formated | number:0}}</span>
                                                    <span class="top_p1_sp3">满{{yhqUse.min_goods_amount | number:0}}</span>
                                                </p>
                                                <p class="oupon_top_p2">有效期至{{yhqUse.use_end_date}}</p>
                                                <p class="oupon_top_p3">店铺 : {{yhqUse.suppliers_name}}</p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="goods_oupon_top gray">
                                        <div ng-repeat="parentYhqNoUse in jiesuanData.cart_goods_list">
                                            <div class="oupon_top_d gray_bg" ng-repeat="yhqNoUse in parentYhqNoUse.no_use_bonus">
                                                <p class="oupon_top_p1">
                                                    <span class="top_p1_sp1"></span>
                                                    <span class="top_p1_sp2">{{yhqNoUse.bonus_money_formated | number:0}}</span>
                                                    <span class="top_p1_sp3">满{{yhqNoUse.min_goods_amount | number:0}}</span>
                                                </p>
                                                <p class="oupon_top_p2">有效期至{{yhqNoUse.use_end_date}}</p>
                                                <p class="oupon_top_p3">店铺 : {{yhqNoUse.suppliers_name}}</p>
                                                <p class="oupon_top_p4">
                                                    <span class="top_p4_sp"></span>没有符合条件的商品</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!--优惠券兑换-->
                                <div class="yhq_exchange">
                                    <div class="yhq_div">
                                        <p class="yhq_p1">请输入优惠券兑换码 : </p>
                                        <p class="yhq_p2">
                                            <input type="text" class="yhq_ip" ng-model="code" placeholder="优惠券序列号" />
                                            <input type="button" value="兑换" ng-click="getYhqByCode(code,$event)" class="yhq_btn" />
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <p ng-if="yhqIf" class="goods_oupon_p" ng-class="{'goods_oupon_p show':yhqIf,'goods_oupon_p':!yhqIf}">
                            <span style="padding-left: 25px;">金额抵用 </span>
                            <span class="oupon_p_sp">{{yhqTotal}}</span>
                        </p>
                    </div>
                    <!--余额-->
                    <!--<div class="surplus_box">-->
                    <!--<div class="surplus_box_d">-->
                    <!--&lt;!&ndash;<input type="checkbox" ng-model="is_money" ng-click="isMoney()" class="surplus_box_ip" ng-class="{'checked':yeIf}"/>&ndash;&gt;-->
                    <!--<span class="surplus_box_sp">镜库钱包（可用余额：￥{{userMoney}}）</span>-->
                    <!--</div>-->
                    <!--<p ng-if="yeIf" class="goods_oupon_p" ng-class="{'goods_oupon_p show':yeIf,'goods_oupon_p':!yeIf}"><span style="padding-left: 25px;">使用余额 </span><span class="oupon_p_sp">￥{{yeTotal}}</span></p>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <!--使用优惠券-->
        <!--小计-->
        <div ng-if="isExchange==1" class="count_div" style="background: #fff;">
            <p class="count_p1">使用积分 :{{exchange_integral}}</p>
            <p class="count_p1">可用积分 :{{payPoints}}</p>
        </div>
        <div ng-if="isExchange==0" class="count_div" style="background: #fff;">
            <p class="count_p1">订单总金额 :
                <span>{{totalPrice}}</span>
            </p>
            <p ng-if="yhqIf" class="count_p1">-优惠券 :
                <span>{{yhqTotal}}</span>
            </p>
            <p class="count_p1">+配送费用 :
                <span>{{totalShip}}</span>
            </p>
            <p class="count_p1">+获赠积分 : {{jifen}}</p>
            <p ng-if="yeIf" class="count_p1">-余额 :
                <span>{{yeTotal}}</span>
            </p>
            <p ng-if="sub" class="count_p1">-镜库补贴 :
                <span>{{subsidyPrice}}</span>
            </p>
        </div>

        <div ng-show="yeIf" class="top_center_bott" style="overflow: hidden;">
            <form style="display: inline-block;float: right;padding-right: 100px;padding-left: 100px;" class="alieditContainer" name="pass_form"
                novalidate>
                <span class="close_p6" style="position: relative;top: 26px;left: -62px;margin-bottom: 10px;">支付密码：</span>
                <label for="pass">
                    <input style="opacity: 0;" minlength="6" maxlength="6" id="pass" name="pass" class="ui-input i-text" ng-model="pass" ng-value="pass"
                        type="tel" autocomplete="off" />
                    <div class="sixDigitPassword" tabindex="0">
                        <i>
                            <b></b>
                        </i>
                        <i>
                            <b></b>
                        </i>
                        <i>
                            <b></b>
                        </i>
                        <i>
                            <b></b>
                        </i>
                        <i>
                            <b></b>
                        </i>
                        <i>
                            <b></b>
                        </i>
                        <span class="guangbiao" style="left:0px;"></span>
                    </div>
                    <span class="close_sp7" style="cursor: pointer;left:310px;" ng-click="forgot()">忘记支付密码？</span>
                </label>
            </form>
        </div>
        <!--订单金额-->
        <div class="refer_order">
            <a href="#/shop-car">
                <span class="refer_order_sp">返回购物车</span>
            </a>
            <div class="refer_order_d" ng-if="isExchange==0">

                <p class="refer_order_p">
                    <!-- <span ng-if="jiesuanData.total.formated_subsidy_price">镜库补贴 : {{jiesuanData.total.formated_subsidy_price}}</span> -->　应付总金额(包含运费) :
                    <span class="refer_order_sp1">{{total}}</span>
                    <input ng-click="submitList($event,$index)" type="button" value="提交订单" class="refer_order_btn"
                    />
                </p>
            </div>
            <div class="refer_order_d" ng-if="isExchange==1">
                <p class="refer_order_p">订单总积分 :
                    <span class="refer_order_sp1">{{exchange_integral}}</span>
                    <input ng-click="submitList($event,$index)" type="button" value="提交订单" class="refer_order_btn"
                    />
                </p>
            </div>
        </div>



        <div style="height: 25px;"></div>
    </div>
</div>
<script>
    $('.use_oupon_h2').click(function () {
        $(this).find('.use_oupon_sp1').toggleClass('sp1_cl');
        $('.use_oupon_cont').toggle();
    })

    $('.use_oupon_u1 li').click(function () {
        var ind = $(this).index();
        $(this).addClass('lion').siblings().removeClass('lion');
        $('.oupon_u1_dbox>div').eq(ind).addClass('show').siblings().removeClass('show');
        $('.goods_oupon_p').eq(ind).addClass('show').siblings().removeClass('show');
    })

    $('.use_oupon_u2 li').click(function () {
        var indx = $(this).index();
        $(this).addClass('onc').siblings().removeClass('onc');
        $('.oupon_u2_dbox>div').eq(indx).addClass('show').siblings().removeClass('show');
    })

    $('.goods_oupon_top>.needcli').click(function () {
        $(this).toggleClass('oncli');
    })

    $('.freight_q .goods_oupon_top .green').click(function () {
        $(this).toggleClass('oncli');
    })


    //遮罩层
    function showMask() {
        $("#masks").css("height", $(document).height());
        $("#masks").css("width", $(document).width());
    }
    showMask();

    $('#masks').click(function () {
        $(this).hide();
        $('.pur_bianji').hide();
        $('.pur_zengjia').hide();
    });

</script>