<div class="waiting-sale-main">
    <div class="brand-gg" style="height:450px;background:url(img/yushouBigPic.jpg) no-repeat center center;background-size: auto 100%;">
        <!--<img style="width:100%;height:100%;display: block;object-fit:contain;" src="img/yushouBigPic.jpg" alt="">-->
    </div>

    <div class="navc-wrap">
        <div class="nav-xdh all">
            <div class="zaki">全部分类<em></em></div>
            <ul class="xd-hd">
                <li class="on" ng-click="getPresell(0,-1)"><div class="wrp"><a href="">全部</a></div></li>
                <li ng-repeat="xd in waitingData.data" repeat-done="xdFn()" ng-click="getPresell(xd.cat_id,$index)"><div class="wrp"><a href="">{{xd.cat_name}}</a></div></li>
            </ul>
        </div>
    </div>
    <div class="presell-box" ng-if="isAll">
        <div class="presell">
            <ul class="cle">
                <li ng-repeat="cleAll in waitingAllListData.data">
                    <div class="wrp">
                        <div class="img">
                            <img ng-src={{cleAll.goods_img}} />
                            <div class="djs" data-date="{{cleAll.down_time}}" down-time><em></em>剩余0天0时0分0秒</div>
                        </div>
                        <div class="txt">
                            <div class="tt-1">
                                {{cleAll.name}}
                            </div>
                            <div class="tt-2">
                                <span class="tt2-s1">{{cleAll.promote_price}}</span>
                                <span class="tt2-s2">{{cleAll.shop_price}}</span>
                                <a ui-sref="shop-detail({goods_id:cleAll.id})" target="_blank" class="tt2-gm">立即购买 </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="presell-box" ng-if="!isAll">
        <div class="presell">
            <ul class="cle">
                <li ng-repeat="cle in waitingListData.data">
                    <div class="wrp">
                        <div class="img">
                            <img ng-src={{cle.goods_img}} />
                            <div class="djs" data-date="{{cle.down_time}}" down-time><em></em>剩余0天0时0分0秒</div>
                        </div>
                        <div class="txt">
                            <div class="tt-1">
                                {{cle.name}}
                            </div>
                            <div class="tt-2">
                                <span class="tt2-s1">{{cle.promote_price}}</span>
                                <span class="tt2-s2">{{cle.shop_price}}</span>
                                <a ui-sref="shop-detail({goods_id:cle.id})" target="_blank" class="tt2-gm">立即购买 </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="next_fel" ng-click="next()">
        <p>点击查看下一个分类</p>
        <em></em>
    </div>
</div>



<script>
    $(".zaki").click(function(){
        $(this).parent().toggleClass("goot");
    });
</script>