<div class="shd-borrowings animated fadeIn">

   <div class="fore fore1">
      <div class="tit">开通电子签章</div>
      <div class="body">
         <div class="img">
            <img img-lazy-load default-src="..../..//img/800-800.jpg" alt="">
         </div>
         <div>
            <input style="width: 200px;" ng-model="params.sms_check_code" class="input" type="text">
            <button class="button" ng-click="getMobileCode()" ng-disabled="downtime">{{downtime}}获取验证码</button>
         </div>
      </div>
   </div>
   <div class="fore fore2">
      <div class="tit">签约</div>
      <div class="body">
         <table>
            <tr>
               <td style="width: 72px">提现金额：</td>
               <td>
                  <input ng-model="params.loan_amt" class="input" type="text" name="loan_amt" id="loan_amt" placeholder="¥请输入提现金额">
               </td>
            </tr>
            <tr>
               <td>提现期限：</td>
               <td>
                  <select ng-model="params.loan_term" style="cursor: pointer;" class="input" name="loan_term" id="loan_term" ng-options="item.id as item.label for item in loan_term">
                     <option value="">请选择</option>
                  </select>
               </td>
            </tr>
            <tr>
               <td>单笔可借：</td>
               <td>
                  <div>200-20000元，预计1个工作日到账</div>
               </td>
            </tr>
            <tr>
               <td>收款账户：</td>
               <td>
                  <input ng-model="params.bank_card_no" class="input" type="text" name="bank_card_no" id="bank_card_no" placeholder="请输入收款账户">
               </td>
            </tr>
            <tr>
               <td></td>
               <td>
                  <label class="checkbox" for="agree">
                     <input ng-model="agree" id="agree" name="staff_status" type="checkbox" />
                     <span class="txt">我已阅读并同意
                        <a>《融资服务协议》</a>、
                        <a>《委托扣款协议》</a>
                     </span>
                  </label>
               </td>
            </tr>
            <tr>
               <td></td>
               <td>
                  <div>
                     <button class="button" ng-disabled="!agree" ng-click="signedAffirm()">确认签约</button>
                     <span>预计还款10000元</span>
                  </div>
               </td>
            </tr>
         </table>
      </div>
   </div>

   <div class="signed-affirm">
      <div class="innerbox">
         <div class="title">确认签约</div>
         <div class="content">确认签约后，不可撤销。我们将在您确认后安排资金，实际到账后开始计息</div>
         <div class="btns">
            <button class="button" ng-click="affirm()">确认</button>
            <button class="button cancel" ng-click="cancel()">取消</button>
         </div>
      </div>
   </div>
</div>