.comment-page {
   .star {
      display: flex;
      font-size: 16px;
      color: #e5e5e5;
      .on {
         color: #d6a916;
      }
   }
   .comment_labels {
      display: flex;
      padding: 28px;
      padding-left: 54px;
      .comment_labels_left {
         display: flex;
         flex-direction: column;
      }
      .comment_labels_right {
         flex: 1;
         display: flex;
         align-items: flex-start;
         flex-wrap: wrap;
         .label {
            border: 1px solid #e0e0e0;
            color: #666666;
            padding: 3px 10px;
            margin: 5px;
            border-radius: 3px;
            cursor: pointer;
            &.on {
               border: 1px solid #3f69a5;
               color: #3f69a5;
            }
         }
      }
   }
   .toolbar {
      background: #fafafa;
      display: flex;
      justify-content: space-between;
      margin: 0px 10px 28px;
      padding: 8px 10px;
      .left {
         display: flex;
         >div {
            cursor: pointer;
            margin: 0 10px;
            &:hover {
               color: #3f69a5;
            }
         }
      }
      .on {
         color: #3f69a5;
      }
   }
   .comment_list {
      padding: 12px;
      background: #f7fafe;
      .comment_li {
         box-shadow: 0 0px 13px rgba(0, 0, 0, 0.05);
         padding: 0 10px;
         background: #ffffff;
         margin-bottom: 10px;
         border-radius: 3px;
         .c-head {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            .user {
               display: flex;
               align-items: center;
               .avatar {
                  width: 48px;
                  height: 48px;
                  border-radius: 50%;
                  background: #fafafa;
                  margin-right: 8px;
                  overflow: hidden;
                  img {
                     display: flex;
                     align-items: center;
                     justify-content: center;
                  }
               }
               .name {
                  color: #4d4d4d;
                  display: flex;
                  flex-direction: column;
                  .vip {
                     max-width: 50px;
                     margin-top: 8px;
                     cursor: pointer;
                     img {
                        max-width: 100%;
                     }
                  }
               }
            }
         }
         .c-body {
            .text {
               color: #4d4d4d;
               margin: 8px 0;
            }
            .imgs {
               display: flex;
               align-items: center;
               overflow: auto;
               margin: 8px 0;
               .img {
                  width: 100px;
                  height: 100px;
                  margin-right: 10px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  cursor: pointer;
                  &.on {
                     border: 1px solid red;
                  }
               }
            }
            .xinghao {
               color: #999999;
            }
         }
         .c-foot {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            .time {
               color: #999999;
            }
            .praise {
               color: #666666;
               display: flex;
               >div {
                  cursor: pointer;
                  display: flex;
                  align-items: center;
                  &:hover {
                     color: #d6a916;
                  }
               }
               .on {
                  color: #d6a916;
               }
            }
         }
         .child_comment{
            color: #ff561c;
            padding: 12px 8px;
            border-top: 1px solid #f0f0f0;
            line-height: 20px;
            .time{
               color: #999999;
            }
         }
      }
   }
}