.comment-page .star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  color: #e5e5e5;
}

.comment-page .star .on {
  color: #d6a916;
}

.comment-page .comment_labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 28px;
  padding-left: 54px;
}

.comment-page .comment_labels .comment_labels_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment-page .comment_labels .comment_labels_right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.comment-page .comment_labels .comment_labels_right .label {
  border: 1px solid #e0e0e0;
  color: #666666;
  padding: 3px 10px;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.comment-page .comment_labels .comment_labels_right .label.on {
  border: 1px solid #3f69a5;
  color: #3f69a5;
}

.comment-page .toolbar {
  background: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 10px 28px;
  padding: 8px 10px;
}

.comment-page .toolbar .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment-page .toolbar .left > div {
  cursor: pointer;
  margin: 0 10px;
}

.comment-page .toolbar .left > div:hover {
  color: #3f69a5;
}

.comment-page .toolbar .on {
  color: #3f69a5;
}

.comment-page .comment_list {
  padding: 12px;
  background: #f7fafe;
}

.comment-page .comment_list .comment_li {
  -webkit-box-shadow: 0 0px 13px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0px 13px rgba(0, 0, 0, 0.05);
  padding: 0 10px;
  background: #ffffff;
  margin-bottom: 10px;
  border-radius: 3px;
}

.comment-page .comment_list .comment_li .c-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

.comment-page .comment_list .comment_li .c-head .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment-page .comment_list .comment_li .c-head .user .avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #fafafa;
  margin-right: 8px;
  overflow: hidden;
}

.comment-page .comment_list .comment_li .c-head .user .avatar img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.comment-page .comment_list .comment_li .c-head .user .name {
  color: #4d4d4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment-page .comment_list .comment_li .c-head .user .name .vip {
  max-width: 50px;
  margin-top: 8px;
  cursor: pointer;
}

.comment-page .comment_list .comment_li .c-head .user .name .vip img {
  max-width: 100%;
}

.comment-page .comment_list .comment_li .c-body .text {
  color: #4d4d4d;
  margin: 8px 0;
}

.comment-page .comment_list .comment_li .c-body .imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px 0;
}

.comment-page .comment_list .comment_li .c-body .imgs .img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.comment-page .comment_list .comment_li .c-body .imgs .img.on {
  border: 1px solid red;
}

.comment-page .comment_list .comment_li .c-body .imgs .img img {
  max-height: 100% !important;
}

.comment-page .comment_list .comment_li .c-body .xinghao {
  color: #999999;
}

.comment-page .comment_list .comment_li .c-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

.comment-page .comment_list .comment_li .c-foot .time {
  color: #999999;
}

.comment-page .comment_list .comment_li .c-foot .praise {
  color: #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment-page .comment_list .comment_li .c-foot .praise > div {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment-page .comment_list .comment_li .c-foot .praise > div:hover {
  color: #d6a916;
}

.comment-page .comment_list .comment_li .c-foot .praise .on {
  color: #d6a916;
}

.comment-page .comment_list .comment_li .child_comment {
  color: #ff561c;
  padding: 12px 8px;
  border-top: 1px solid #f0f0f0;
  line-height: 20px;
}

.comment-page .comment_list .comment_li .child_comment .time {
  color: #999999;
}
/*# sourceMappingURL=comment-list.css.map */