<div class="show-special">
    <div gird style="overflow: hidden;" class="img-wrap">
        <div ads-click="data.bannerone[0]" class="img img1">
            <img img-lazy-load="{{data.bannerone[0].ad_img}}" alt="{{data.bannerone[0].ad_name}}">
        </div>
        <div ads-click="data.bannertwo[0]" class="img img2">
            <img img-lazy-load="{{data.bannertwo[0].ad_img}}" alt="{{data.bannertwo[0].ad_name}}">
        </div>
        <div ads-click="data.bannerThree[0]" class="img img3">
            <img img-lazy-load="{{data.bannerThree[0].ad_img}}" alt="{{data.bannerThree[0].ad_name}}">
        </div>
        <div ads-click="data.bannerFour[0]" class="img img4">
            <img img-lazy-load="{{data.bannerFour[0].ad_img}}" alt="{{data.bannerFour[0].ad_name}}">
        </div>
        <div ads-click="data.bannerFive[0]" class="img img5">
            <img img-lazy-load="{{data.bannerFive[0].ad_img}}" alt="{{data.bannerFive[0].ad_name}}">
        </div>
    </div>
</div>