
<div ng-bind-html="html"></div>
<style>
   table{
      border-collapse: initial !important;
      border-spacing: 1px !important;
   }
   .dy_zt{font-family:"Microsoft Yahei";padding-top:50px;width:1065px;margin:0 auto;}
.dy_zt .dy_bt{text-align:center;font-size:22px;color:#464646;}
.dy_zt .dy_txm{margin:20px 0;}
.dy_zt .dy_txm .txm{float:left;}
.dy_zt .dy_txm .wen_bqu{float:right;font-size:14px;color:#464646;line-height:70px;}
.dy_zt .dy_table{}
.dy_zt .dy_table table{background:#b8b8b8;}
.dy_zt .dy_table table td{background:#fff;height:32px;color:#464646;font-size:12px;}
.dy_zt .dy_table table td i{margin-right:20px;}
.dy_zt .dy_xbt{text-align:center;font-size:14px;color:#fd4f1e;padding-top:20px;padding-bottom:10px;}
.dy_zt .dy_table-2{}
.dy_zt .dy_table-2 table{background:#b8b8b8;margin-bottom:10px;}
.dy_zt .dy_table-2 table td{background:#fff;height:32px;color:#464646;font-size:12px;text-align:center;}
.dy_zt .dy_table-2 table td i{margin-right:20px;}

</style>