<div class="distribution-qualification">
   <style type="text/css">
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
         -webkit-appearance: none !important;
         -moz-appearance: none !important;
         -ms-appearance: none !important;
      }
   </style>
   <div class="route mb20">
      <div class="gird">
         当前位置：<a href="#/home">首页</a> > <a href="#/control-mb">用户中心</a>&gt;{{title}}
      </div>
   </div>

   <div class="main" style="margin-bottom: 25px;">
      <div class="im-panel gird cle">
         <ng-template ng-include="'Template/control-tool.html'"></ng-template>
         <div class="panel-right">
            <div class="control-wrp">
               <div class="cont-hd cle">
                  <div class="cbt-left">
                     <span><a href="#/person-qy-lxrmsg" class="cbt-wz">联系人信息</a></span>
                     <span><a href="#/person-qy-msg" class="cbt-wz">企业资料</a></span>
                     <span><a href="#/user-logo-center" class="cbt-wz">头像设置</a></span>
                     <span><a href="#/distribution-qualification" class="cbt-wz on">铺货资质</a></span>
                  </div>
               </div>
               <div class="cont-bd">
                  <!-- <div class="contacts-wrap qye pt0" ui-view="businessManagement"> -->
                  <div class="contacts-wrap qye pt0">
                     <table class="cont-tab">

                        <tr>
                           <td>
                              <div class="name">法人姓名：</div>
                           </td>
                           <td>
                              <div class="jjp cle">
                                 <div class="zbu czaineir ">{{getQyMsg.company_info.fr||'无'}}</div>
                                 <div class="ybu close-js">
                                    <a style="cursor: pointer;"><em></em>编辑</a>
                                 </div>
                              </div>
                              <div class="modify ">
                                 <div class="shur">
                                    <input class="stxt" type="text" ng-model="getQyMsg.company_info._fr" placeholder="请填写营业执照编号" />
                                 </div>
                                 <div class="anniu">
                                    <input class="sbtn oen-yes" type="button" value="保存" ng-click="saveThis($event,getQyMsg.company_info,'fr')" />
                                    <input class="sbtn oen-no n2" type="button" value="取消" />
                                 </div>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <div class="name">法人联系方式：</div>
                           </td>
                           <td>
                              <div class="jjp cle">
                                 <div class="zbu czaineir ">{{getQyMsg.company_info.mobile||'无'}}</div>
                                 <div class="ybu close-js">
                                    <a style="cursor: pointer;"><em></em>编辑</a>
                                 </div>
                              </div>
                              <div class="modify ">
                                 <div class="shur"><input class="stxt" type="text" ng-model="getQyMsg.company_info._mobile" placeholder="请填写法人联系方式" /></div>
                                 <div class="anniu">
                                    <input class="sbtn oen-yes" type="button" value="保存" ng-click="saveThis($event,getQyMsg.company_info,'mobile')" />
                                    <input class="sbtn oen-no n2" type="button" value="取消" />
                                 </div>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <div class="name">法人身份证号：</div>
                           </td>
                           <td>
                              <div class="jjp cle">
                                 <div class="zbu czaineir ">{{getQyMsg.company_info.id_card||'无'}}</div>
                                 <div class="ybu close-js">
                                    <a style="cursor: pointer;"><em></em>编辑</a>
                                 </div>
                              </div>
                              <div class="modify ">
                                 <div class="shur"><input class="stxt" type="text" ng-model="getQyMsg.company_info._id_card" placeholder="请填写法人身份证号" /></div>
                                 <div class="anniu">
                                    <input class="sbtn oen-yes" type="button" value="保存" ng-click="saveThis($event,getQyMsg.company_info,'id_card','code_sn')" />
                                    <input class="sbtn oen-no n2" type="button" value="取消" />
                                 </div>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <div class="name">身份证效期：</div>
                           </td>
                           <td>
                              <div class="jjp cle">
                                 <div class="zbu czaineir ">{{(getQyMsg.company_info.code_validity_start||'无')+' -  '+(getQyMsg.company_info.code_validity_end||'无')}}</div>
                                 <div class="ybu close-js">
                                    <a style="cursor: pointer;"><em></em>编辑</a>
                                 </div>
                              </div>
                              <div class="modify validity">
                                 <div class="shur">
                                    <input class="stxt code-validity-input" type="text" placeholder="请填写日期" />
                                 </div>
                                 <div class="anniu">
                                    <input class="sbtn oen-yes" type="button" value="保存" ng-click="saveCodeValidity($event)" />
                                    <input class="sbtn oen-no n2" type="button" value="取消" />
                                 </div>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <div class="name">营业执照编号：</div>
                           </td>
                           <td>
                              <div class="jjp cle">
                                 <div class="zbu czaineir ">{{getQyMsg.company_info.yyzzsn||'无'}}</div>
                                 <div class="ybu close-js">
                                    <a style="cursor: pointer;"><em></em>编辑</a>
                                 </div>
                              </div>
                              <div class="modify ">
                                 <div class="shur"><input class="stxt" type="text" ng-model="getQyMsg.company_info._yyzzsn" placeholder="请填写营业执照编号" /></div>
                                 <div class="anniu">
                                    <input class="sbtn oen-yes" type="button" value="保存" ng-click="saveThis($event,getQyMsg.company_info,'yyzzsn')" />
                                    <input class="sbtn oen-no n2" type="button" value="取消" />
                                 </div>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <div class="name">营业执照效期：</div>
                           </td>
                           <td>
                              <div class="jjp cle">
                                 <div class="zbu czaineir ">{{(getQyMsg.company_info.zz_validity_start||'无')+' -  '+(getQyMsg.company_info.zz_validity_end||'无')}}</div>
                                 <div class="ybu close-js">
                                    <a style="cursor: pointer;"><em></em>编辑</a>
                                 </div>
                              </div>
                              <div class="modify validity">
                                 <div class="shur ">
                                    <input class="stxt zz-validity-input" type="text" placeholder="请填写日期" />
                                 </div>
                                 <div class="anniu">
                                    <input class="sbtn oen-yes" type="button" value="保存" ng-click="saveZzValidity($event)" />
                                    <input class="sbtn oen-no n2" type="button" value="取消" />
                                 </div>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td width="135">
                              <div class="name">门头照：</div>
                           </td>
                           <td>
                              <div class="jjp cle">
                                 <div class="License ">
                                    <div class="ret-up fl "><img ng-src="{{getQyMsg.company_info.doorhead_img || 'img/up.jpg'}}" /><input id="img2" class="up-file cursor" style="cursor: pointer;" type="file" get-image="updatePhoto(img,'doorhead_img')" /></div>
                                    <!-- <div class="ret-sli fl"><img src="img/zz.jpg" />
                                       <div class="sli-fdj "><span></span>示例</div>
                                    </div>
                                    <div class="muke hidden"></div>
                                    <div class="zzc "><img src="img/zz.jpg" /></div> -->
                                 </div>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td width="135">
                              <div class="name">营业执照：</div>
                           </td>
                           <td>
                              <div class="jjp cle">
                                 <div class="License ">
                                    <div class="ret-up fl "><img ng-src="{{getQyMsg.user_info.zhizhao || 'img/up.jpg'}}" id="img22" /><input id="img2" class="up-file cursor" style="cursor: pointer;" type="file" get-image="yyzzPhoto(img)" /></div>
                                    <div class="ret-sli fl"><img src="img/zz.jpg" />
                                       <div class="sli-fdj "><span></span>示例</div>
                                    </div>
                                    <div class="muke hidden"></div>
                                    <div class="zzc "><img src="img/zz.jpg" /></div>
                                 </div>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <div class="name">医疗器械许可证：</div>
                           </td>
                           <td>
                              <div class="jjp cle">
                                 <div class="License ">
                                    <div class="ret-up fl "><img ng-src="{{getQyMsg.user_info.medical || 'img/up.jpg'}}" id="img33" /><input id="img3" class="up-file cursor" style="cursor: pointer;" type="file" ng-model="medical" get-image="medicalPhoto(img)" /></div>
                                    <div class="ret-sli fl"><img src="img/xkz_yl.jpg" />
                                       <div class="sli-fdj "><span></span>示例</div>
                                    </div>
                                    <div class="muke hidden"></div>
                                    <div class="zzc "><img src="img/xkz_yl.jpg" /></div>
                                 </div>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <div class="name">身份证正面照片：</div>
                           </td>
                           <td>
                              <div class="jjp cle">
                                 <div class="License ">
                                    <div class="ret-up fl "><img ng-src="{{getQyMsg.company_info.zsfz || 'img/up.jpg'}}" id="img00" /><input id="img0" class="up-file cursor" style="cursor: pointer;" type="file" get-image="sfzBefore(img)" /></div>
                                    <div class="ret-sli fl"><img src="img/sfz-z.jpg" />
                                       <div class="sli-fdj "><span></span>示例</div>
                                    </div>
                                    <div class="muke hidden"></div>
                                    <div class="zzc "><img src="img/sfz-z.jpg" /></div>
                                 </div>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <div class="name">身份证反面照片：</div>
                           </td>
                           <td>
                              <div class="jjp cle">
                                 <div class="License ">
                                    <div class="ret-up fl "><img ng-src="{{getQyMsg.company_info.fsfz || 'img/up.jpg'}}" id="img11" /><input id="img1" class="up-file cursor" style="cursor: pointer;" type="file" get-image="sfzBehind(img)" /></div>
                                    <div class="ret-sli fl"><img src="img/sfz-f.jpg" />
                                       <div class="sli-fdj "><span></span>示例</div>
                                    </div>
                                    <div class="muke hidden"></div>
                                    <div class="zzc "><img src="img/sfz-f.jpg" /></div>
                                 </div>
                              </div>
                           </td>
                        </tr>
                     </table>

                  </div>
               </div>
            </div>
         </div>
         <div class="clear"></div>
      </div>
   </div>

   <script>
      $(".close-js").click(function() {
         $(this).parent().addClass("hide");
         $(this).parent().parent().find(".modify").addClass("show");
      })
      $(".oen-no").click(function() {
         $(this).parent().parent().removeClass("show");
         $(this).parents().parent().parent().find(".jjp").removeClass("hide");
      })

      $(".ret-sli").click(function() {
         $(this).parent().find(".muke").removeClass("hidden")
         $(this).parent().find(".zzc").addClass("open");
         $("body").addClass("over-hide");
      })
      $(".muke").click(function() {
         $(".muke").addClass("hidden")
         $(".zzc").removeClass("open");
         $("body").removeClass("over-hide");
      })
      $(".zzc").click(function() {
         $(".muke").addClass("hidden")
         $(".zzc").removeClass("open");
         $("body").removeClass("over-hide");
      })
   </script>
</div>