<div class="tied-card animated fadeIn">
	<div class="fore fore2">
		<div class="body">
			<table>
				<tr>
					<td style="width: 130px">姓名：</td>
					<td>
						<input class="input" ng-model="params.cards_name" type="text" name="cards_name" id="cards_name" placeholder="请输入">
					</td>
				</tr>
				<tr>
					<td>手机号：</td>
					<td>
						<input class="input" ng-model="params.user_phone" type="text" name="user_phone" id="user_phone" placeholder="请输入">
					</td>
				</tr>
				<tr>
					<td>身份证号：</td>
					<td>
						<input class="input" ng-model="params.code_sn" type="text" name="code_sn" id="code_sn" placeholder="请输入">
					</td>
				</tr>
				<tr>
					<td>银行卡号：</td>
					<td>
						<input class="input" ng-model="params.bank_cards" type="text" name="bank_cards" id="bank_cards" placeholder="请输入">
					</td>
				</tr>
				<tr>
					<td>银行预留手机号：</td>
					<td>
						<input class="input" ng-model="params.cards_phone" type="text" name="cards_phone" id="cards_phone" placeholder="请输入">
					</td>
				</tr>
				<tr>
					<td>请输入验证码：</td>
					<td>
						<input style="width: auto;" class="input" ng-model="params.bank_verify" type="text" name="bank_verify" id="bank_verify" placeholder="请输入">
						<button class="button" ng-click="Shd_bindCard()" ng-disabled="downtime">
							<span ng-if="downtime">({{downtime}})</span>
							获取验证码
						</button>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<i style="vertical-align: middle;color: red;margin-right: 5px;" class="iconfont icon-warning"></i>请核对信息，确认无误
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<div>
							<button ng-click="Shd_bankConfirm()" class="button">下一步</button>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>