.custome-services {
   height: 100%;
   background: #d8d8d8;
   position: fixed;
   width: 100%;
   z-index: 1040;

   input[type="radio"] {

      appearance: radio !important;
   }

   #login {
      display: block;
      margin: 150px auto;
      text-align: center;
   }

   .aio {
      display: none;
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      font: 10px/1.5 "微软雅黑";
      max-width: 1024px;
      min-width: 960px;
      max-height: 700px;
      height: 100%;
      margin: auto;
      box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 6px 0px;
      border: 0px none black;
      -webkit-tap-highlight-color: transparent;
      background-color: white;
      border-radius: 2px;
      overflow: hidden;
   }

   .titlebar {
      height: 82px;
      background: rgb(20, 117, 247);
   }

   .titlebar #p_my_face {
      position: relative;
      width: 60px;
      height: 60px;
      border: 1px white solid;
      margin: 8px;
      float: left;
      border-radius: 5px;
   }

   .titlebar #t_my_name {
      position: relative;
      top: 10px;
      left: 0;
      float: left;
      font-size: 20px;
      color: white;
   }

   .titlebar #t_my_menu {
      width: 150px;
      position: relative;
      top: 5px;
      right: 5px;
      float: right;

   }

   .sesspart {
      clear: both;
      float: left;
      width: 200px;
      height: 100%;
      background: rgb(242, 245, 249);
      display: flex;
      flex-direction: column;
      border-right: 1px solid #e0e0e0;
   }

   .accordion {
      flex: 1;
      overflow: auto;
   }

   .accordion::-webkit-scrollbar {
      box-shadow: none;
   }

   .accordion-group {
      height: 100%;
   }

   .accordion-body {
      height: 100%;
   }

   .accordion-heading {
      border-bottom: 0;
      background-color: bisque;
   }

   .accordion-heading .accordion-toggle {
      display: block;
      padding: 8px 15px;
      font-size: medium;
   }

   .accordion-inner {
      padding: 9px 15px;
      border-top: 1px solid #e5e5e5;
   }

   .sesslist-recent {
      height: 450px;
      background: #f5f5f5;
      border-width: 0px 1px 0px 0px;
      border-color: #d5d6d7;
      border-style: solid;
      //overflow: auto;
   }


   .sesslist {
      overflow: auto;
      height: 100%;
   }

   .sesslist-group {
      /* height: 400px; */
      height: 450px;
      background: #f5f5f5;
      border-width: 0px 1px 0px 0px;
      border-color: #d5d6d7;
      border-style: solid;
      overflow: auto;
   }

   .sessinfo {
      clear: both;
      height: 60px;
      background: rgb(242, 245, 249);
   }

   .sessinfo-sel {
      clear: both;
      height: 70px;
      background: rgb(210, 230, 249);
   }

   .sessinfo-sel .face {
      width: 50px;
      height: 50px;
   }

   .face {
      transition: all 0.3s;
      float: left;
      width: 40px;
      height: 40px;
      margin: 10px 5px 10px 10px;
   }

   .name {
      float: left;
      height: 20px;
      text-indent: 2px;
      font-size: 12px;
      color: #1f1f1f;
      margin: 18px 0 0 0;
   }

   .badge {
      display: none;
      float: right;
      margin: 18px 0 0 0;
      width: 32px;
      height: 20px;
      background: #f00000;
      color: white;
      text-align: center;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
   }

   .badge span {
      position: relative;
      top: 1px;
      font-size: 10px;
   }


   .chatpart {
      float: left;
      border: 0px red solid;
      background: #ffffff;
      width: calc(100% - 200px);
      height: 100%;
      display: flex;
      flex-direction: column;
   }

   .chatpart-head {
      background: rgb(250, 250, 250);
      padding: 10px;
      overflow: hidden;
      border-bottom: 1px solid #e0e0e0;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      #p_friend_face {
         width: 50px;
         height: 50px;
         float: left;
         border-radius: 5px;
         border: 1px solid #f0f0f0;
         margin-right: 10px;
      }

      #p_friend_name {
         float: left;
         font-size: 16px;
      }
   }

   .chatpart-body {
      flex: 1;
      display: flex;

      .chatpart-body-l {
         flex: 1;
         display: flex;
         flex-direction: column;
      }

      .tab {
         margin-bottom: 0;
      }

      .supplier-info {
         width: 300px;
         float: left;
         border-left: 1px solid #e0e0e0;
         height: 100%;
         display: flex;
         flex-direction: column;

         .tab1 {
            flex-shrink: 0;

            .tab {
               background: rgb(248, 248, 248);
               display: flex;

               li {
                  color: #333333;
                  padding: 10px;
                  border-bottom: 1px solid #e0e0e0;
                  text-align: center;
                  flex: 1;
                  cursor: pointer;

                  &.cur {
                     color: rgb(22, 118, 248);
                     border-top: 2px solid rgb(22, 118, 248);
                     background: #ffffff;
                  }
               }
            }

            .box {
               min-height: 100px;
               display: none;

               &.on {
                  display: block;
               }
            }

            .looking-box,
            .supplier-box {
               .goods_head {
                  display: flex;
                  padding: 10px;

                  .img {
                     width: 68px;
                     height: 68px;
                     border: 1px solid #f0f0f0;
                     margin-right: 10px;
                     flex-shrink: 0;
                  }

                  .name {
                     margin-top: 0;
                     color: #666666;
                  }
               }

               .item {
                  padding: 6px 10px;
                  font-size: 14px;
                  font-size: 14px;

                  .value {
                     color: #999999;
                  }

                  .value.price {
                     color: #e60000;
                  }
               }
            }
         }

         .tab2 {
            padding: 10px;
            overflow: hidden;
            display: flex;
            flex-direction: column;

            .tab {
               display: flex;
               flex-shrink: 0;

               li {
                  color: #333333;
                  padding: 10px;
                  border-bottom: 1px solid #e0e0e0;
                  text-align: center;
                  flex: 1;
                  cursor: pointer;

                  &.cur {
                     color: rgb(22, 118, 248);
                     border-bottom: 2px solid rgb(22, 118, 248);
                     background: #ffffff;
                  }
               }
            }

            .box {
               min-height: 100px;
               display: none;
               overflow: auto;
               flex: 1;

               &.on {
                  display: block;
               }
            }

            .goods {
               display: flex;
               align-items: center;
               overflow: hidden;
               border-bottom: #f0f0f0 solid 1px;
               padding: 8px;

               .img {
                  width: 68px;
                  height: 68px;
                  border: 1px solid #f0f0f0;
                  margin-right: 10px;
                  flex-shrink: 0;
                  background: rgb(150, 150, 150);
               }

               .info {
                  flex: 1;
                  display: flex;
                  flex-direction: column;

                  .name {
                     color: #666666;
                     text-overflow: ellipsis;
                     margin-bottom: 8px;
                     margin-top: 0;
                     height: auto;
                  }

                  .pp {
                     display: flex;
                     justify-content: space-between;
                     align-items: center;

                     .price {
                        color: #e60000;
                     }

                     .sendbtn {
                        border: #e0e0e0 1px solid;
                        background: #ffffff;
                        color: #4d4d4d;
                        margin-right: 0;
                     }
                  }
               }
            }
         }
      }
   }

   .msgflow {
      flex: 1;
      border-bottom: 1px #e0e0e0 solid;
      padding: 20px 12px;
      background: #ffffff;
      overflow: auto;
   }

   .msgflow .onemsg {
      position: relative;
   }

   .onemsg {
      padding-bottom: 16px;

      .msghead {
         margin-bottom: 8px;
         margin-left: 50px;
         color: #cccccc;
      }

      .msgbody {
         display: flex;
         justify-content: flex-start;

         .avatar {
            width: 40px;
            height: 40px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(184, 145, 145, 1);
            position: relative;
            margin-right: 8px;
            flex-shrink: 0;
            order: 1;
            overflow: hidden;
         }

         .msg-main {
            position: relative;
            max-width: 70%;
            order: 2;
            margin: 0 10px 0 0;
            padding: 8px;
            background: rgb(243, 243, 243);
            border-radius: 2px;
            flex-shrink: 0;

            .content {
               line-height: 1;
               position: relative;
               z-index: 2;
               word-break: break-word;
               white-space: pre-wrap;
               font-size: 14px;
               border: 0;
               margin-bottom: 0;
               padding: 0;
               background: none;
               line-height: 24px;
               overflow: hidden;

               >img {
                  vertical-align: bottom;
                  display: inline-block;
               }

               .goods {
                  .name {
                     margin-top: 5px;
                     text-align: center;
                     width: 100%;
                  }

                  &:hover {
                     .name {
                        color: #1676f8;
                     }
                  }

                  img {
                     display: block;

                     min-width: 100px;
                     min-height: 100px;
                  }
               }
            }

            &:after {
               content: '';
               position: absolute;
               display: block;
               display: block;
               width: 6px;
               height: 6px;
               left: -2px;
               background: #fff;
               top: 16px;
               transform: rotateZ(45deg);
               border-radius: 1px;
               z-index: 1;
               background: rgb(243, 243, 243);
            }
         }

         .spinner {
            order: 3;
         }
      }

      &.my {

         .msghead {
            margin-right: 50px;
            margin-left: 0;
            text-align: right;
         }

         .msgbody {
            justify-content: flex-end;

            .avatar {
               margin-right: 0;
               margin-left: 8px;
               order: 3;
            }

            .msg-main {
               order: 2;
               margin: 0 0 0 10px;
               background: rgba(208, 233, 255, 1);

               .content {
                  color: #333333;

                  a {
                     color: #333333;
                  }
               }

               &:after {
                  background: rgba(208, 233, 255, 1);
                  right: -2px;
                  left: unset;
               }
            }

            .spinner {
               order: 1;
            }
         }
      }
   }

   .editbar {}

   .chat02_title_btn {
      cursor: pointer;
      float: left;
      display: block;
      margin: 5px 6px;
   }

   .chat02_title_btn:focus {
      outline: none;
      outline-offset: none;
      text-decoration: unset;
   }

   .chat02_title_btn:hover {

      text-decoration: unset;
   }

   .chat02_title_btn .iconfont {
      font-size: 26px;
      color: #d0d0d0
   }

   .chat02_title_btn .iconfont:focus {
      text-decoration: unset;
      outline: none;
   }

   .chat02_title_btn:hover .iconfont {
      color: #666666;
   }

   .wl_faces_box {
      background: url(../../img/custome/wlf_bg.png) repeat 0 0;
      position: absolute;
      width: 428px;
      height: 225px;
      bottom: 170px;
      left: 145px;
      display: none;
      z-index: 1000;
   }

   .wl_faces_content {
      background: #fff;
      border: 1px #ccc solid;
      width: 417px;
      height: 216px;
      margin: 3px 4px;
   }

   .wl_faces_content .title {
      background: url('../../img/custome/wlf_title_bg.jpg') repeat-x 0 0;
      height: 40px;
      position: relative;
   }

   .wl_faces_content .title ul {
      overflow: hidden;
   }

   .wl_faces_content .title ul li {
      position: absolute;
      display: block;
   }

   .wl_faces_content .title ul li.title_name {
      background: url('../../img/custome/wlf_title_btn.jpg') no-repeat 0 0;
      width: 82px;
      height: 30px;
      bottom: 0;
      _bottom: -2px;
      left: 15px;
      text-align: center;
      line-height: 32px;
      font-weight: bold;
      color: #333;
   }

   .wl_faces_content .title ul li.wl_faces_close {
      right: 8px;
      top: 15px;
   }

   .wl_faces_content .title ul li.wl_faces_close span {
      background: url('../../img/custome/icon.png') repeat-x 0 0;
      cursor: pointer;
      display: block;
      width: 15px;
      height: 15px;
   }

   .wl_faces_main {}

   .wl_faces_main ul {
      margin: 12px 12px;
      padding: 0px;
      overflow: hidden;
      border-top: 1px #CCC solid;
      border-left: 1px #CCC solid;
      list-style: none;
      width: 393px;
   }

   .wl_faces_main ul li {
      float: left;
      border-right: 1px #CCC solid;
      border-bottom: 1px #CCC solid;
      /* height: 35px; */
      /* width: 35px; */
      margin: 0px 0px 0px 0px;
      padding: 5px 7px;
      text-align: center;
   }

   .wl_faces_main ul li img {
      width: 24px;
      height: 24px;
   }

   .wlf_icon {
      background: url('../../img/custome/layer_arrow.png') no-repeat 0 0;
      position: absolute;
      width: 22px;
      height: 9px;
      bottom: -4px;
      _bottom: -11px;
      left: 61px;
   }

   .msgedit {
      height: 50px;
      padding: 0px 16px;
      /* line-height: 1.5; */
      font-size: 14px;
   }

   .sendbar {
      padding: 12px;
   }

   .closebtn,
   .sendbtn {
      outline: none;
      float: right;
      margin-right: 10px;
      font: 10px/1.5 "微软雅黑";
      border: 1px solid #e0e0e0;
      background: #ffffff;
      padding: 10px;
      padding: 5px 16px;
      border-radius: 9px;

      &:hover {
         background: #fafafa;

      }
   }

   .bottom {
      clear: both;
      height: 3px;
      background: #d7eaf3;
   }

   #demo_type_desc {
      display: none;
      color: red;
   }

   #myself_type_desc {
      display: none;
      color: red;
   }

   #qcloudLink {
      color: blue;
   }

   #sdkAppIdDiv {
      display: none;
   }

   #accountTypeDiv {
      display: none;
   }

   .pic_thumb {
      width: 200px;
      height: 200px;
   }



   .spinner {
      width: 60px;
      text-align: center;
      text-align: right;
   }

   .spinner>div {
      width: 6px;
      height: 6px;
      background-color: #333;

      border-radius: 100%;
      display: inline-block;
      -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      animation: sk-bouncedelay 1.4s infinite ease-in-out both;
   }

   .spinner .bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
   }

   .spinner .bounce2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
   }

   @-webkit-keyframes sk-bouncedelay {

      0%,
      80%,
      100% {
         -webkit-transform: scale(0)
      }

      40% {
         -webkit-transform: scale(1.0)
      }
   }

   @keyframes sk-bouncedelay {

      0%,
      80%,
      100% {
         -webkit-transform: scale(0);
         transform: scale(0);
      }

      40% {
         -webkit-transform: scale(1.0);
         transform: scale(1.0);
      }
   }

   .headurlClass {
      height: 40px;
      width: 40px;
      border-radius: 5px;
   }

   .delChat {
      color: red;
      width: 50px;
      padding: 16px 0;
      float: right;
      margin-right: 5px;
      display: none;
   }

}