<div class="pls-header">
   <div class="w clearfix">
      <a href="/index" class="logo" clstag="pageclick|keycount|201603031|52"></a>
      <ul class="nav">
         <li class="cur">
            <a href="/index" target="_blank" class="a-bottom" clstag="pageclick|keycount|201603031|53">PLUS会员首页</a>
         </li>
         <li>
            <a href="https://sale.jd.com/act/IJNvTwAZbiMU.html" target="_blank" clstag="">会员尊享</a>
         </li>
         <li>
            <a href="/right/index" target="_blank" clstag="pageclick|keycount|201603031|57">PLUS权益</a>
         </li>
      </ul>
   </div>
</div>
<div id="container">
   <div class="pls-column">
      <div class="w">
         <div class="pls-column-mt">
            <div class="pls-column-top">
               <div class="pls-column-txt">购买正式版PLUS会员</div>
            </div>
         </div>

         <!--  /widget/pls-accounts/pls-accounts.tpl -->
         <div class="pls-accounts  pls-accounts-xufei pls-accounts-invoice">
            <div class="pls-accounts-pic">
               <p class="pls-accounts-p up">续费PLUS会员</p>
               <p class="pls-accounts-p down">继续享受PLUS会员尊贵权益</p>
            </div>
            <div class="pls-accounts-content">
               <div class="pls-accounts-content-inner">
                  <dl>
                     <dt>开通套餐：</dt>
                     <dd>PLUS会员</dd><br>
                     <dt>付费模式：</dt>
                     <dd>按年付费</dd><br>
                     <dt>发票信息：</dt>
                     <dd class="dd-invoice">电子普通发票<span>（<i>会员服务--个人</i>）</span><a href="javascript:void(0);" id="identify">修改</a></dd><br>
                     <dt>应付金额：</dt>
                     <dd id="price"><span class="pre-price">￥299<span id="line-mask"></span></span>￥168</dd>
                  </dl>

                  <div class="dialog-btn">
                     <span class="dialog-btn-a" target="_blank" clstag="pageclick|keycount|201603115|3">去付款</span>
                  </div>
                  <div class="tips">购买即视为同意<a target="_blank" href="/order/protocol" clstag="pageclick|keycount|201603115|2" class="a-link">《京东PLUS会员正式期-用户协议》</a></div>

               </div>
            </div>
         </div>

         <!--/ /widget/pls-accounts/pls-accounts.tpl -->
      </div>
   </div>
</div>