<!--<div class="shop-jiesuan-logo">
    <div class="jiesuan-logo">
        <h2>我的结算页</h2>
    </div>
</div>-->
<div class="shop-jiesuan-changetop">
   <div class="shop-jiesuan-changet gird">
       <div class="shop-jiesuan-changetl">
           <a href="#/home">
               <img src="img/logo.png" class="jiesuan-changetlimg" width="177px" />
           </a>
           <span class="jiesuan-changetlsp">结算页</span>
       </div>
       <div class="shop-jiesuan-changetr">
           <div class="jiesuan-changetrd">
               <span class="jiesuan-changetrsp1">我的购物车</span>
               <span class="jiesuan-changetrsp2">填写信息</span>
               <span class="jiesuan-changetrsp3">提交订单</span>
           </div>
       </div>
   </div>
</div>
<div class="shop-jiesuan-gd">
   <div class="jiesuan-gd-div gird">填写并核对订单信息</div>
</div>
<div id="masks" class="masks"></div>
<div class="pur_close_box gird" ng-show="jiesuanData">
   <a href="" class="pur_close_a" ng-click="tianjia()">+ 新增收货地址</a>
   <div class="pur_zengjia">
       <div style="padding: 0 80px 0 20px;height: 42px;line-height: 42px;border-bottom: 1px solid #eee;font-size: 14px;color: #333;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; background-color: #F8F8F8;border-radius: 2px 2px 0 0;">镜库科技</div>
       <table class="dzhi-table" width="100%">
           <tbody>
               <tr>
                   <td width="172">
                       <div class="dzhita-r r">
                           <em class="red">*</em> 收货人：</div>
                   </td>
                   <td>
                       <input placeholder="请输入收货人姓名" type="text" class="dzhi-text" ng-model="eeditData.consignee">
                   </td>
               </tr>
               <tr>
                   <td width="172">
                       <div class="dzhita-r r">
                           <em class="red">*</em> 所在地区：</div>
                   </td>
                   <td>
                       <select class="dzhi-selt" ng-model="eeditData.province" ng-change="selectProvince(eeditData.province)">
                           <option ng-selected="1" value="">请选择</option>
                           <option ng-repeat="zjProvince in tianjiaData.province_list" value="{{zjProvince.region_id}}">{{zjProvince.region_name}}</option>
                       </select>
                       <select class="dzhi-selt" ng-model="eeditData.city" ng-change="selectCity(eeditData.city)">
                           <option ng-selected="1" value="">请选择</option>
                           <option ng-repeat="zjCity in cityData.data" value="{{zjCity.region_id}}">{{zjCity.region_name}}</option>
                       </select>
                       <select class="dzhi-selt" ng-model="eeditData.district">
                           <option ng-selected="1" value="">请选择</option>
                           <option ng-repeat="zjDistrict in disData.data" value="{{zjDistrict.region_id}}">{{zjDistrict.region_name}}</option>
                       </select>
                   </td>
               </tr>
               <tr>
                   <td width="172">
                       <div class="dzhita-r r">
                           <em class="red">*</em> 详细地址：</div>
                   </td>
                   <td>
                       <input placeholder="请输入详细地址" type="text" class="dzhi-text w1" ng-model="eeditData.address">
                   </td>
               </tr>
               <tr>
                   <td width="172">
                       <div class="dzhita-r r">
                           <em class="red">*</em> 手机号码：</div>
                   </td>
                   <td>
                       <input placeholder="请输入您的手机号码" type="text" class="dzhi-text" ng-model="eeditData.mobile">
                   </td>
               </tr>
               <tr>
                   <td width="172">
                       <div class="dzhita-r r"> 固定电话：</div>
                   </td>
                   <td>
                       <input placeholder="请输入您的固定电话" type="text" class="dzhi-text">
                   </td>
               </tr>
               <tr>
                   <td width="172">
                       <div class="dzhita-r r">&nbsp;</div>
                   </td>
                   <td>
                       <input class="dzhi-btn org mr20" ng-click="tianjiaAddress()" type="button" value="确认地址">
                       <input class="dzhi-btn qx mr20" ng-click="quxiao()" type="button" value="取消">
                       <span class="dzhi-mor">
                           <input type="checkbox" class="dzhi-check" ng-model="isMor" ng-change="addSetMoren(isMor)">设为默认</span>
                   </td>
               </tr>
           </tbody>
       </table>
   </div>
   <div class="pur_close_top">
       <div class="pur_close_d pur_address">
           <span class="pur_close_sp">收货信息 : </span>
           <P ng-if="!defaultShipping&&!flag" style="font-size: 14px;margin: -3px 0 8px;">请选择收货地址</P>
           <div class="pur_close_dlbox">
               <div class="pur_close_dl" ng-class="{'pur_close_don':address.selected,'noEvent':address.is_show==0}"
                   ng-init="flag=true" ng-if="flag||address.selected==1" ng-repeat="address in jiesuanData.consignee_list">
                   <span class="pur_close_sp1" ng-click="selectAddress(address.address_id)">{{address.consignee}}</span>
                   <input type="button" value="可选地址" ng-if="address.is_show==1" style="height: 26px;padding: 0 15px;border-radius: 3px;color: #fff;background: #3f69a5;font-size: 12px;border:none;margin:0 15px;margin-top: 2px;float: left;"
                   />
                   <input type="button" value="不可选地址" ng-if="address.is_show==0" style="height: 26px;padding: 0 15px;border-radius: 3px;background-color: #ccc;color: #fff;font-size: 12px;border:none;margin:0 15px;margin-top: 2px;float: left;"
                   />
                   <span class="pur_close_sp2">{{address.consignee}}</span>
                   <span class="pur_close_sp3 ">
                       <i>{{address.region}}</i>
                       <i>{{address.address}}</i>
                       <i>{{address.mobile}}</i>
                   </span>
                   <input type="button" value="默认地址" ng-class="{'pur_close_btn block':address.is_default}" class="pur_close_btn" style="width:auto;padding: 0 15px;background-color: #ff3333;color: #fff;border: none;margin-right: 10px;"
                   />
                   <div class="pur_bianji">
                       <div style="padding: 0 80px 0 20px;height: 42px;line-height: 42px;border-bottom: 1px solid #eee;font-size: 14px;color: #333;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; background-color: #F8F8F8;border-radius: 2px 2px 0 0;">镜库科技</div>
                       <table class="dzhi-table" width="100%">
                           <tbody>
                               <tr>
                                   <td width="172">
                                       <div class="dzhita-r r">
                                           <em class="red">*</em> 收货人：</div>
                                   </td>
                                   <td>
                                       <input placeholder="请输入收货人姓名" type="text" class="dzhi-text" ng-model="editData.consignee">
                                   </td>
                               </tr>
                               <tr>
                                   <td width="172">
                                       <div class="dzhita-r r">
                                           <em class="red">*</em> 所在地区：</div>
                                   </td>
                                   <td>
                                       <select class="dzhi-selt" ng-model="editData.province" ng-change="changeProvince(editData.province)">
                                           <option ng-repeat="bjProvince in bianjiData.province_list" ng-selected="bjProvince.selected"
                                               value="{{bjProvince.region_id}}">{{bjProvince.region_name}}</option>
                                       </select>
                                       <select class="dzhi-selt" ng-model="editData.city" ng-change="changeCity(editData.city)">
                                           <option ng-repeat="bjCity in bianjiData.city_list" ng-selected="bjCity.selected"
                                               value="{{bjCity.region_id}}">{{bjCity.region_name}}</option>
                                       </select>
                                       <select class="dzhi-selt" ng-model="editData.district" ng-change="changeDis(editData.district)">
                                           <option ng-repeat="bjDistrict in bianjiData.district_list" ng-selected="bjDistrict.selected"
                                               value="{{bjDistrict.region_id}}">{{bjDistrict.region_name}}</option>
                                       </select>
                                   </td>
                               </tr>
                               <tr>
                                   <td width="172">
                                       <div class="dzhita-r r">
                                           <em class="red">*</em> 详细地址：</div>
                                   </td>
                                   <td>
                                       <input placeholder="请输入详细地址" type="text" class="dzhi-text w1" ng-model="editData.address">
                                   </td>
                               </tr>
                               <tr>
                                   <td width="172">
                                       <div class="dzhita-r r">
                                           <em class="red">*</em> 手机号码：</div>
                                   </td>
                                   <td>
                                       <input placeholder="请输入您的手机号码" type="text" class="dzhi-text" ng-model="editData.mobile">
                                   </td>
                               </tr>
                               <tr>
                                   <td width="172">
                                       <div class="dzhita-r r"> 固定电话：</div>
                                   </td>
                                   <td>
                                       <input placeholder="请输入您的固定电话" type="text" class="dzhi-text">
                                   </td>
                               </tr>
                               <tr>
                                   <td width="172">
                                       <div class="dzhita-r r">&nbsp;</div>
                                   </td>
                                   <td>
                                       <input class="dzhi-btn org mr20" ng-click="enterAddress($event,province_id,city_id,dis_id,$index)" type="button" value="确认地址">
                                       <input class="dzhi-btn qx mr20" ng-click="quxiao()" type="button" value="取消">
                                       <span class="dzhi-mor">
                                           <input type="checkbox" class="dzhi-check" ng-model="isMor" ng-change="setMoren(isMor)"
                                               value="isMor" ng-checked="editData.default">设为默认</span>
                                   </td>
                               </tr>
                           </tbody>
                       </table>
                   </div>
                   <div class="a_box fr">
                       <a href="" class="set_mor" ng-click="setMor(address.address_id)" ng-if="!address.is_default">设为默认地址</a>
                       <a href="" ng-click="bianji(address.address_id,$index,address)">编辑</a>
                       <a href="" ng-click="deleteAddress(address.address_id)">删除</a>
                   </div>
               </div>
           </div>
           <span ng-class="{'more_addr':!flag,'more_addrr':flag}" ng-click="flag=!flag">{{flag?'收起地址':'更多地址'}}</span>
       </div>
       <!--支付方式-->
       <div class="pur_close_d" n>
           <span class="pur_close_sp">支付方式 : </span>
           <div class="zfbt_box">
               <span ng-click="selectPay(payment.pay_id)" ng-class="{'onli':payment.selected}" ng-repeat="payment in jiesuanData.payment_list">{{payment.pay_name}}
                   <i class="round_qus">
                       <div class="round_qusbox" ng-bind-html="payment.pay_desc"></div>
                   </i>
               </span>
               <!--<span class="sp_btn2">银行汇款/转账</span>-->
               <!--<span class="sp_btn3">货到付款</span>-->
           </div>
       </div>

       <div class="pur_close_d">
           <span class="pur_close_sp" style="padding: 0;">商品清单 : </span>
       </div>
       <div class="goods_table">
           <table>
               <tr>
                   <th style="text-align: left;padding-left: 150px;">商品</th>
                   <th width="165px">铺货数量</th>
                   <th width="165px">铺货单价</th>
                   <th width="165px">小计</th>
               </tr>
           </table>
           <div class="goods_table_item">
                <p class="p_titl">{{jiesuanData.suppliers_info.name}}
                    <span style="cursor: pointer;" class="per_lo" ng-click="qimoChatClick(jiesuanData.suppliers_info.access_id);"></span>
                    <!-- <span class="have_enough" style="float: right;color: #808080;font-size: 12px;padding-top: 2px;padding-right: 20px;" ng-if="cartGoods.free_price&&cartGoods.free_price!=0">购满{{cartGoods.free_price}}免运费</span>
                    <span class="have_enough" style="float: right;color: #808080;font-size: 12px;padding-top: 2px;padding-right: 20px;" ng-if="cartGoods.suppliers_free==1">已免运费</span> -->
                </p>
               <div class="table_bottom">
                   <div class="table_b1" ng-repeat="cartGoodsList in jiesuanData.goods_list">
                       <div class="table_b1_left">
                           <a href="#/shop-detail-distribution/{{cartGoodsList.distribution_id}}">
                               <img ng-src={{cartGoodsList.goods_img}} width="80" height="80" style="border: 1px solid #e6e6e6;" />
                           </a>
                       </div>
                       <div class="table_b1_rightbox">
                           <div class="rightbox_more" ng-repeat="cartGoodsAttr in cartGoodsList.attrs" style="min-height: 80px;height: auto;">
                               <div class="table_b1_right">
                                   <a href="#/shop-detail-distribution/{{cartGoodsList.distribution_id}}">
                                       <p ng-attr-title="{{cartGoodsList.cutting_id>0?cartGoodsList.cutting_name:cartGoodsList.goods_name}}"> {{cartGoodsList.cutting_id>0?cartGoodsList.cutting_name:cartGoodsList.goods_name}}</p>
                                   </a>
                                   <ul class="b1_right_u1">
                                       <li ng-if="!(cartGoodsList.cutting_id>0)">
                                           <!-- <span ng-if="cartGoodsAttr.qiujing">球镜：{{cartGoodsAttr.qiujing}}</span> -->
                                           <!-- <span ng-if="cartGoodsAttr.zhujing">柱镜：{{cartGoodsAttr.zhujing}}</span> -->
                                           <!-- <span ng-if="cartGoodsAttr.zhouwei">轴位：{{cartGoodsAttr.zhouwei}}</span> -->
                                           <span ng-repeat="carGoodsAttrs in cartGoodsAttr.attrs">{{carGoodsAttrs}}</span>
                                       </li>
                                       <li ng-if="cartGoodsList.cutting_id>0" ng-repeat="carGoodsAttrs in cartGoodsAttr.cutting_attr">
                                           <span style="float:initial;">
                                               <span ng-repeat="_attrAr in carGoodsAttrs">{{_attrAr}}</span>
                                           </span>
                                       </li>
                                   </ul>
                               </div>
                               <div class="table_b2_box">
                                   <div class="table_b2">&nbsp;</div>
                                   <div class="table_b2">{{cartGoodsAttr.number}}</div>
                                   <div class="table_b2">{{cartGoodsAttr.price}}</div>
                                   <div class="table_b2">{{cartGoodsAttr.formated_subtotal}}</div>
                               </div>
                           </div>
                       </div>
                   </div>
                   <!--配送方式-->
                   <div class="send_way">
                       <div class="send_way_l" style="float: left;">
                           <!-- <span class="sent_sp1">配送方式 : </span>
                           <span class="send_way_sp" ng-click="selectShip(cartGoods.suppliers_id,sent.shipping_id)" ng-style="{'pointerEvents':sent.disabled?'none':'auto','opacity':sent.disabled?'.4':'1','display':sent.disabled?'none':'inline-block'}"
                               ng-class="{'send_way_sp selected':sent.selected}" ng-repeat="sent in cartGoods.shipping">{{sent.shipping_name}}</span>
                           <span ng-if="(!cartGoods.shipping.length)&&defaultShipping">该供应商暂无配送方式</span>
                           <span ng-if="!defaultShipping">请选择收货地址</span> -->
                           <!--商家备注-->
                           <div class="remark_left" style="margin-top: 10px;" ng-if="!jiesuanData.suppliers_labels.length&&!jiesuanData.input_show" ng-click="jiesuanData.input_show=true">
                               <span class="sent_sp1">商家备注 : </span>
                               <input ng-model="jiesuanData.suppliers_notes[0]" type="text" placeholder="请将购买需求在备注中做详细说明" class="remark_ip"/>
                           </div>
                           <div class="remark_left remark_left2" ng-if="jiesuanData.suppliers_labels.length||jiesuanData.input_show" style="overflow: hidden;margin-top: 10px;">
                               <span class="sent_sp1" style="float: left;">商家备注 : </span>
                               <div class="texbox_d">
                                   <textarea class="bz_text" ng-model="jiesuanData.suppliers_notes" ng-blur="saveNotes()"></textarea>
                                   <ul class="bz_ul">
                                       <li ng-class="order_label.selected?'on':''" ng-repeat="order_label in jiesuanData.order_label" ng-click="order_label.selected = !order_label.selected;saveNotes()">{{order_label.value}}</li>
                                   </ul>
                               </div>
                           </div>
                       </div>
                       <div class="remark_right" style="float: right;">
                           <p>
                               <span>铺货总金额：</span>
                               <span>{{jiesuanData.total.subtotal}}</span>
                           </p>
                           <p class="p2">
                               <span>配送费用：</span>
                               <span>{{jiesuanData.DistributionInfo.shipping_fee}}</span>
                           </p>
                           <p class="p2">
                               <span>+押金：</span>
                               <span>{{jiesuanData.DistributionInfo.deposit}}</span>
                           </p>
                       </div>
                   </div>
                   <!--商家备注-->
               </div>
            </div>
       </div>

       <div ng-show="yeIf" class="top_center_bott" style="overflow: hidden;">
           <form style="display: inline-block;float: right;padding-right: 100px;padding-left: 100px;" class="alieditContainer" name="pass_form"
               novalidate>
               <span class="close_p6" style="position: relative;top: 26px;left: -62px;margin-bottom: 10px;">支付密码：</span>
               <label for="pass">
                   <input style="opacity: 0;" minlength="6" maxlength="6" id="pass" name="pass" class="ui-input i-text" ng-model="pass" ng-value="pass"
                       type="tel" autocomplete="off" />
                   <div class="sixDigitPassword" tabindex="0">
                       <i>
                           <b></b>
                       </i>
                       <i>
                           <b></b>
                       </i>
                       <i>
                           <b></b>
                       </i>
                       <i>
                           <b></b>
                       </i>
                       <i>
                           <b></b>
                       </i>
                       <i>
                           <b></b>
                       </i>
                       <span class="guangbiao" style="left:0px;"></span>
                   </div>
                   <span class="close_sp7" style="cursor: pointer;left:310px;" ng-click="forgot()">忘记支付密码？</span>
               </label>
           </form>
       </div>
       <!--订单金额-->
       <div class="refer_order" style="margin-top: 16px;">
           <div class="refer_order_d">

               <p class="refer_order_p">
                   <!-- <span ng-if="jiesuanData.total.formated_subsidy_price">镜库补贴 : {{jiesuanData.total.formated_subsidy_price}}</span> -->　应付总金额(包含运费加押金) :
                   <span class="refer_order_sp1">{{jiesuanData.total.subtotals}}</span>
                   <input ng-click="submitList($event,$index)" type="button" value="提交订单" class="refer_order_btn" />
               </p>
           </div>
       </div>



       <div style="height: 25px;"></div>
   </div>
</div>
<script>
   $('.use_oupon_h2').click(function () {
       $(this).find('.use_oupon_sp1').toggleClass('sp1_cl');
       $('.use_oupon_cont').toggle();
   })

   $('.use_oupon_u1 li').click(function () {
       var ind = $(this).index();
       $(this).addClass('lion').siblings().removeClass('lion');
       $('.oupon_u1_dbox>div').eq(ind).addClass('show').siblings().removeClass('show');
       $('.goods_oupon_p').eq(ind).addClass('show').siblings().removeClass('show');
   })

   $('.use_oupon_u2 li').click(function () {
       var indx = $(this).index();
       $(this).addClass('onc').siblings().removeClass('onc');
       $('.oupon_u2_dbox>div').eq(indx).addClass('show').siblings().removeClass('show');
   })

   $('.goods_oupon_top>.needcli').click(function () {
       $(this).toggleClass('oncli');
   })

   $('.freight_q .goods_oupon_top .green').click(function () {
       $(this).toggleClass('oncli');
   })


   //遮罩层
   function showMask() {
       $("#masks").css("height", $(document).height());
       $("#masks").css("width", $(document).width());
   }
   showMask();

   $('#masks').click(function () {
       $(this).hide();
       $('.pur_bianji').hide();
       $('.pur_zengjia').hide();
   });

</script>