<div class="borrowings-info animated fadeIn">
   <div class="fore fore2">
      <div class="body">
         <table>
            <tr>
               <td style="width: 120px">需求金额：</td>
               <td>
                  <input ng-model="params.app_amt" class="input" type="text" name="app_amt" id="app_amt" placeholder="请输入">
               </td>
            </tr>
            <tr>
               <td>借款期限：</td>
               <td>
                  <select ng-model="params.app_term" ng-options="item.id as item.label for item in app_term" style="cursor: pointer;" class="input" name="app_term" id="app_term" placeholder="请选择">
                     <option value="">请选择</option>
                  </select>
               </td>
            </tr>
            <tr>
               <td>借款用途：</td>
               <td>
                  <select ng-model="params.loan_use" ng-options="item.id as item.label for item in loan_use" style="cursor: pointer;" class="input" name="loan_use" id="loan_use" placeholder="请选择">
                     <option value="">请选择</option>
                  </select>
               </td>
            </tr>
            <tr>
               <td></td>
               <td>
                  我们将根据您的资金需求，测算您的实际授信额度
               </td>
            </tr>
            <tr>
               <td></td>
               <td>
                  <div>
                     <button ng-click="next()" class="button">下一步</button>
                  </div>
               </td>
            </tr>
         </table>
      </div>
   </div>
</div>