<div class="rebate">
   <div class="pls-header">
      <div class="w clearfix">
         <a href="/index" class="logo"></a>
         <ul class="nav">
            <li class="cur">
               <a href="/index" target="_blank" class="a-bottom">PLUS会员首页</a>
            </li>
            <li>
               <a href="https://sale.jd.com/act/IJNvTwAZbiMU.html" target="_blank" clstag="">会员尊享</a>
            </li>
            <li>
               <a href="/right/index" target="_blank">PLUS权益</a>
            </li>
         </ul>
      </div>
   </div>
   <div id="container">
      <div class="pls-column">
         <div class="w">
            <div class="pls-column-mt">
               <div class="pls-column-top">
                  <div class="pls-column-txt">我的购物回馈</div>
               </div>
            </div>
            <!--  /widget/pls-table/pls-table.tpl -->
            <div class="table-div">
               <a href="//plus.jd.com/right?showType=0" target="_blank" class="table-hd-a">查看回馈规则&nbsp;&gt;</a>
               <div class="hd-wrap">
   
                  <span class="hd-item" style="display:inline;">
                  已回馈京豆：
                  <span class="been-num">2866</span> 个
                  </span>
                  <span class="hd-item" style="display: none;">
                  待回馈京豆：
                  <span class="been-num-yet">0</span> 个
                  </span>
   
                  <span class="hd-item">
                  我的京豆余额：
                  <span class="my-bean-num">1603</span> 个
                  </span>
               </div>
               <div class="pull-wrap table-hd">
                  <div class="pull-menu  pull-menu-0" style="background-position: 95px 3px;">
                     <span>最近三个月</span>
                  </div>
                  <ul class="pull-down-ul pull-down-ul-0" style="display: none;">
                     <li>最近三个月</li>
                     <li>2018-07</li>
                     <li>2018-06</li>
                     <li>2018-05</li>
                     <li>2018-04</li>
                     <li>2018-03</li>
                     <li>2018-02</li>
                     <li>2018-01</li>
                     <li>2017-12</li>
                     <li>2017-11</li>
                     <li>2017-10</li>
                     <li>2017-09</li>
                     <li>2017-08</li>
                     <li>2017-08之前</li>
                  </ul>
               </div>
               <span class="txt records-zy">♦ 购物回馈每笔订单中的单个商品实际支付金额为基准，订单完成后才能获得回馈<br>♦ 用户购买PLUS会员资格后，一年内购物回馈累计总金额最高不超过500元价值的京豆</span>
               <span class="txt txt-d"></span>
            </div>
   
            <!-- 展示京豆数据列表 Start -->
            <table class="pls-table table-feedback">
               <colgroup>
                  <col width="22%">
                  <col width="22%">
                  <col width="22%">
                  <col width="17%">
                  <col width="17%">
               </colgroup>
               <thead>
                  <tr align="center" class="even">
                     <th>订单完成/退货时间</th>
                     <th>编号</th>
                     <th>类型</th>
                     <th>
                        <div class="pull-wrap">
                           <div class="pull-menu pull-menu-1" style="background-position: 95px 3px;">
                              <span>回馈收入/扣减</span>
                           </div>
                           <ul class="pull-down-ul pull-down-ul-1 ul-isshow" style="display: none;">
                              <li class="chosed" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">回馈收入/扣减</li>
                              <li>回馈收入</li>
                              <li>回馈扣减</li>
                           </ul>
                        </div>
                     </th>
                     <th>
                        <div class="pull-wrap">
                           <div class="pull-menu pull-menu-2" style="background-position: 95px 3px;">
                              <span>回馈处理状态</span>
                           </div>
                           <ul class="pull-down-ul pull-down-ul-2" style="display: none;">
                              <li>回馈处理状态</li>
                              <li>待处理</li>
                              <li>已处理</li>
                           </ul>
                        </div>
                     </th>
                  </tr>
               </thead>
   
               <tbody>
                  <tr class="">
                     <td align="center">2018-07-24 12:46:34</td>
                     <td align="center" class="fb">订单：<a href="http://order.jd.com/center/itemPage.action?orderid=76901099929&amp;PassKey=90BA6DF1DE72A6CFA910B101F27A4EB9" target="_blank">76901099929</a></td>
                     <td align="center">购物</td>
                     <td align="center" class="fb fb-num">+54<span class="fb-num-details"></span></td>
                     <td align="center">已处理</td>
                  </tr>
                  <tr class="even">
                     <td>2018-07-24 12:46:34</td>
                     <td class="fb">订单：<a href="http://order.jd.com/center/itemPage.action?orderid=76912289626&amp;PassKey=6C4440D909156E14BA589C8614AF939E" target="_blank">76912289626</a></td>
                     <td>购物</td>
                     <td class="fb fb-num">+9<span class="fb-num-details"></span></td>
                     <td>已处理</td>
                  </tr>
                  <tr class="">
                     <td>2018-07-01 19:55:47</td>
                     <td class="fb">订单：<a href="http://order.jd.com/center/itemPage.action?orderid=76623069523&amp;PassKey=94E11711E3902518FFF102BC755457D1" target="_blank">76623069523</a></td>
                     <td>购物</td>
                     <td class="fb fb-num">+74<span class="fb-num-details"></span></td>
                     <td>已处理</td>
                  </tr>
                  <tr class="even">
                     <td>2018-06-29 11:17:08</td>
                     <td class="fb">订单：<a href="http://order.jd.com/center/itemPage.action?orderid=77101656517&amp;PassKey=C8AA858471FDF72887866E9CE8CE4BFB" target="_blank">77101656517</a></td>
                     <td>购物</td>
                     <td class="fb fb-num">+698<span class="fb-num-details"></span></td>
                     <td>已处理</td>
                  </tr>
                  <tr class="">
                     <td>2018-06-24 14:26:56</td>
                     <td class="fb">订单：<a href="http://order.jd.com/center/itemPage.action?orderid=76540230745&amp;PassKey=EE6A1433D2F7046595E198EE0D3B9792" target="_blank">76540230745</a></td>
                     <td>购物</td>
                     <td class="fb fb-num">+36<span class="fb-num-details"></span></td>
                     <td>已处理</td>
                  </tr>
                  <tr class="even">
                     <td>2018-06-23 13:13:28</td>
                     <td class="fb">订单：<a href="http://order.jd.com/center/itemPage.action?orderid=76468570770&amp;PassKey=74E2FC9BF99092FF65F04744F4993A46" target="_blank">76468570770</a></td>
                     <td>退货</td>
                     <td class="fb fb-num" style="color: rgb(228, 57, 60);">-102<span class="fb-num-details"></span></td>
                     <td>已处理</td>
                  </tr>
                  <tr class="">
                     <td>2018-06-23 01:31:49</td>
                     <td class="fb">订单：<a href="http://order.jd.com/center/itemPage.action?orderid=76902350147&amp;PassKey=2FA2D7DF54C407B2EF639DB17FACBA37" target="_blank">76902350147</a></td>
                     <td>购物</td>
                     <td class="fb fb-num">+59<span class="fb-num-details"></span></td>
                     <td>已处理</td>
                  </tr>
                  <tr class="even">
                     <td>2018-06-23 01:31:45</td>
                     <td class="fb">订单：<a href="http://order.jd.com/center/itemPage.action?orderid=76474557272&amp;PassKey=D199B58E9A3E60687DEC3DB87D5D7349" target="_blank">76474557272</a></td>
                     <td>购物</td>
                     <td class="fb fb-num">+83<span class="fb-num-details"></span></td>
                     <td>已处理</td>
                  </tr>
                  <tr class="">
                     <td>2018-06-21 14:54:07</td>
                     <td class="fb">订单：<a href="http://order.jd.com/center/itemPage.action?orderid=76951486499&amp;PassKey=D7842D92CBC918814CFD40ABB308A503" target="_blank">76951486499</a></td>
                     <td>购物</td>
                     <td class="fb fb-num">+98<span class="fb-num-details"></span></td>
                     <td>已处理</td>
                  </tr>
                  <tr class="even">
                     <td>2018-06-21 13:36:48</td>
                     <td class="fb">订单：<a href="http://order.jd.com/center/itemPage.action?orderid=76468570770&amp;PassKey=74E2FC9BF99092FF65F04744F4993A46" target="_blank">76468570770</a></td>
                     <td>购物</td>
                     <td class="fb fb-num">+102<span class="fb-num-details"></span></td>
                     <td>已处理</td>
                  </tr>
               </tbody>
   
            </table>
   
   
            <!-- 展示京豆数据列表 END -->
            <div id="pager" class="ui-pager page-fl-r"><a rel="1" class="ui-pager-current" href="javascript:void(0)" data-current="true">1</a><a rel="2" href="javascript:void(0)">2</a><a rel="2" class="ui-pager-next" href="javascript:void(0)">下一页</a></div>
            <div id="messageBar" style="display: none;">
               <div class="bar-pic">
                  <h2>没有查询到符合要求的京豆回馈哦~
                  </h2>
               </div>
            </div>
            <div style="clear: both;"></div>
            <!--/ /widget/pls-table/pls-table.tpl -->
         </div>
      </div>
   </div>
   <div id="gotop" style="position: fixed; right: 10px; bottom: 10px; display: block; z-index: 999; background-position: 0px -360px;"></div>
</div>