<div class="coupon">
   <div>
      <div class="head-container">
         <div class="header row"><a class="header__logo" href="/index" clstag="plus2017|keycount|MonthlyCoupon|h_word01"></a><a target="_blank" clstag="plus2017|keycount|MonthlyCoupon|h_word31" href="//plus.jd.com/right/index" class="header__item">PLUS 权益</a><a target="_blank"
               clstag="plus2017|keycount|MonthlyCoupon|h_word21" href="//sale.jd.com/act/IJNvTwAZbiMU.html" class="header__item">会员尊享</a><a target="_self" clstag="plus2017|keycount|MonthlyCoupon|h_word11" href="//plus.jd.com/index" class="header__item">PLUS 会员首页</a></div>
      </div>
      <div class="spree-wrap">
         <div class="spree-top">
            <div class="spree-cont spree-topcont">
               <div class="spree-tit">
                  <!-- react-text: 60 -->◆
                  <!-- /react-text --><span class="tit">每月100元全品类券大礼包</span>
                  <!-- react-text: 62 -->◆
                  <!-- /react-text -->
               </div>
               <div class="spree-circle-mod">
                  <div class="spree-circle">
                     <div>
                        <div class="spree-cwave">
                           <div class="cwave-cont">
                              <div class="cwave-progress" style="height: 100%;">
                                 <div class="wave-wrapper2">
                                    <div class="wave-inner inner-top">
                                       <div class="wave wave-top"></div>
                                    </div>
                                    <div class="wave-inner inner-middle">
                                       <div class="wave wave-middle"></div>
                                    </div>
                                    <div class="wave-inner inner-bottom">
                                       <div class="wave wave-bottom"></div>
                                    </div>
                                 </div>
                                 <div class="cwave-light"></div>
                              </div>
                           </div>
                        </div>
                        <div class="spree-ccont">
                           <div class="ccont-txt1">本月可领余额</div>
                           <div class="ccont-num"><span class="yen">¥</span><span class="num1">100</span>
                              <!-- react-text: 82 -->/
                              <!-- /react-text --><span class="num2">100</span></div>
                           <div class="ccont-opbtns"><a href="//quan.jd.com/" target="_blank" class="btn" clstag="plus2017|keycount|MonthlyCoupon|MyCoupon1">我的优惠券</a></div>
                           <div class="ccont-txt2"><span class="line1"></span>
                              <!-- react-text: 88 -->每日限量发放，0点更新
                              <!-- /react-text --><span class="line2"></span></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="spree-coupons">
                  <ul>
                     <li>
                        <div class="quan-item">
                           <div class="q-price-range">
                              <div class="q-price"><span class="yen">¥</span><strong class="num">5</strong><span class="q-limit"><!-- react-text: 99 -->满<!-- /react-text --><!-- react-text: 100 -->105<!-- /react-text --><!-- react-text: 101 -->起<!-- /react-text --></span></div>
                              <div class="q-range">全品类（特例商品除外）</div>
                           </div>
                           <div class="q-circle"></div>
                           <div>
                              <div class="q-progress">
                                 <div class="progress-wrap">
                                    <div class="progress-bg"></div>
                                    <div class="progress" style="width: 31%;"><span class="p-toolbar"></span></div>
                                 </div>
                                 <div class="progress-txt">今日限量1万张</div>
                              </div>
                              <div class="q-opbtns"><a href="javascript:;" data-discount="5" data-batchid="BA_b261qzx" class="get-btn" clstag="plus2017|keycount|MonthlyCoupon|Get">立即领取</a></div>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="quan-item">
                           <div class="q-price-range">
                              <div class="q-price"><span class="yen">¥</span><strong class="num">10</strong><span class="q-limit"><!-- react-text: 120 -->满<!-- /react-text --><!-- react-text: 121 -->200<!-- /react-text --><!-- react-text: 122 -->起<!-- /react-text --></span></div>
                              <div class="q-range">全品类（特例商品除外）</div>
                           </div>
                           <div class="q-circle"></div>
                           <div>
                              <div class="q-progress">
                                 <div class="progress-wrap">
                                    <div class="progress-bg"></div>
                                    <div class="progress" style="width: 34%;"><span class="p-toolbar"></span></div>
                                 </div>
                                 <div class="progress-txt">今日限量1万张</div>
                              </div>
                              <div class="q-opbtns"><a href="javascript:;" data-discount="10" data-batchid="BA_zb26sv3" class="get-btn" clstag="plus2017|keycount|MonthlyCoupon|Get">立即领取</a></div>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="quan-item">
                           <div class="q-price-range">
                              <div class="q-price"><span class="yen">¥</span><strong class="num">20</strong><span class="q-limit"><!-- react-text: 141 -->满<!-- /react-text --><!-- react-text: 142 -->500<!-- /react-text --><!-- react-text: 143 -->起<!-- /react-text --></span></div>
                              <div class="q-range">全品类（特例商品除外）</div>
                           </div>
                           <div class="q-circle"></div>
                           <div>
                              <div class="q-progress">
                                 <div class="progress-wrap">
                                    <div class="progress-bg"></div>
                                    <div class="progress" style="width: 25%;"><span class="p-toolbar"></span></div>
                                 </div>
                                 <div class="progress-txt">今日限量1万张</div>
                              </div>
                              <div class="q-opbtns"><a href="javascript:;" data-discount="20" data-batchid="BA_zb3ugao" class="get-btn" clstag="plus2017|keycount|MonthlyCoupon|Get">立即领取</a></div>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="quan-item">
                           <div class="q-price-range">
                              <div class="q-price"><span class="yen">¥</span><strong class="num">40</strong><span class="q-limit"><!-- react-text: 162 -->满<!-- /react-text --><!-- react-text: 163 -->1000<!-- /react-text --><!-- react-text: 164 -->起<!-- /react-text --></span></div>
                              <div class="q-range">全品类（特例商品除外）</div>
                           </div>
                           <div class="q-circle"></div>
                           <div>
                              <div class="q-progress">
                                 <div class="progress-wrap">
                                    <div class="progress-bg"></div>
                                    <div class="progress" style="width: 87%;"><span class="p-toolbar"></span></div>
                                 </div>
                                 <div class="progress-txt">今日限量1万张</div>
                              </div>
                              <div class="q-opbtns"><a href="javascript:;" data-discount="40" data-batchid="BA_b09pjzi" class="get-btn" clstag="plus2017|keycount|MonthlyCoupon|Get">立即领取</a></div>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="quan-item quan-gray-item">
                           <div class="q-price-range">
                              <div class="q-price"><span class="yen">¥</span><strong class="num">50</strong><span class="q-limit"><!-- react-text: 183 -->满<!-- /react-text --><!-- react-text: 184 -->1200<!-- /react-text --><!-- react-text: 185 -->起<!-- /react-text --></span></div>
                              <div class="q-range">全品类（特例商品除外）</div>
                           </div>
                           <div class="q-circle"></div>
                           <div>
                              <div class="q-status">
                                 <div class="status-ico ico1"></div>
                                 <div class="txt">今日已抢光</div>
                              </div>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="wave-wrapper">
               <div class="wave-inner inner-top">
                  <div class="wave wave-top"></div>
               </div>
               <div class="wave-inner inner-middle">
                  <div class="wave wave-middle"></div>
               </div>
               <div class="wave-inner inner-bottom">
                  <div class="wave wave-bottom"></div>
               </div>
            </div>
         </div>
         <div class="spree-cont">
            <div class="spree-rules">
               <div class="rules-tit"><span>◆</span><span class="tit">每月100元优惠券礼包领取规则</span><span>◆</span></div>
               <div class="cont">
                  <!-- react-text: 38 -->1.领取方式：100元全品类优惠券礼包内含面额不等的全品类东券，用户可自行组合领取
                  <!-- /react-text --><br>
                  <!-- react-text: 40 -->2.领取额度：每月领取的优惠券面额总计不得超过100元（如：领取一张105-5优惠券，领取的优惠面额则为5元，当月可领取优惠券剩余额度为95元）；同一面额优惠券可重复领取（如：一个月内领取两张200-10的优惠券，当月可领取优惠券剩余额度为80元）；当月领取额度到达上限100元后，将于下月1日重置额度；礼包中优惠券一旦确认领取，无论是否使用，都将扣除当月额度，请按需谨慎领取；
                  <!-- /react-text --><br>
                  <!-- react-text: 42 -->3.全品类东券使用范围：全品类商品可用，以下商品除外——全球购商品、商品详情页注明“不支持使用东券”的商品、投资金银及收藏品、结算页中不支持用券功能的商品，部分特殊商品；不能与京券叠加使用，可与运费券同时使用；
                  <!-- /react-text --><br>
                  <!-- react-text: 44 -->4.每月100元优惠券礼包中，全品类东券每日限量发放，每日0点更新库存；
                  <!-- /react-text --><br>
                  <!-- react-text: 46 -->5.已领取的优惠券，可在“我的优惠券”中查看；
                  <!-- /react-text --><br>
                  <!-- react-text: 48 -->6.全品类东券领取后24小时内有效，请及时使用；
                  <!-- /react-text --><br>
                  <!-- react-text: 50 -->7.优惠券不能分享，严禁出售。
                  <!-- /react-text --><br></div>
            </div>
         </div>
      </div>
   </div>
</div>