<div class="jingku-finance">
   <div class="jingku-finance-innerbox gird" ng-if="data">
      <div class="left" ads-click="{{data.baitiao[0]}}">
         <img img-lazy-load="{{data.baitiao[0].ad_img}}" title="镜库白条">
      </div>
      <div class="right">
         <div class="right-top" ads-click="{{data.congqiandai[0]}}">
            <img img-lazy-load="{{data.congqiandai[0].ad_img}}" title="镜库从钱贷">
         </div>
         <div class="right-bottom">
            <div class="right-bottom-left" ads-click="{{data.pos[0]}}">
               <img img-lazy-load="{{data.pos[0].ad_img}}" title="镜库POS">
            </div>
            <div class="right-bottom-right" ads-click="{{data.xinyong[0]}}">
               <img img-lazy-load="{{data.xinyong[0].ad_img}}" title="镜库信用">
            </div>
         </div>
      </div>
   </div>
</div>