<div class="fashion-main">
    <div class="brand-gg">
        <img src="img/fashionBigPic.jpg" alt="">
    </div>

    <div class="navc-wrap">
        <div class="nav-xdh all">
            <div class="zaki">全部分类<em></em></div>
            <ul class="xd-hd">
                <li class="on" ng-click="getAll()"><div class="wrp"><a href="">全部</a></div></li>
                <li ng-repeat="fitem in fashionData.data" repeat-done="xdFn()" ng-click="getFashion(fitem.cat_id,$event)" class=""><div class="wrp"><a href="">{{fitem.cat_name}}</a></div></li>
                <!--<li class=""><div class="wrp"><a href="#">透明隐形眼镜</a></div></li>-->
                <!--<li class=""><div class="wrp"><a href="#">透明隐形眼镜</a></div></li>-->
                <!--<li class=""><div class="wrp"><a href="#">透明隐形眼镜</a></div></li>-->
                <!--<li class=""><div class="wrp"><a href="#">透明隐形眼镜</a></div></li>-->
                <!--<li class=""><div class="wrp"><a href="#">透明隐形眼镜</a></div></li>-->
                <!--<li class=""><div class="wrp"><a href="#">透明隐形眼镜</a></div></li>-->
                <!--<li class=""><div class="wrp"><a href="#">透明隐形眼镜</a></div></li>-->
                <!--<li class=""><div class="wrp"><a href="#">透明隐形眼镜</a></div></li>-->
                <!--<li class=""><div class="wrp"><a href="#">透明隐形眼镜</a></div></li>-->
            </ul>
        </div>
    </div>

    <div ng-show="all" class="center-all" style="margin-top: 45px;">
        <div class="three">
            <div class="brand-block-ad gird">
                <a class="sPrev" ng-if="fashionHomeData.three_ad.length<3" href="javascript:void(0)"></a>
                <div class="tempWrap">
                    <ul>
                        <li ng-click="adLi(item.link_type.type_name,item.link_type.type_value)" ng-repeat="item in fashionHomeData.three_ad" repeat-done="brandFn()">
                            <img ng-src={{item.ad_img}} alt="">
                        </li>
                    </ul>
                </div>
                <a class="sNext" ng-if="fashionHomeData.three_ad.length<3" href="javascript:void(0)"></a>
            </div>
        </div>

        <div class="pinpai all">
            <ul class="cle">
                <li ng-repeat="cle in logoFashionData.data">
                    <div class="wrp">
                        <a href=""><img ng-src={{cle.brand_logo}}></a>
                        <div class="txt">
                            <p>{{cle.brand_name}}</p>
                            <a href="" ng-click="goList(cle.brand_id)" class="btnv">点击进入</a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="gdoo">展示更多<em></em></div>
        </div>
    </div>

    <div ng-if="anoAll" class="center-yx">
        <div class="xt-list">
            <ul class="cle">
                <li ng-click="adLi(list.link_type.type_name,list.link_type.type_value)" ng-repeat="list in fashionListData.data[0].ads">
                    <a href="">
                        <div class="wrp">
                            <div class="img"><img ng-src={{list.ad_img}}></div>
                            <div class="txt">{{list.ad_name}}</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <div class="next_fel" ng-click="next()">
        <p>点击查看下一个分类</p>
        <em></em>
    </div>
</div>

<script>
        $(".zaki").click(function(){
            $(this).parent().toggleClass("goot");
        });
</script>